<script>
    var requireJS = [];
    loadJS(requireJS, "js/common.js");
    loadJS(requireJS, "js/views/countries_list.js");
    loadCSS('css/flags/flags.min.css');


</script>
<div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <strong class="h4" th:text="#{settingsCountries}">Configuración - Países</strong>
                <br>
            </div>
            <div class="x_title">
                <div class="search-bar" style="overflow: auto">
                    <div class="col-md-12">
                        <input type="text" th:value="${q}" placeholder="Buscar..."  th:attr="placeholder=#{search} + '...'" name="q" id="q"/>
                        <span th:text="#{state}">Estado:</span>
                        <select name="status" id="status">
                            <option th:selected="${status == null  || status == '1'}" value="1" th:text="#{enabled}">Habilitados</option>
                            <option th:selected="${status != null  && status == '0'}" value="0" th:text="#{disabled}">No Habilitados</option>
                            <option th:selected="${status != null  && status == 'all'}" value="all" value="all" th:text="#{all}">Todos</option>
                        </select>
                        <button class="btn btn-info btn-sm" id="search-button"><i class="fa fa-search"></i>&nbsp;<span th:text="#{search}"></span></button>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="table-responsive-tall">
                <table class="table table-condensed table-striped jambo_table">
                    <thead>
                        <tr class="headings">                            
                            <th th:text="#{code}"></th>
                            <th th:text="#{country}"></th>
                            <th th:text="#{status}"></th>                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="item : ${page.content}">
                            <td>
                                <img src="/css/flags/blank.gif" class="flag" th:classappend="'flag-'+ ${#strings.toLowerCase(item.code)}" th:title="#{${#strings.toUpperCase(item.code)}}"/>
                                <span th:text="${item.code}"></span>
                            </td>
                            <td>
                                <a href="#" class="action-button" id="get-edit-country" th:attr="data-code=${item.code}">
                                    <i class="fa fa-pencil"></i>
                                    <span th:text="#{${item.code}}"></span>
                                </a>
                            </td>
                            <td> 
                                <a class="action-button" id="enable-country" th:attr="data-code=${item.code}">
                                    <span th:if="${item.enabled}" class="label label-primary" th:text="#{enabled}">Habilitado</span>
                                    <span th:if="${!item.enabled}" class="label label-danger" th:text="#{disabled}">No habilitado</span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div th:replace="frags/pagination :: paginationbar"></div>
    </div>

    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <strong class="h4" th:text="#{selectedCountry}">Pais seleccionado</strong>
                <br>
            </div>
            <form class="form-horizontal form-label-left" id="form-properties">

                <div class="form-group row">
                    <label class="col-md-3 col-sm-3  control-label" th:text="#{enabledIn}">Habilitado en</label>
                    <div class="col-md-9 col-sm-9 ">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="availableStore" id="availableStore"><span th:text="#{members.store}">Tienda</span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="availableBackoffice" id="availableBackoffice"><span th:text="#{backoffice}">Backoffice</span>
                            </label>
                        </div>                        
                    </div>
                </div>

                <div class="form-group row ">
                    <label class="control-label col-md-3 col-sm-3 " th:text="#{countryCode}">Código Pais</label>
                    <div class="col-md-9 col-sm-9 ">
                        <input name="code" id="code" type="text" class="form-control" readonly="readonly">
                    </div>
                </div>
                <div class="form-group row ">
                    <label class="control-label col-md-3 col-sm-3 " th:text="#{currencyCode}">Código Moneda </label>
                    <div class="col-md-9 col-sm-9 ">
                        <input type="text" name="currency" id="currency" class="form-control">
                    </div>
                </div>
                <div class="form-group row ">
                    <label class="control-label col-md-3 col-sm-3 " th:text="#{shipment.order}">Orden</label>
                    <div class="col-md-9 col-sm-9 ">
                        <input type="number" class="form-control" name="sortOrder" id="sortOrder">
                    </div>
                </div>
                <div class="form-group row ">
                    <label class="control-label col-md-3 col-sm-3 " th:text="#{defaultLanguage}">Idioma por defecto </label>
                    <div class="col-md-9 col-sm-9 ">
                        <input type="text" class="form-control" name="defaultLang" id="defaultLang">
                    </div>
                </div>
                <div class="form-group row ">
                    <label class="control-label col-md-3 col-sm-3 " th:text="#{locale}">Locale </label>
                    <div class="col-md-9 col-sm-9 ">
                        <input type="text" class="form-control" name="defaultLocale" id="defaultLocale">
                    </div>
                </div>
                <div class="form-group row ">
                    <label class="control-label col-md-3 col-sm-3 " th:text="#{urlFlag}">Url bandera</label>
                    <div class="col-md-8 col-sm-8 ">
                        <input type="text" class="form-control" name="flag" id="flag">
                    </div>
                    <div class="col-md-1 col-sm-1 ">
                        <a class="btn btn-sm btn-info form-control-sm" href="https://files.wingsmobile.com/upload" target="_blank"><i class="fa fa-upload"></i></a>
                    </div>
                </div>

                <div class="form-group row ">
                    <label class="control-label col-md-3 col-sm-3 " th:text="#{exchageRate}">Exchage Rate</label>
                    <div class="col-md-9 col-sm-9 ">
                        <input type="number" class="form-control" name="exchangeRate" id="exchangeRate">
                    </div>
                </div>

                <div class="form-group row ">
                    <label class="control-label col-md-3 col-sm-3 " th:text="#{populationLevel}">PopulationLevel</label>
                    <div class="col-md-9 col-sm-9 ">
                        <input type="number" class="form-control" name="populationLevel" id="populationLevel">
                        <small class="text-muted"> 1 &lt; 10M &gt; 2 &lt; 40M &gt; 3 </small>
                    </div>
                </div>
                <div class="form-group row ">
                    <label class="control-label col-md-3 col-sm-3 " th:text="#{countryLevel}">Country Level</label>
                    <div class="col-md-9 col-sm-9 ">
                        <select class="form-control" name="countryLevel" id="countryLevel">
                            <option th:each="level : ${countryLevels}" th:value="${level}" th:text="#{${level}}"></option>
                        </select>
                    </div>
                </div>

                <div class="form-group row ">
                    <label class="control-label col-md-3 col-sm-3 " th:text="#{IVA/VAT} + ' 1'">IVA/VAT 1</label>
                    <div class="col-md-9 col-sm-9 ">
                        <input type="number" class="form-control" required="required" name="iva1" id="iva1">
                    </div>
                </div>
                <div class="form-group row ">
                    <label class="control-label col-md-3 col-sm-3 " th:text="#{IVA/VAT} + ' 2'">IVA/VAT 2</label>
                    <div class="col-md-9 col-sm-9 ">
                        <input type="number" class="form-control" name="iva2" id="iva2">
                    </div>
                </div>
                <div class="form-group row ">
                    <label class="control-label col-md-3 col-sm-3 " th:text="#{IVA/VAT} + ' 3'">IVA/VAT 3</label>
                    <div class="col-md-9 col-sm-9 ">
                        <input type="number" class="form-control" name="iva3" id="iva3">
                    </div>
                </div>

                <div class="form-group row ">
                    <label class="control-label col-md-3 col-sm-3 " th:text="#{shippingCost} + ' 1'">Costo envio 1</label>
                    <div class="col-md-9 col-sm-9 ">
                        <input type="number" class="form-control" required="required" name="shipping1" id="shipping1">
                    </div>
                </div>

                <div class="form-group row ">
                    <label class="control-label col-md-3 col-sm-3 " th:text="#{shippingCost} + ' 2'">Costo envio 2</label>
                    <div class="col-md-9 col-sm-9 ">
                        <input type="number" class="form-control" name="shipping2" id="shipping2">
                    </div>
                </div>

                <div class="form-group row ">
                    <label class="control-label col-md-3 col-sm-3 " th:text="#{shippingCost} + ' 3'">Costo envio 3</label>
                    <div class="col-md-9 col-sm-9 ">
                        <input type="number" class="form-control" name="shipping3" id="shipping3">
                    </div>
                </div>

                <div class="form-group row ">
                    <label class="control-label col-md-3 col-sm-3 " th:text="#{shippingCost} + ' 4'">Costo envio 4</label>
                    <div class="col-md-9 col-sm-9 ">
                        <input type="number" class="form-control" name="shipping4" id="shipping4">
                    </div>
                </div>

                <div class="form-group row ">
                    <label class="control-label col-md-3 col-sm-3 " th:text="#{idSeparatedByCommas}">Identidad separadas por comas</label>
                    <div class="col-md-9 col-sm-9 ">
                        <input type="text" class="form-control" placeholder="DNI,RUT,RUC" name="dnisList" id="dnisList">
                    </div>
                </div>
                <div class="form-group row ">
                    <label class="control-label col-md-3 col-sm-3 " th:text="#{taxSeparatedByCommas}">Fiscal separadas por comas</label>
                    <div class="col-md-9 col-sm-9 ">
                        <input type="text" class="form-control" placeholder="CUIT,NIT,RUC" name="idtsList" id="idtsList">
                    </div>
                </div>                

                <div class="form-group row ">
                    <label class="control-label col-md-3 col-sm-3 " th:text="#{custom} + ' 1'">Custom 1</label>
                    <div class="col-md-9 col-sm-9 ">
                        <input type="text" class="form-control" name="custom1" id="custom1">
                    </div>
                </div>
                <div class="form-group row ">
                    <label class="control-label col-md-3 col-sm-3 " th:text="#{custom} + ' 2'">Custom 2</label>
                    <div class="col-md-9 col-sm-9 ">
                        <input type="text" class="form-control" name="custom2" id="custom2">
                    </div>
                </div>
                <div class="form-group row ">
                    <label class="control-label col-md-3 col-sm-3 " th:text="#{custom} + ' 3'">Custom 3</label>
                    <div class="col-md-9 col-sm-9 ">
                        <input type="text" class="form-control" name="custom3" id="custom3">
                    </div>
                </div>
                <div class="form-group row ">
                    <label class="control-label col-md-3 col-sm-3 " th:text="#{custom} + ' 4'">Custom 4</label>
                    <div class="col-md-9 col-sm-9 ">
                        <input type="text" class="form-control" name="custom4" id="custom4">
                    </div>
                </div>
                <div class="form-group row ">
                    <label class="control-label col-md-3 col-sm-3 " th:text="#{custom} + ' 5'">Custom 5</label>
                    <div class="col-md-9 col-sm-9 ">
                        <input type="text" class="form-control" name="custom5" id="custom5">
                    </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-9 col-sm-9  offset-md-3">
                        <a class="btn btn-success action-button" id="post-edit-country" >
                            <span th:text="#{btnSave}">Guardar2</span>
                        </a>
                    </div>
                </div>
            </form>
        </div>        
    </div>    
</div>

