<script>
    var requireJS = [];
</script>

<div class="page-title">
    <div class="title_left">
        <h3 th:text="#{ReporOfRanges}">Reporte de Rangos</small></h3>
    </div>
</div>

<div class="clearfix"></div>

<div class="row">

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <div class="col-md-12">                                                
                    <pre th:text="${line}"></pre>
                </div>
            </div>
        </div>
    </div>
</div>

