
<script>
    var requireJS = [];

    loadJS(requireJS, "js/common.js");
    loadJS(requireJS, "js/views/member_bonus.js");

</script>

<div class="page-title">
    <div class="title_left">
        <h3 th:text="#{differencialBonus}">Bono diferencial</small></h3>
    </div>
</div>

<div class="clearfix"></div>

<div class="row">

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">

                <div class="well" style="overflow: auto">
                    <div class="col-md-12">
                        <input type="text" th:value="${offer}" placeholder="Usuario entrega" th:attr="placeholder=#{deliveryUser}" name="offer" id="offer"/>
                        <span th:text="#{since}">Desde:</span>
                        <input type="date" th:value="${from}" placeholder="Desde" name="from" id="from"/>
                        <span th:text="#{until}">Hasta:</span>
                        <input type="date" th:value="${to}" placeholder="Hasta" name="to" id="to"/>
                        <span th:text="#{records}">Registros:</span>
                        <select name="size" id="size">
                            <option th:selected="${size == null || (size != null && size == '20')}" value="20">20</option>
                            <option th:selected="${size != null && size == '50'}" value="50">50</option>
                            <option th:selected="${size != null && size == '100'}" value="100">100</option>
                            <option th:selected="${size != null && size == '500'}" value="500">500</option>
                            <option th:selected="${size != null && size == '1000'}" value="1000">1000</option>
                        </select>                        
                       
                        <button class="btn btn-info btn-sm" id="search-button"><i class="fa fa-search"></i>&nbsp;<span th:text="#{search}"></span></button>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

            <div>
                <div class="table-responsive">
                    <table class="table table-condensed table-striped jambo_table">
                        <thead>
                            <tr class="headings">
                                <th th:text="#{bonus.userReceive}"></th>
                                <th th:text="#{bonus.rank}"></th>
                                <th th:text="#{bonus.username}"></th>
                                <th th:text="#{bonus.userOffer}"></th>
                                <th th:text="#{bonus.rank}"></th>
                                <th th:text="#{bonus.username}"></th>                                
                                <th th:text="#{bonus.points}"></th>
                                <th th:text="#{bonus.earnings}"></th>
                                <th th:text="#{bonus.comment}"></th>
                                <th th:text="#{bonus.date}"></th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>

                        <tbody>

                            <tr th:each="item : ${page.content}">
                                <td th:text="${item.receiveUser}"></td>
                                <td th:text="${item.receiveRank}"></td>
                                <td th:text="${item.receiveUser.username}"></td>
                                <td th:text="${item.offerUser}"></td>
                                <td th:text="${item.offerRank}"></td>
                                <td th:text="${item.offerUser.username}"></td>
                                <td th:text="${item.quantityRank}"></td>
                                <td th:text="${item.getQuantityPayText()}"></td>
                                <td th:text="${item.comment}"></td>
                                <td th:if="${item.date != null}" th:text="${#dates.format(item.date, 'dd/MM/yyyy')}" th:title="${#dates.format(item.date, 'dd/MM/yyyy HH:mm:ss')}"></td>
                                <td th:if="${item.date == null}">--</td>
                                <td>
                                    <i class="fa fa-eye action-button" id="view-event"  th:attr="data-id=${item.eventId}"  title="Ver Evento"></i>
                                </td>
                            </tr>

                        </tbody>
                    </table>

                    <div class="row-fluid">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="tile-stats">
                                <div class="icon"><i class="fa fa-circle-o"></i></div>
                                <div class="count" th:text="${sums.quantityRank}"></div>
                                <h4 th:text="#{bonus.points}"></h4>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="tile-stats">
                                <div class="icon"><i class="fa fa-money"></i></div>
                                <div class="count" th:text="${sums.getQuantityPayText()}"></div>
                                <h4 th:text="#{bonus.earnings}"></h4>
                            </div>
                        </div>
                    </div>


                </div>


            </div>
        </div>
        <div th:replace="frags/pagination :: paginationbar"></div>

    </div>

</div>

