<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
    <head th:replace="frags/head"></head>
    <body>
        <div th:replace="frags/header"></div>

        <section class="section-main bg padding-y-sm" th:if="${message}">
            <div class="container text-center">
                <div class="alert alert-success alert-dismissible">
                    <p th:text="#{${message}}"></p>
                </div>
            </div>
        </section>

        <!--<section class="section-main bg padding-y-sm" th:if="${session.sponsor != null}">
            <div class="container">
                <figure class="mt-3 banner p-3 bg-secondary front-page-banner">
                    <div class="text-lg text-center white">
                        <img src="images/banners/banner_adiliado.png" height="70px"/>
                    </div>
                </figure>
            </div>
        </section>-->


        <section class="section-main bg padding-y-sm">
            <div class="container">
                <div class="card">
                    <div class="card-body">
                        <div class="row row-sm1">
                            <aside class="col-md-3">
                                <h5 class="text-uppercase" th:text="#{menu.categories}">Categorías</h5>
                                <ul class="menu-category">
                                    <li th:each="category : ${categories}">
                                        <a th:href="|q/${category}|" th:text="#{'menu.' + ${category}}"></a>
                                    </li>
                                </ul>
                            </aside>

                            <div class="col-md-9">
                                <div class="owl-init slider-main owl-carousel" data-items="1" data-nav="true" data-dots="false">
                                    <div class="item-slide">
                                        <a href="/franchise">
                                            <img src="images/slides/slides_1.png">                                            
                                        </a>
                                    </div>
                                    <div class="item-slide">
                                        <a href="/list">
                                            <img src="images/slides/slides_2.png">                                            
                                        </a>
                                    </div>
                                    <div class="item-slide">
                                        <a href="https://minephone.bitwings.org/" target="_blank">
                                            <img src="images/slides/slides_3.png">                                            
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <figure class="mt-3 banner p-3 bg-secondary front-page-banner">
                    <div class="text-lg text-center white">
                        <a href="/franchise">
                            <img src="images/banners/logo-wingstore-blanco.png" height="70px"/>
                        </a>
                    </div>
                </figure>
            </div>
        </section>

        <section class="section-content padding-y-sm bg">
            <div class="container">

                <header class="section-heading heading-line">
                    <h4 class="title-section bg" th:text="#{index.afiliation}">AFILIACION</h4>
                </header>

                <div class="card">
                    <div class="row no-gutters">
                        <div class="col-md-3">

                            <article href="#" class="card-banner h-100 bg2">
                                <div class="card-body zoom-wrap">
                                    <h5 class="title" th:text="#{index.afiliation.title}">¿Preparado para llevar el estilo de vida que mereces?</h5>
                                    <p th:text="#{index.afiliation.content}">
                                        Diviértete y disfruta creando tu propio negocio de la forma más fácil.
                                        Te ofrecemos 3 formas simples y potentes para ayudarte a crear tu negocio.
                                    </p>
                                    <a href="/afiliation" class="btn btn-warning" th:text="#{index.afiliation.more}">  Leer más » </a>
                                    <img src="images/banners/icono_afiliados.png" height="200" class="img-bg zoom-in">
                                </div>
                            </article>

                        </div> <!-- col.// -->
                        <div class="col-md-9">
                            <ul class="row no-gutters border-cols">
                                <li class="col-6 col-md-3" th:each="kit : ${kits}" th:object="${kit}">
                                    <a href="/q/kit" class="itembox">
                                        <div class="card-body">
                                            <p class="word-limit" th:text="*{title}"></p>
                                            <div class="text-center">                                                
                                                <img class="img-sm" th:src="*{image}">
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>
        </section>

        <section class="section-request bg padding-y-sm">
            <div class="container">
                <header class="section-heading heading-line">
                    <h4 class="title-section bg text-uppercase">Wings Store</h4>
                </header>

                <div class="row">
                    <div class="col-md-8">
                        <figure class="card-banner banner-size-lg">
                            <figcaption class="overlay left">
                                <br>
                                <h2 style="max-width: 300px;" th:text="#{index.store.title}">¿Buscas abrir un negocio con máxima rentabilidad y una mínima inversión?</h2>
                                <br>
                                <a class="btn btn-warning" href="/franchise" th:text="#{index.afiliation.more}">Leer más » </a>
                            </figcaption>
                            <img src="images/banners/banner_tienda.png">
                        </figure>
                    </div>

                    <div class="col-md-4">
                        <div class="card card-body">
                            <h5 class="title py-4" th:text="#{index.store.contactme}">Quiero que me contacten con más información.</h5>
                            <p th:text="#{index.afiliation.input}">Introduce tus datos para que un asesor se contacte contigo.</p>
                            <form method="post" action="/contact">
                                <div class="form-group">
                                    <input class="form-control" name="name" type="name" th:placeholder="#{placeholder.name}" required="required">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" name="email" type="email" th:placeholder="#{placeholder.email.long}" required="required">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-warning" th:text="#{index.store.require}">Solicitar información.</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </section>


        <section class="section-request bg padding-y-sm">
            <div class="container">
                <header class="section-heading heading-line">
                    <h4 class="title-section bg text-uppercase" th:text="#{index.popular}">Más populares</h4>
                </header>

                <div class="row-sm">
                    <div class="col-md-3" th:each="item : ${items}" th:object="${item}">
                        <figure class="card card-product">
                            <a th:href="|/details/*{id}|">
                                <div class="img-wrap padding-20"> 
                                    <img th:src="*{image}"  onerror="this.src='/images/no_logo.png'">
                                </div>
                                <figcaption class="info-wrap">
                                    <h6 class="title fixed-heigth">
                                        <a th:href="|/details/*{id}|" th:text="*{title}"></a>
                                    </h6>
                                    <div class="price-wrap">
                                        <span class="price-new" th:text="${item.priceString}"></span>
                                        <!--<del class="price-old">$1980</del>-->
                                    </div>
                                </figcaption>
                            </a>
                        </figure> 
                    </div>
                </div>

                <figure class="mt-3 banner p-3 bg-secondary front-page-banner">
                    <div class="text-lg text-center white">
                        <a href="https://minephone.bitwings.org"><img src="images/banners/minephonewx.png" height="70px"/></a>
                    </div>
                </figure>

            </div>
        </section>


        <section class="section-links bg padding-y-sm">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <header class="section-heading heading-line">
                            <h4 class="title-section bg text-uppercase" th:text="#{index.countries}">Paises</h4>
                        </header>
                        <ul class="list-icon row">

                            <li class="col-md-4" th:each="country : ${session.countries}">
                                <a href="#"><img th:src="|images/flags/${country.code.toLowerCase()}.png|"><span th:text="#{${country.code}}">España</span></a></li>
                            </li>
                        </ul>
                    </div> 

                    <div class="col-sm-6">
                        <header class="section-heading heading-line">
                            <h4 class="title-section bg text-uppercase" th:text="#{footer.documents}">Documentos</h4>
                        </header>
                        <ul class="list-icon row">
                            <li class="col-md-4">
                                <a th:href="'/docs/afiliation_contract_' + ${#strings.toLowerCase(session.country)} + '.pdf'" target="_blank">
                                    <i class="icon fa fa-file-pdf"></i>
                                    <span th:text="#{footer.documents.afiliation}">Contrato de afiliación</span>
                                </a>
                            </li>
                            <li class="col-md-4">
                                <a th:href="'/docs/privacy_' + ${#strings.toLowerCase(session.country)} + '.pdf'" target="_blank">
                                    <i class="icon fa fa-file-pdf"></i>
                                    <span th:text="#{footer.documents.privacy}">Aviso de privacidad</span>
                                </a>                                
                            </li>
                            <li class="col-md-4">
                                <a th:href="'/docs/conduct_' + ${#strings.toLowerCase(session.country)} + '.pdf'" target="_blank">
                                    <i class="icon fa fa-file-pdf"></i>
                                    <span th:text="#{footer.documents.conduct}">Código de conducta</span>
                                </a>
                            </li>
                            <li class="col-md-4">
                                <a th:href="'/docs/ethic_' + ${#strings.toLowerCase(session.country)} + '.pdf'" target="_blank">
                                    <i class="icon fa fa-file-pdf"></i>
                                    <span th:text="#{footer.documents.ethic}">Código de ética</span>
                                </a>
                            </li>
                            <li class="col-md-4">
                                <a th:href="'/docs/data_' + ${#strings.toLowerCase(session.country)} + '.pdf'" target="_blank">
                                    <i class="icon fa fa-file-pdf"></i>
                                    <span th:text="#{footer.documents.data}">Política de tratamiento de dátos</span>                               
                                </a>
                            </li>
                            <li class="col-md-4">
                                <a th:href="'/docs/service_' + ${#strings.toLowerCase(session.country)} + '.pdf'" target="_blank">
                                    <i class="icon fa fa-file-pdf"></i>
                                    <span th:text="#{footer.documents.terms}">Términos y condiciones del servicio</span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>

            </div>
        </section>

        <div th:replace="frags/suscribe"></div>

        <div th:replace="frags/footer"></div>
        <div th:replace="frags/scripts_index"></div>

    </body>
</html>