<!DOCTYPE HTML>
<html lang="es">
    <head th:replace="frags/head"></head>
    <body>
        <div th:replace="frags/header"></div>

        <section class="section-content bg padding-y-sm">
            <div class="container">
                <div th:replace="frags/breadcrumb"></div>
                <div class="p5"><!--separator--></div>

                <div class="row">
                    <div class="col-12" th:if="${items.size() == 0}">
                        <div class="alert alert-info">
                            <h4 class="text-muted" th:text="#{listing.empty}">No se encontraron resultados disponibles...</h4>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4" th:each="item : ${items}" th:object="${item}">
                        <figure class="card card-product">
                            <div class="img-wrap padding-20">
                                <a th:href="|/details/*{id}|"><img th:src="*{image}" onerror="this.src='/images/no_logo.png'"/></a>
                            </div>
                            <figcaption class="info-wrap2">
                                <h5 class="title">
                                    <a th:href="|/details/*{id}|" th:text="*{title}"></a>
                                </h5>
                            </figcaption>
                            <div class="bottom-wrap">
                                <a th:href="|/details/*{id}|" class="btn btn-sm btn-primary float-right " th:text="#{listing.buy}">
                                    Comprar
                                </a>	
                                <div class="price-wrap h5">
                                    <span class="price-new" th:text="${item.priceString}"></span>
                                </div> 
                            </div>
                        </figure>
                    </div>
                </div>
            </div>
        </section>
        <div th:replace="frags/footer"></div>
        <div th:replace="frags/scripts_index"></div>
    </body>
</html>