<script>
    var requireJS = [];
    loadJS(requireJS, "js/common.js");
    loadJS(requireJS, "js/views/member_main.js");
</script>

<div class="row" th:if="${wallet != null}" id="reclaim-block">
    <div class="col-sm-12 col-md-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2 th:text="#{statusOfYourWallet}">Estado de tu billetera</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <p th:text="#{myWallet}">Mi billetera</p>
                <strong th:text="${wallet}"></strong>
                <br/>
                <br/>
                <a th:href="'https://etherscan.io/address/' + ${wallet} +'#tokentxns'" target="_blank">
                    <i class="fa fa-external-link"></i>
                    <span th:text="#{etherscan}">Ver mi billetera en etherscan.io</span>                    
                </a>                
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<div th:if="${wallet == null}">
    <div class="row" th:if="${reclaimBwn}" id="reclaim-block">
        <div class="col-sm-12 col-md-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2 th:text="#{claimYourBitwings}">Reclama tus Bitwings</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p style="display:inline" th:text="#{correspondBWN}">Te corresponden</p>&nbsp;<strong th:text="${bwnAmount}"></strong>&nbsp;<p style="display:inline" th:text="#{BWNwallet}"> BWN, ingresa tu billetera(wallet) para que sean asignados!</p>
                    <small th:text="#{bitwingsAllocation}">Una vez ingresada, la asignación de BWN puede demorar hasta 72hs</small>
                    <br/>
                    <form class="form-horizontal" id="form-claim">
                        <div class="form-group">
                            <input type="text" class="form-control" name="wallet" id="wallet" placeholder="ej: 0xEAfa188Ac12e331B52E585eA6298F8138e23c0E6"/>
                        </div>
                        <button type="submit" class="btn btn-success action-claim" th:text="#{claim}">Reclamar</button>
                    </form>
                    <a href="https://www.youtube.com/watch?v=bD3qZF8MxtQ" target="_blank">
                        <i class="fa fa-external-link"></i>
                        <span th:text="#{InstructionsCreateWallet}">Instrucciones para crear la billetera.</span>
                    </a>
                    <br/>
                    <a href="https://www.myetherwallet.com/" target="_blank">
                        <i class="fa fa-external-link"></i>
                        <span th:text="#{MyEtherWallet}">My Ether Wallet</span>
                    </a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" th:if="${!reclaimBwn}" id="reclaim-block">
        <div class="col-sm-12 col-md-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2 th:text="#{noCorrespondBWN}">No corresponden Bitwings</h2>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>