
<script>
    var requireJS = [];

    loadJS(requireJS, "js/common.js");
    loadJS(requireJS, "js/views/members-content.js");

</script>

<div class="page-title">
    <div class="title_left">
        <h3 th:text="#{corporateMaterial}">Material Corporativo</small></h3>
    </div>
</div>

<div class="clearfix"></div>

<div class="row">

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">

                <div class="search-bar" style="overflow: auto">
                    <div class="col-md-12">
                        <input type="text" th:value="${q}" placeholder="Buscar..." th:attr="placeholder=#{search} + '...'" name="q" id="q"/>
                        <span th:text="#{records}">Registros:</span>                        
                        <select name="size" id="size">
                            <option th:selected="${size == null || (size != null && size == '20')}" value="20">20</option>
                            <option th:selected="${size != null && size == '50'}" value="50">50</option>
                            <option th:selected="${size != null && size == '100'}" value="100">100</option>
                            <option th:selected="${size != null && size == '500'}" value="500">500</option>
                            <option th:selected="${size != null && size == '1000'}" value="1000">1000</option>
                        </select>
                        &nbsp;
                        <span th:text="#{type}">Tipo:</span>
                        <select name="type" id="type">
                            <option th:selected="${type == null || (type != null && type == 'all')}" value="all" th:text="#{all}"></span></option>
                            <option th:selected="${type != null && type == 'image'}" value="image" th:text="#{image}"></option>
                            <option th:selected="${type != null && type == 'pdf'}" value="pdf">Pdf</option>
                            <option th:selected="${type != null && type == 'presentation'}" value="presentation" th:text="#{presentation}"></option>
                            <option th:selected="${type != null && type == 'video'}" value="video" th:text="#{video}"></option>
                            <option th:selected="${type != null && type == 'text'}" value="text" th:text="#{text}"></option>
                            <option th:selected="${type != null && type == 'word'}" value="word" th:text="#{document}"></option>
                            <option th:selected="${type != null && type == 'zip'}" value="zip">Zip</option>
                        </select>

                        <button class="btn btn-info btn-sm" id="search-button"><i class="fa fa-search"></i>&nbsp;<span th:text="#{search}"></span></button>

                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="row">

                <h3 th:if="${page.content.isEmpty()}" th:text="#{noPublishedMaterial}">No se encontró material publicado</h3>

                <div class="col-md-3 col-xs-12 widget widget_tally_box" th:each="item : ${page.content}">
                    <div class="x_panel fixed_height_490">                        
                        <div class="x_title">

                            <h4 th:if="${#strings.containsIgnoreCase(item.mimeType,'presentation')}">
                                <i class="fa fa-file-powerpoint-o"></i>&nbsp;&nbsp;<span th:text="#{presentation}">Presentación</span>
                            </h4>
                            <h4 th:if="${#strings.containsIgnoreCase(item.mimeType,'video')}">
                                <i class="fa fa-file-video-o"></i>&nbsp;&nbsp;<span th:text="#{video}">Video</span>
                            </h4>
                            <h4 th:if="${#strings.containsIgnoreCase(item.mimeType,'pdf')}">
                                <i class="fa fa-file-pdf-o"></i><span>  PDF</span>
                            </h4>
                            <h4 th:if="${#strings.containsIgnoreCase(item.mimeType,'image')}">
                                <i class="fa fa-file-image-o"></i>&nbsp;&nbsp;<span th:text="#{image}">Imágen</span>
                            </h4>
                            <h4 th:if="${#strings.containsIgnoreCase(item.mimeType,'word')}">
                                <i class="fa fa-file-word-o"></i>&nbsp;&nbsp;<span th:text="#{document}">Documento</span>
                            </h4>
                            <h4 th:if="${#strings.containsIgnoreCase(item.mimeType,'text')}">
                                <i class="fa fa-file-text-o"></i>&nbsp;&nbsp;<span th:text="#{text}">Texto</span>
                            </h4>
                            <h4 th:if="${#strings.containsIgnoreCase(item.mimeType,'zip')}">
                                <i class="fa fa-file-zip-o"></i><span>  Zip</span>
                            </h4>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div style="text-align: center; margin-bottom: 17px">
                                <img th:src="'/content-get/' + ${item.hashThumb}" width="250" height="150"/>
                            </div>
                            <h3 class="name_title" th:text="${item.title}">Titulo del contenido</h3>
                            <p><a th:href="'/content-get/' + ${item.hashFile}" download="true">Descargar <i class="fa fa-download"></i></a></p>
                            <div class="divider"></div>
                            <p th:text="${item.description}">Description</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div th:replace="frags/pagination :: paginationbar"></div>
</div>

