<div class="page-title">
    <div class="title_left">
        <h3><span th:text="#{tools}">Herramientas</span> - <span th:text="#{tools.formation}">Formación y Prospección</span></h3>
    </div>
</div>

<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Media Gallery <small> gallery design </small></h2>                
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <div class="row">

                    <p>Media gallery design emelents</p>

                    <div class="col-md-55">
                        <div class="thumbnail">
                            <div class="image view view-first">
                                <img style="width: 100%; display: block;" src="images/media.jpg" alt="image">
                                <div class="mask">
                                    <p>Your Text</p>
                                    <div class="tools tools-bottom">
                                        <a href="#"><i class="fa fa-link"></i></a>
                                        <a href="#"><i class="fa fa-pencil"></i></a>
                                        <a href="#"><i class="fa fa-times"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="caption">
                                <p>Snow and Ice Incoming for the South</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

