<a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
    <i class="fas fa-bars"></i>
</a>

<div hidden th:text="#{navigation.payment.users}"></div>
<div hidden th:text="#{navigation.payment.view.users}"></div>
<div hidden th:text="#{navigation.payment.change.password}"></div>

<nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
        <div class="sidebar-brand">
            <div class="sidebar-brand-text rotate-n-15">
                <i class="fas fa-shopping-cart"></i>
            </div>
            <a class="sidebar-brand-text mx-3" th:text="#{navigation.payment.name}">Pagos </a>
        </div>
        <div class="sidebar-header">
            <div class="user-pic">
                <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg" alt="User picture">
            </div>
            <div class="user-info">
            <span sec:authorize="isAuthenticated()" class="user-name">
            <strong sec:authentication="name" class="text-uppercase"></strong>
            </span>
                <span th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" th:text="#{logged.user.admin}" class="user-role"></span>
                <span th:if="!${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" th:text="#{logged.user.user}" class="user-role"></span>
                <span class="user-status">
            <i class="fa fa-circle"></i>
            <span>Online</span>
            </span>
            </div>
        </div>
        <div class="sidebar-menu">
            <ul>
                <li class="header-menu">
                    <span>General</span>
                </li>
                <li>
                    <a class="nav-link collapsed" th:href="@{/admin}" data-target="#collapseServices" aria-expanded="true" aria-controls="collapseServices">
                        <i class="fas fa-shopping-cart"></i>
                        <span th:text="#{navigation.payment.requests}">Payment Requests</span>
                    </a>
                </li>
                <div sec:authorize="hasRole('ROLE_ADMIN')">
                    <li class="header-menu">
                        <span>Admin</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link collapsed" th:href="@{/admin/gateways}" data-target="#collapseSecurity" aria-expanded="true" aria-controls="collapseSecurity">
                            <i class="fa fa-shield-alt"></i>
                            <span>Gateways</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="#collapseExample" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample">
                            <i class="fa fa-user"></i>
                            <span th:text="#{navigation.payment.users}">Usuarios</span>
                        </a>
                        <div class="collapse rounded-sm" id="collapseExample" style="background-color: #0A3850;">
                                <a class="nav-link collapsed" th:href="@{/admin/users}" data-target="#collapseSecurity" aria-expanded="true" aria-controls="collapseSecurity">
                                    <i class="fa fa-shield-alt"></i>
                                    <span th:text="#{navigation.payment.view.users}"></span>
                                </a>
                                <a class="nav-link collapsed" th:href="|@{/user/password/}${#authentication.name}|" data-target="#collapseSecurity" aria-expanded="true" aria-controls="collapseSecurity">
                                    <i class="fa fa-shield-alt"></i>
                                    <span th:text="#{navigation.payment.change.psw}"></span>
                                </a>
                        </div>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</nav>