<script>
    var requireJS = [];
    loadJS(requireJS, "js/common.js");
    loadJS(requireJS, "js/views/reports_orders_pending.js");
</script>

<div class="page-title">
    <div class="title_left">
        <h3 th:text="#{reports.orders.pendingByCountry}"></h3>
    </div>
</div>

<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <div class="search-bar" style="overflow: auto">
                    <div class="col-md-12">                        
                        <span th:text="#{countryName} + ':'">País:</span>                  
                        <select name="country" id="country">
                            <option th:selected="${country == 'all'}" value="all" th:text="#{all}">Todos</option>
                            <option th:selected="${country == 'ES'}" value="ES" th:text="#{ES}">España</option>
                            <option th:selected="${country == 'CO'}" value="CO" th:text="#{CO}">Colombia</option>
                            <option th:selected="${country == 'PE'}" value="PE" th:text="#{PE}">Perú</option>
                            <option th:selected="${country == 'EC'}" value="EC" th:text="#{EC}">Ecuador</option>
                            <option th:selected="${country == 'OT'}" value="OT" th:text="#{others}">Otros</option>
                        </select>
                        &nbsp;
                        <span th:text="#{year} + ':'">Año:</span>                
                        <select id="year" name="year">
                            <option value="-1" th:selected="${year == null || year == '-1'}" th:text="#{all}">Todos</option>
                            <option value="2017" th:selected="${year != null && year == '2017'}">2017</option>
                            <option value="2018" th:selected="${year != null && year == '2018'}">2018</option>    
                            <option value="2019" th:selected="${year != null && year == '2019'}">2019</option>    
                            <option value="2020" th:selected="${year != null && year == '2020'}">2020</option>    
                            <!--<option value="2021" th:selected="${year != null && year == '2021'}">2021</option>-->
                        </select>
                        &nbsp;
                        <span th:text="#{currency} + ':'">Moneda:</span>
                        <select name="currency" id="currency">
                            <option th:selected="${currency == null || currency == 'all'}" value="all" th:text="#{local}">Local</option>
                            <option th:selected="${currency == 'EUR'}" value="EUR">Euro</option>
                            <option th:selected="${currency == 'COP'}" value="COP">Pesos Colombianos</option>
                            <option th:selected="${currency == 'USD'}" value="USD">Dólares</option>
                            <option th:selected="${currency == 'PEN'}" value="PEN">Soles Peruanos</option>
                        </select>
                        &nbsp;
                        <button class="btn btn-info btn-sm" id="search-button"><i class="fa fa-search"></i>&nbsp;<span th:text="#{search}"></span></button>
                        <a class="btn btn-info export pull-right" target="_blank" id="export" ><i class="fa fa-file-excel-o"></i> Exportar emails</a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <div class="table-responsive-tall">
                    <div th:each="year: ${years}">
                        <label th:text="${year}"></label>
                        <table class="table table-condensed table-striped jambo_table">
                            <thead>
                                <tr class="headings">
                                    <th th:text="#{product}"></th>
                                    <th th:if="${countries.countryDtos.size() > 1}" th:text="#{total}"></th>
                                    <th th:each="country : ${countries.countryDtos}" th:text="#{${country.country}}"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="key: ${products.keySet()}">
                                    <td th:text="${products.get(key)}"></td>
                                    <td th:if="${countries.countryDtos.size() > 1}" th:text="${countries.pendings(key, year)}" ></td>
                                    <td th:each="country: ${countries.countryDtos}">                                        
                                        <a class="action-button"  href="#" th:attr="data-country=${country.country}, data-year=${year}, data-item=${key}, data-currency=${currency}">
                                            <span th:text="${country.getTotalPending(key, year)}"> </span>
                                        </a>
                                    </td>
                                </tr>
                                <tr style="font-weight: bold;">
                                    <td th:text="#{total}" class="table-primary"></td>
                                    <td th:if="${countries.countryDtos.size() > 1}" th:text="${countries.pendings(null, year)}"></td>
                                    <td th:each="country: ${countries.countryDtos}" th:text="${country.getTotalPending(year)}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>