<script>
    var requireJS = [];
    loadJS(requireJS, "js/common.js");
    loadJS(requireJS, "js/views/reports_products.js");
</script>

<div class="page-title">
    <div class="title_left">
        <h3 th:text="#{reports.orders.totalProductsByCountry}"></h3>
    </div>
</div>

<div class="clearfix"></div>

<div class="row">
    <div class="alert alert-warning" role="alert" >
        <span th:text="#{OnlyInformationDisplayed}">Solo se trae información de aquellos pedidos que cumplan con lo siguiente:</span>
        <ul>
            <li th:text="#{theyArePaid}">Están pagas.</li>
            <li th:text="#{DoNotBeFree}">No sean gratis.</li>
            <li th:text="#{theyAreNotDeleted}">No están borradas.</li>
            <li th:text="#{affiliateDoesNotOwe}">Si el afiliado no debe cuotas</li>
            <!--<li>Si el afiliado no tiene upgrade sin pagar</li>
            <li>Si el afiliado no tiene más de un upgrade pago</li>-->
        </ul>
        <strong th:text="#{important}">¡IMPORTANTE!</strong>&nbsp;<span th:text="#{delayInProcessingReport}">Mientras más información se requiera, más va a demorar en procesar el reporte.</span>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <div class="search-bar" style="overflow: auto">
                    <div class="col-md-12">                        
                        <span th:text="#{countryName}">País:</span>                  
                        <select name="country" id="country">
                            <option th:selected="${country == 'all'}" value="all" th:text="#{all}">Todos</option>
                            <option th:selected="${country == 'ES'}" value="ES" th:text="#{ES}">España</option>
                            <option th:selected="${country == 'CO'}" value="CO" th:text="#{CO}">Colombia</option>
                            <option th:selected="${country == 'PE'}" value="PE" th:text="#{PE}">Perú</option>
                            <option th:selected="${country == 'EC'}" value="EC" th:text="#{EC}">Ecuador</option>
                        </select>
                        &nbsp;
                        <span th:text="#{month}">Mes:</span>
                        <select id="month" name="month">
                            <option value="-1" th:selected="${month == null || month == '-1'}" th:text="#{all}">Todos</option>
                            <option value="1" th:selected="${month != null && month == '1'}" th:text="#{january}">Enero</option>
                            <option value="2" th:selected="${month != null && month == '2'}" th:text="#{february}">Febrero</option>
                            <option value="3" th:selected="${month != null && month == '3'}" th:text="#{march}">Marzo</option>
                            <option value="4" th:selected="${month != null && month == '4'}" th:text="#{april}">Abril</option>
                            <option value="5" th:selected="${month != null && month == '5'}" th:text="#{may}">Mayo</option>
                            <option value="6" th:selected="${month != null && month == '6'}" th:text="#{june}">Junio</option>
                            <option value="7" th:selected="${month != null && month == '7'}" th:text="#{july}">Julio</option>
                            <option value="8" th:selected="${month != null && month == '8'}" th:text="#{august}">Agosto</option>
                            <option value="9" th:selected="${month != null && month == '9'}" th:text="#{september}">Septiembre</option>
                            <option value="10" th:selected="${month != null && month == '10'}" th:text="#{october}">Octubre</option>
                            <option value="11" th:selected="${month != null && month == '11'}" th:text="#{november}">Noviembre</option>
                            <option value="12" th:selected="${month != null && month == '12'}" th:text="#{december}">Diciembre</option>                                 
                        </select>
                        &nbsp;
                        <span th:text="#{year}">Año:</span>
                        <select id="year" name="year">
                            <option value="-1" th:selected="${year == null || year == '-1'}" th:text="#{all}">Todos</option>
                            <option value="2017" th:selected="${year != null && year == '2017'}">2017</option>
                            <option value="2018" th:selected="${year != null && year == '2018'}">2018</option>    
                            <option value="2019" th:selected="${year != null && year == '2019'}">2019</option>    
                            <option value="2020" th:selected="${year != null && year == '2020'}">2020</option>    
                            <!--<option value="2021" th:selected="${year != null && year == '2021'}">2021</option>-->
                        </select>
                        &nbsp;
                        <span th:text="#{since}">Desde:</span>
                        <input type="date" th:value="${from}" placeholder="Desde" name="from" id="from"/>
                        &nbsp;
                        <span th:text="#{until}">Hasta:</span>
                        <input type="date" th:value="${to}" placeholder="Hasta" name="to" id="to"/>
                        &nbsp;
                        &nbsp;
                        Pago:
                        <select id="installment" name="installment">
                            <option value="1" th:selected="${installment == null || installment == '1'}">Todos</option>
                            <option value="2" th:selected="${installment != null && installment == '2'}">Pago Completo</option>
                            <option value="3" th:selected="${installment != null && installment == '3'}">Pago Parcial</option>       
                            <!--<option value="2021" th:selected="${year != null && year == '2021'}">2021</option>-->
                        </select>
                        <button class="btn btn-info btn-sm" id="search-button"><i class="fa fa-search"></i> Buscar</button>
                        <a class="btn btn-info export pull-right" target="_blank" id="export" ><i class="fa fa-file-excel-o"></i> Exportar</a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <div class="table-responsive-tall">
                    <div th:each="country: ${countries}">
                        <div th:each="year: ${years}">
                            <div th:if="${installment.equals('1') || installment.equals('2')}">
                                <label th:text="|${country.country} ${year} #{reports.orders.paidComplete}|"></label>
                                <table class="table table-condensed table-striped jambo_table">
                                    <thead>
                                        <tr class="headings">
                                            <th th:text="#{month}"></th>
                                            <th th:text="#{total}"></th>
                                            <th th:each="producto : ${columnas}" th:text="${producto}"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="month : ${months}">
                                            <td th:text="${T(com.wings.backoffice.utils.DateUtils).getMonthName(month)}"></td>
                                            <td th:text="${country.getTotalProductsCompleteByYearAndMonth(year, month)}"></td>
                                            <td th:each="producto : ${columnas}" th:text="${country.getTotalProductsCompleteByYearAndMonth(year, month, producto)}"></td>
                                        </tr>
                                        <tr style="font-weight: bold;">
                                            <td th:text="#{total}" class="table-primary"></td>
                                            <td th:text="${country.getTotalProductsCompleteByYear(year)}"></td>
                                            <th th:each="producto : ${columnas}" th:text="${country.getTotalProductsCompleteByYearAndProduct(year, producto)}"></th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div th:if="${installment.equals('1') || installment.equals('3')}">
                                <label th:text="|${country.country} ${year} #{reports.orders.paidPartial}|"></label>
                                <table class="table table-condensed table-striped jambo_table">
                                    <thead>
                                        <tr class="headings">
                                            <th th:text="#{month}"></th>
                                            <th th:text="#{total}"></th>
                                            <th th:each="producto : ${columnas}" th:text="${producto}"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="month : ${months}">
                                            <td th:text="${T(com.wings.backoffice.utils.DateUtils).getMonthName(month)}"></td>
                                            <td th:text="${country.getTotalProductsPartialByYearAndMonth(year, month)}"></td>
                                            <td th:each="producto : ${columnas}" th:text="${country.getTotalProductsPartialByYearAndMonth(year, month, producto)}"></td>
                                        </tr>
                                        <tr style="font-weight: bold;">
                                            <td th:text="#{total}" class="table-primary"></td>
                                            <td th:text="${country.getTotalProductsPartialByYear(year)}"></td>
                                            <th th:each="producto : ${columnas}" th:text="${country.getTotalProductsPartialByYearAndProduct(year, producto)}"></th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>                    
                </div>               
            </div>
        </div>
    </div>
</div>