<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Wings Mobile - Oficina Virtual</title>

        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">        
        <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" type="text/css">

    </head>

    <body>

        <div id="wrapper">
            <div id="page-wrapper">
                <div class="row" id="ui-view">                    -->
                    <div class="col-md-12">
                        <div class="col-middle">
                            <div class="text-center">
                                <p class="float-left display-3 mr-4">400</p>
                                <h5 class="pt-3">Page not found!</h5>
                                <p class="text-muted">The page you are looking for is temporarily unavailable.</p>
                            </div>
                        </div>
                    </div>

                </div>                
            </div>
        </div>

        <script th:src="@{/js/jquery.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/common.js}"></script>        
    </body>

</html>
