.shopping-cart-badge{
    top: -15px;
    right: 20px;
    position: relative;
}

.front-page-banner{        
    background: linear-gradient(158deg,#b20071 0%,#00b1e2 100%) !important;    
}

.afiliation-box{        
    background-image: linear-gradient(98deg,#e09900 0%,#ff8300 100%);
}

.fixed-heigth{
    height: 40px;
}

.cart-padding{
    padding-right: 2px !important;   
}

.custom-logo{
    margin-top: -10px;
    height: 80px !important;
}

.brand-wrap .logo{
    max-height: 70px !important;

}

.img-circle {
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.border-bottom-dark {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125); 
}

.mt-30{
    margin-top: 30px;   
}

/*.col-sm-6{
 width: 50%;
 text-align: center;
 margin-bottom: 20px;
}*/
.padding-20{
    padding: 20px;
}

.card-product .info-wrap2 {
    overflow: hidden;
    padding: 15px;
}

input[type='checkbox'] {
    width:25px;
    height:25px;
}

.label-check{
    position: relative; 
    top: -7px;    
}

/*input[type='checkbox']:checked {
    background: #abd;
}*/
