<div class="container-fluid">
    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Cdr</h1>
        </div>

        <div class="col-lg-12">


            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">                        
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Date</th>                                    
                            <th>Origin</th>                                    
                            <th>Destination</th>
                            <th>Cause</th>
                            <th>Duration</th>
                            <th>CallTime</th>
                            <th>Secure</th>
                            <th>Cost</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="item : ${page.content}">
                            <td th:text="${item.id}">1</td>
                            <td th:text="${item.creationDate}">1</td>
                            <td th:text="${item.origination}">1</td>
                            <td th:text="${item.destination}">1</td>
                            <td th:text="${item.hangupCause}">1</td>
                            <td th:text="${item.duration}">1</td>
                            <td th:text="${item.billsec}">1</td>
                            <td th:text="${item.secure}">1</td>
                            <td th:text="${item.cost}">1</td>                                    
                        </tr>                                
                    </tbody>
                </table>
            </div>


            <div th:replace="html/frags/pagination :: paginationbar"></div>
        </div>


    </div>
</div>

