<div class="container-fluid">
    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Registered Clients</h1>
        </div>

        <div class="col-lg-12">

            <div class="panel panel-default">                
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Login</th>                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="client : ${clients}">
                                    <td th:text="${client.id}">1</td>
                                    <td th:text="${client.login}">Mark</td>                                    
                                </tr>                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>

