<script>
    var requireJS = [];
    loadJS(requireJS, "js/common.js");
    loadJS(requireJS, "js/input-mask.js");
    loadJS(requireJS, "js/views/order_change.js");
</script>

<div class="card">
    <div class="alert alert-warning" role="alert" >
        <span th:text="#{modifyingTheCountry}">En caso de modificar el País, recuerde</span>&nbsp;<strong th:text="#{doNotChange}">NO MODIFICAR</strong>&nbsp;
        <span th:text="#{doNotChangePrice}">el precio, debido a que la conversión se realiza automáticamente.</span>    </div>
    <div class="card-block">

        <form method="post" id="edit-order-form">
            <input type="hidden" id="orderId" name="orderId" th:value="${order.id}"/>
            <input type="hidden" name="action" th:value="price"/>
            <div class="form-group">
                <label class="col-md-4 col-form-label" for="name" th:text="#{currectCountry}">País actual</label>
                <input type="text" class="form-control" id='actualCountry' name="actualCountry" th:value="#{${order.billingCountry}}" th:disabled="disabled"/>
            </div>            
            <div class="form-group">
                <label class="col-md-4 col-form-label" for="name" th:text="#{newCountry}">Nuevo País</label>
                <select name="newCountry" class="form-control">
                    <option value="0" disabled="disabled" selected th:text="#{optSelect}">Seleccione...</option>
                    <option th:each="country : ${countries}" th:value="${country}" th:text="#{${country}}"></option>
                </select>
            </div>
            <div class="form-group">
                <label class="col-md-4 col-form-label" for="name" th:text="#{price}">Precio</label>
                <input type="text" class="form-control" id='price' name="price" th:value="${order.getPaymentAmountTextFormat()}"/>
            </div>

            <div th:if="${isBac}">
                <hr/>
                <p>Editar datos bancarios</p>

                <div class="form-group">
                    <div class="col-md-3">
                        <label>Fecha de Pago</label>
                        <small class="text-muted">(Actual: <span th:text="${#dates.format(order.paymentDate, 'dd/MM/yyyy HH:mm:ss')}" th:if="${order.paymentDate != null}"></span>)</small>
                    </div>
                    <div class="col-md-9">
                        <div class="col-md-7">
                            <input type="date" class="form-control" id='date' name="date" />
                        </div>
                        <div class="col-md-5">
                            <input type="text" name="time" class="form-control" id="time" />
                        </div>
                    </div>
                </div>
                &nbsp;
                <br/>

                <div class="form-group">
                    <div class="col-md-12">
                        <label th:text="#{banks}">Banco</label>
                        <small class="text-muted">(Actual: <span th:text="${order.paymentBacs}"></span>)</small>
                    </div>
                    <div class="col-md-12">
                        <select name="bank" id="bankReview" class="form-control">
                            <option value="">Seleccione</option>
                            <option th:each="bac : ${bacs}"
                                    th:value="${bac}"
                                    th:text="${bac}">
                            </option>
                        </select>
                    </div>
                </div>
                &nbsp;
                <br/>

                <div class="form-group">
                    <div class="col-md-12">
                        <label th:text="#{voucher}">Comprobante</label>
                        <small class="text-muted">(Actual: <span th:text="${order.ticketNumber}"></span>)</small>
                    </div>
                    <div class="col-md-12">
                        <input type="text" class="form-control" id='ticket' name="ticket" maxlength="200" required="required"/>
                    </div>
                </div>
                &nbsp;
                <br/>                
                &nbsp;
                <br/>                
                <div class="form-group">
                    <label class="col-md-4 col-form-label">Imagenes actuales</label>
                    <span th:each="img : ${images}" th:if="${images != null}">
                        <a th:href="'/admin/orders/attachment/view/?file=' + ${order.attachment}" target="_blank">
                            <img th:src="'/admin/orders/attachment/view/' + ${img}" width="25"/>
                        </a>
                    </span>
                </div>
                &nbsp;
                <br/>

                <div class="form-group">
                    <label class="col-md-4 col-form-label">Añadir imagenes</label>
                    <input type="file" name="attachment" class="col-md-12 col-xs-12" multiple="multiple"/>
                    <small class="text-muted">Presionar la tecla CTRL para insertar mas de 1 archivo (max. 5 archivos)</small>                    
                </div>
            </div>
        </form>
    </div>
    <div id="alert_placeholder"></div>

    <hr/>
    <button class="btn btn-danger" data-dismiss="modal" th:text="#{btnCancel}">Cancelar</button>
    <button class="btn btn-success pull-right" id="save" th:text="#{btnSave}">Guardar</button>
</div>


