<script>
    var requireJS = [];
    loadJS(requireJS, "js/common.js");
    loadJS(requireJS, "js/views/shipment_edit.js");
</script>

<div class="card">

    <div class="card-block">

        <form method="post" id="edit-dest-form">
            <input type="hidden" id="shipmentId" name="shipmentId" th:value="${shipment.id}"/> 
            <div class="form-group">
                <label class="col-md-4 col-form-label" for="name" th:text="#{shipment.recipient}">Destinatario</label>
                <input type="text" class="form-control" id='name' name="name" th:value="${shipment.shippingName}"/> 
                <span>
                    <small th:text="#{pagination.previous}">Anterior</small>
                    <strong th:text="${shipment.shippingName}"></strong> 
                </span>
            </div>
            <div class="form-group">
                <label class="col-md-4 col-form-label" for="address" th:text="#{shipment.address}">Dirección</label>                
                <input type="text" class="form-control" id='address' name="address" th:value="${shipment.shippingAddress}"/> 
                <span>
                    <small th:text="#{pagination.previous}">Anterior</small>
                    <strong th:text="${shipment.shippingAddress}"></strong> 
                </span>
            </div>
            <div class="form-group">
                <label class="col-md-4 col-form-label" for="city" th:text="#{cityName}">Ciudad</label> 
                <input type="text" class="form-control" id='city' name="city" th:value="${shipment.shippingCity}"/> 
                <span>
                    <small th:text="#{pagination.previous}">Anterior</small>
                    <strong th:text="${shipment.shippingCity}"></strong> 
                </span>
            </div>
            <div class="form-group">
                <label class="col-md-4 col-form-label" for="state" th:text="#{Provincia / Estado}">Provincia/Estado/Departamento</label> 
                <input type="text" class="form-control" id='state' name="state" th:value="${shipment.shippingState}"/> 
                <span>
                    <small th:text="#{pagination.previous}">Anterior</small>
                    <strong th:text="${shipment.shippingState}"></strong> 
                </span>
            </div>
            <div class="form-group">
                <label class="col-md-4 col-form-label" for="zip" th:text="#{postalCode}">Código postal</label> 
                <input type="text" class="form-control" id='zip' name="zip" th:value="${shipment.shippingPostalCode}"/> 
                <span>
                    <small th:text="#{pagination.previous}">Anterior</small>
                    <strong th:text="${shipment.shippingPostalCode}"></strong> 
                </span>
            </div>
            <div class="form-group">
                <label class="col-md-4 col-form-label" for="email" th:text="#{email}">Email</label> 
                <input type="text" class="form-control" id='email' name="email" th:value="${shipment.email}"/> 
                <span>
                    <small th:text="#{pagination.previous}">Anterior</small>
                    <strong th:text="${shipment.email}"></strong> 
                </span>
            </div>
            <div class="form-group">
                <label class="col-md-4 col-form-label" for="phone" th:text="#{phoneNumber}">Teléfono</label> 
                <input type="text" class="form-control" id='phone' name="phone" th:value="${shipment.phoneNumber}"/> 
                <span>
                    <small th:text="#{pagination.previous}">Anterior</small>
                    <strong th:text="${shipment.phoneNumber}"></strong> 
                </span>
            </div>
            <div class="form-group">
                <label class="col-md-4 col-form-label" for="tracking" th:text="#{trackingNumber}">Número de Guía</label> 
                <input type="text" class="form-control" id='tracking' name="tracking" th:value="${shipment.trackingNumber}"/> 
                <span>
                    <small th:text="#{pagination.previous}">Anterior</small>
                    <strong th:text="${shipment.trackingNumber}"></strong> 
                </span>
            </div>
            <div class="form-group">
                <label class="col-md-4 col-form-label" for="status" th:text="#{state-}">Estado</label> 
                <select name="status" id="status" class="form-control">
                    <option th:selected="${shipment.status == 'created'}" value="created" th:text="#{created}">Created</option>
                    <option th:selected="${shipment.status == 'sended'}" value="sended" th:text="#{sended}">Sended</option>
                    <option th:selected="${shipment.status == 'transit'}" value="transit" th:text="#{transit}">Transit</option>
                    <option th:selected="${shipment.status == 'delivered'}" value="delivered" th:text="#{delivered}">Delivered</option>
                    <option th:selected="${shipment.status == 'error'}" value="error" th:text="#{error}">Error</option>
                </select>
                <span>
                    <small th:text="#{pagination.previous}">Anterior</small>
                    <strong th:text="#{${shipment.status}}"></strong> 
                </span>
            </div>
            <br/>
        </form>
    </div>

    <div id="alert_placeholder"></div>

    <hr/>
    <button class="btn btn-danger" data-dismiss="modal" th:text="#{btnCancel}">Cancelar</button>
    <button class="btn btn-success pull-right" id="save" th:text="#{btnSave}">Guardar</button>
</div>


