<div th:each="img : ${images}" th:if="${images != null}">
    <img th:src="'/admin/orders/attachment/view/' + ${img}"/>
    <br/>
</div>
<div th:if="${images == null}">
    <h1>NO IMAGES</h1>
</div>