
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong>Añadir titular de línea</strong>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label class="form-form-control-label" for="inputSuccess1">Input with success</label>
                    <input class="form-control is-valid" id="inputSuccess1" type="text">
                </div>
                <div class="form-group">
                    <label class="form-form-control-label" for="inputError1">Input with error</label>
                    <input class="form-control is-invalid" id="inputError1" type="text">
                    <div class="invalid-feedback">
                        Please provide a valid informations.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
