<div class="card">
    <div class="card-header">
        <strong th:text="${title}"></strong>
        <small th:text="${subTitle}"></small>
    </div>
    <div class="card-block">
        <div class="col-md-12">
            <form th:action="${postUrl}" th:object="${clientLine}" method="post" id="form">
                <div class="form-group row" th:each="e : ${elements}">
                    <label class="col-md-4 form-control-label" th:for="${e.name}" th:text="#{${e.name}}">Text Input</label>
                    <span th:switch="${e.type}" class="col-md-8">
                        <span th:case="'class java.lang.Long'">
                            <input type="number" class="form-control" th:id="${e.name}" th:name="${e.name}" th:value="${e.value}"/>                        
                        </span>                    
                        <span th:case="'class java.util.Date'">
                            <span th:if="${e.value != null}">
                                <input type="date" class="form-control" th:id="${e.name}" th:name="${e.name}" th:value="${#dates.format(e.value, 'yyyy-MM-dd')}"/>
                            </span>
                            <span th:if="${e.value == null}">
                                <input type="date" class="form-control" th:id="${e.name}" th:name="${e.name}"/>
                            </span>
                        </span>
                        <span th:case="*">
                            <input type="text" class="form-control" th:id="${e.name}" th:name="${e.name}" th:value="${e.value}"/>                        
                        </span>
                    </span>
                </div>
                <br/>
                <br/>
                <div>
                    <button class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button class="btn btn-success pull-right" id="save">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
