<div class="container-fluid">
    <div class="row">

        <page size="A4">                    
            <div class="col-sm-12 col-md-12">
                <br/>
                <div th:replace="fragments/invoice/invoice-header :: invoice-header"></div>
                <!--Body Factura-->
                <div class="row">
                    <div class="col-sm-12 ">
                        <div class="row">
                            <div class="col-md-8">
                                <h4 th:text="${invoice.client}">Carlos Alberto Garcia Moreno</h4>
                                <h6 th:text="${invoice.client.address}">Calle Santa maria 26 4 Puerta 2 </h6>
                                <h6 th:text="${invoice.client.city} + ' ' + ${invoice.client.state}">Barcelona</h6>
                                <h6>Dni: <span th:text="${invoice.client.idValue}"></span></h6>
                            </div>
                            <div class="col-md-4 text-right">
                                <h6 class="text-muted">Código pago electrónico</h6>
                                <h6 th:text="${invoice.ecode}">QWEA-3121-2A</h6>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 ">
                                <table class="table table-bordered table-sm">
                                    <thead>
                                        <tr>
                                            <th>Concepto</th>
                                            <th>Monto</th>
                                        </tr>
                                    </thead>
                                    <tbody th:each="item : ${invoice.items}">
                                        <tr>
                                            <td th:text="${item.concept}"></td>
                                            <td class="text-right" th:text="${item.getAmountText()}">24,90</td>
                                        </tr>                                        
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td class="border-0 text-right">
                                                <strong>Total a pagar:</strong>
                                            </td>
                                            <td class="text-right">
                                                <strong><span th:text="${invoice.getTotalText()}"></span></strong>
                                            </td>
                                        </tr>        
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
<!--                <h6>A la fecha no se registran facturas impagas</h6>
                <h6>Atención al Cliente: 33544454654</h6>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex
                ea commodo consequat.-->
            </div>
            <div class="pageFooter">
                <span class="text-muted">
                    Atención al cliente: (+34) 900 838 137 - atencionalcliente@wingsmobile.es
                </span>
            </div>

        </page>


        <page size="A4">                    
            <div class="col-sm-12 col-md-12">
                <!--Header Factura-->
                <br/>
                <div class="header">
                    <div th:replace="fragments/invoice/invoice-header :: invoice-header"></div>                    
                </div>

                <div class="row">
                    <div class="col-sm-12 header" th:each="map : ${balancePerLine}">
                        <h4>Detalle de conceptos línea <span th:text="${map.key}"></span></h4>
                        <div class="row">
                            <div class="col-md-12 ">
                                <table class="table table-bordered table-sm">
                                    <thead>
                                        <tr>
                                            <th>Concepto</th>
                                            <th>Monto</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="item : ${map.value}">
                                            <td th:text="${item.description}">keyvalue</td>
                                            <td th:text="${item.amount}">num</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="pageFooter"></div>

        </page>

<!--        <page size="A4" th:each="mapc : ${cdrPerLine}">                    
            <div class="col-sm-12 col-md-12">
                Header Factura
                <br/>
                <div class="header">
                    <div th:replace="fragments/invoice/invoice-header :: invoice-header"></div>                    
                </div>
                <div class="row">
                    <div class="col-sm-12 header" >
                        <h4>Detalle de consumos línea <span th:text="${mapc.key}"></span></h4>
                        <div class="row">
                            <div class="col-md-6">
                                <table class="table table-bordered table-striped table-sm">
                                    <thead>
                                        <tr class="text-center">
                                            <th>Fecha</th>
                                            <th>Tipo</th>
                                            <th>Destino</th>
                                            <th>Operador</th>
                                            <th>Duracion</th>
                                            <th>Datos</th>
                                            <th>Costo</th>
                                        </tr>
                                    </thead>    
                                    <tbody>
                                        <tr class="footer" th:each="item : ${mapc.value}">                                
                                            <td th:text="${#dates.format(item.date, 'dd/MM/yyyy')} + ' ' + ${#dates.format(item.time, 'HH:mm:ss')}"></td>
                                            <td th:text="${item.cdrType}"></td>
                                            <td th:text="${item.destination}"></td>
                                            <td th:text="${item.destinationOperator}"></td>
                                            <td th:text="${item.getVoiceText()}"></td>                                
                                            <td th:text="${item.getDataText()}"></td>                                
                                            <td th:text="${item.getPriceText()}"></td>
                                        </tr>
                                    </tbody>
                                </table>    
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="pageFooter"></div>

        </page>-->





    </div>
</div>
