
<script>
    var requireJS = [];

    loadJS(requireJS, "js/common.js");
    loadJS(requireJS, "js/views/admin-import.js");

</script>

<div class="page-title">
    <div class="title_left">
        <h3 th:text="#{importTools}">Herramientas de importación</small></h3>
    </div>
</div>

<div class="clearfix"></div>

<div class="row">

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <div class="well" style="overflow: auto">
                    <div class="col-md-12">

                        <label th:text="#{selectMonth}">Seleccione Mes</label>
                        <div class="input-group">
                            <span class="input-group-addon" title="Mes"><i class="fa fa-calendar"></i></span>
                            <select id="month" name="month" class="form-control">
                                <option value="1" th:selected="${month != null && month == '1'}" th:text="#{january}">Enero</option>
                                <option value="2" th:selected="${month != null && month == '2'}" th:text="#{february}">Febrero</option>
                                <option value="3" th:selected="${month != null && month == '3'}" th:text="#{march}">Marzo</option>
                                <option value="4" th:selected="${month != null && month == '4'}" th:text="#{april}">Abril</option>
                                <option value="5" th:selected="${month != null && month == '5'}" th:text="#{may}">Mayo</option>
                                <option value="6" th:selected="${month != null && month == '6'}" th:text="#{june}">Junio</option>
                                <option value="7" th:selected="${month != null && month == '7'}" th:text="#{july}">Julio</option>
                                <option value="8" th:selected="${month != null && month == '8'}" th:text="#{august}">Agosto</option>
                                <option value="9" th:selected="${month != null && month == '9'}" th:text="#{september}">Septiembre</option>
                                <option value="10" th:selected="${month != null && month == '10'}" th:text="#{october}">Octubre</option>
                                <option value="11" th:selected="${month != null && month == '11'}" th:text="#{november}">Noviembre</option>
                                <option value="12" th:selected="${month != null && month == '12'}" th:text="#{december}">Diciembre</option>                                  
                            </select>
                        </div>

                        <label th:text="#{selectYear}">Seleccione Año</label>
                        <div class="input-group">
                            <span class="input-group-addon" title="Año"><i class="fa fa-calendar"></i></span>
                            <select id="year" name="year" class="form-control">
                                <option value="2017" th:selected="${year != null && year == '2017'}">2017</option>
                                <option value="2018" th:selected="${year != null && year == '2018'}">2018</option>    
                            </select>
                        </div>

                        <button class="btn btn-success btn-sm action-button" id="import-services"><i class="fa fa-truck"></i>&nbsp;
                            <!--                            <span th:text="#{importOrdersServices}"></span>-->
                            Importar pedidos servicios
                        </button>
                    </div>
                    <div class="col-md-12">
                        <button class="btn btn-success btn-sm action-button" id="import-invoices"><i class="fa fa-file-pdf-o"></i>&nbsp;
                            <!--                            <span th:text="#{importServiceInvoices}"></span>-->
                            Importar facturas servicios
                        </button>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="x_title">
                <div class="well" style="overflow: auto">
                    <div class="col-md-12" th:if="${!running}">
                        0. <button class="btn btn-success btn-sm action-button" id="recalculate-all"><i class="fa fa-users"></i>&nbsp;
                            <!--                            <span th:text="#{manualProcess}"></span>-->
                            Proceso manual
                        </button>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="x_title">
                <div class="well" style="overflow: auto">
                    <div class="col-md-12" th:if="${!running}">
                        1. <button class="btn btn-success btn-sm action-button" id="parse-calification"><i class="fa fa-users"></i>
                            &nbsp;
                            <!--                            <span th:text="#{generateRating}"></span>-->
                            Generar calificación
                        </button>
                        2. <button class="btn btn-success btn-sm action-button" id="import-line-services"><i class="fa fa-phone"></i>
                            &nbsp;
                            <!--                            <span th:text="#{importClientsFromLines}"></span>-->
                            Importar clientes de lineas
                        </button>
                        3. <button class="btn btn-success btn-sm action-button" id="parse-ranks"><i class="fa fa-users"></i>
                            &nbsp;
                            <!--                            <span th:text="#{generateRangeHistory}"></span>-->
                            Generar historial rangos
                        </button>
                        4. <button class="btn btn-success btn-sm action-button" id="calc-diff"><i class="fa fa-gears"></i>
                            &nbsp;
                            <!--                            <span th:text="#{recalculateDifferential}"></span>-->
                            Recalcular Diferencial
                        </button>
                        5. <button class="btn btn-success btn-sm action-button" id="generate-balances"><i class="fa fa-gears"></i>
                            &nbsp;
                            <!--                            <span th:text="#{recalculateBalances}"></span>-->
                            Recalcular balances
                        </button>
                        6. <button class="btn btn-success btn-sm action-button" id="activate-balances"><i class="fa fa-gears"></i>
                            &nbsp;
                            <!--                            <span th:text="#{activateBalances}"></span>-->
                            Activar balances
                        </button>
                        7. <button class="btn btn-success btn-sm action-button" id="post-creation"><i class="fa fa-gears"></i>
                            &nbsp;
                            <!--                            <span th:text="#{indirectFoundersCalc}"></span>-->
                            Indirect / Founders calc
                        </button>
                        8. <button class="btn btn-success btn-sm action-button" id="recalc-enddate"><i class="fa fa-calendar"></i>
                            &nbsp;
                            <!--                            <span th:text="#{recalculateSpeedEndDate}"></span>-->
                            Recalcular speed endDate
                        </button>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="x_title">
                <div class="well" style="overflow: auto">
                    <div class="col-md-12">                                                
                        
                        A. <button class="btn btn-success btn-sm action-button" id="trace-log-on"><i class="fa fa-try"></i>&nbsp;Force Trace Log</button>
                        B. <button class="btn btn-success btn-sm action-button" id="fix-referers"><i class="fa fa-user-circle"></i>&nbsp;Fix Referers</button>
                        C. <button class="btn btn-success btn-sm action-button" id="fix-stores"><i class="fa fa-user-circle"></i>&nbsp;Fix Stores</button>
                        D. <button class="btn btn-success btn-sm action-button" id="reset-ranks"><i class="fa fa-recycle"></i>&nbsp;Reset rangos</button>
                        E. <button class="btn btn-success btn-sm action-button" id="test-energy"><i class="fa fa-bolt"></i>&nbsp;Test energy api</button>
                        F. <button class="btn btn-success btn-sm action-button" id="fix-dnis"><i class="fa fa-bolt"></i>&nbsp;Fix dnis orders</button>
                        G. <button class="btn btn-success btn-sm action-button" id="sync-marketing"><i class="fa fa-arrows"></i>&nbsp;Test</button>
                        H. <button class="btn btn-success btn-sm action-button" id="order-mark-installment"><i class="fa fa-bolt"></i>&nbsp;Order Installment Complete</button>

                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

