<script>
    var requireJS = [];
    loadJS(requireJS, "js/views/speed_abmc.js");
</script>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">

                <div id="alert_placeholder"></div>

                <form class="form-horizontal form-label-left" method="POST" th:object="${speed}" id="edit-speed-form">
                    <input type="hidden" th:value="*{id}" name="id" id="id">
                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name" th:text="#{name}">Nombre</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" name="name" id="name" required="required" maxlength="100" class="form-control col-md-7 col-xs-12" th:value="*{name}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="country" th:text="#{country}">País</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select name="country" id="country" class="form-control">
                                    <option value="null" th:selected="${speed.country == null}" >Seleccione</option>
                                    <option th:each="country : ${countries}" 
                                            th:value="${country}" 
                                            th:text="#{${country}}" 
                                            th:selected="${country == speed.country}">
                                    </option>
                                </select>      
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="validFrom">Desde</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="date" id="validFrom" name="validFrom" class="form-control"
                                       th:value="${speed.validFrom != null} ? ${#dates.format(speed.validFrom, 'yyyy-MM-dd')} : ''">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="validTo">Hasta</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="date" id="validTo" name="validTo" class="form-control"
                                       th:value="${speed.validTo != null} ? ${#dates.format(speed.validTo, 'yyyy-MM-dd')}   : ''">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="durationTo" >Duración (fecha)</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="date" id="durationTo" name="durationTo" class="form-control"
                                       th:value="${speed.durationTo != null} ? ${#dates.format(speed.durationTo, 'yyyy-MM-dd')} : ''">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="durationToFounder">Founder</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="date" id="durationToFounder" name="durationToFounder" class="form-control"
                                       th:value="${speed.durationToFounder != null} ? ${#dates.format(speed.durationToFounder, 'yyyy-MM-dd')} : ''">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="durationDays" >Duración (días)</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="number" id="durationDays" name="durationDays" th:value="*{durationDays}" class="form-control" min="0">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="durationDaysFounder">Founder</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="number" id="durationDaysFounder" name="durationDaysFounder" th:value="*{durationDaysFounder}" class="form-control" min="0">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="exclude">Excluir condición de clientes</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select name="exclude" id="exclude" class="form-control">
                                    <option value="true" th:selected="*{excludeClientCount}">Si</option>
                                    <option value="false" th:selected="*{!excludeClientCount}">No</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    Premios por rango:
                    <div class="input-group">
                        <span class="input-group-addon">Rango 1:</span>
                        <input type="text"  class="form-control" id="priceRank1" name="priceRank1" th:value="*{priceRank1}"/>
                        <span class="input-group-addon">Rango 2:</span>
                        <input type="text"  class="form-control" id="priceRank2" name="priceRank2" th:value="*{priceRank2}""/>
                        <span class="input-group-addon">Rango 3:</span>
                        <input type="text"  class="form-control" id="priceRank3" name="priceRank3" th:value="*{priceRank3}"/>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Rango 4:</span>
                        <input type="text"  class="form-control" id="priceRank4" name="priceRank4" th:value="*{priceRank4}""/>
                        <span class="input-group-addon">Rango 5:</span>
                        <input type="text"  class="form-control" id="priceRank5" name="priceRank5" th:value="*{priceRank5}"/>
                        <span class="input-group-addon">Rango 6:</span>
                        <input type="text"  class="form-control" id="priceRank6" name="priceRank6" th:value="*{priceRank6}"/>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Rango 7:</span>
                        <input type="text"  class="form-control" id="priceRank7" name="priceRank7" th:value="*{priceRank7}"/>
                        <span class="input-group-addon">Rango 8:</span>
                        <input type="text"  class="form-control" id="priceRank8" name="priceRank8" th:value="*{priceRank8}"/>
                        <span class="input-group-addon">Rango 9:</span>
                        <input type="text"  class="form-control" id="priceRank9" name="priceRank9" th:value="*{priceRank9}""/>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <button class="btn btn-primary" type="button" data-dismiss="modal" th:text="#{btnCancel}">Cancelar</button> 
                            <button type="submit" class="btn btn-success action-button" th:text="#{btnSave}" id="save">Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>