<div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link collapse-no-auto"><i class="fa fa-chevron-up"></i></a></li>
            </ul>
            <h4><i class="fa fa-image"></i> <span th:text="#{avatar}">Avatar</span></h4>
            <div class="clearfix"></div>
        </div>
        <div class="x_content" style="display: block;">

            <div id="kv-avatar-errors-2" class="center-block" style="width:800px;display:none"></div>
            <form class="form form-vertical" id="avatar-form" action="/members/profile/avatar/upload" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="kv-avatar">
                            <div class="file-loading">
                                <input id="avatar" name="avatar" type="file" required class="avatar-input">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
