<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>                        
            </ul>
            <h4>
                <i class="fa fa-handshake-o"></i> <span th:text="#{contract}">Contrato</span>
                <i class="fa" th:classappend="${contractSigned ? 'fa-check icon-circle-success' : 'fa-times-circle icon-circle-warning'}"></i></h4>
            <div class="clearfix"></div>
        </div>

        <div class="x_content" style="display: block;">

            <div th:if='${profileComplete}'> <!--si tiene todos los campos necesarios-->
                <div class='embed-responsive' style='padding-bottom:40%'>
                    <!--<object data="/members/profile/contract" type='application/pdf' width='100%' height='300px'></object>-->
                    <object data="/members/profile/contract" type="application/pdf" width="100%" height="300px">
                        <span th:text="#{cannotDisplayPdf}">El navegar no puede mostrar el archivo pdf. Puede bajar el contrato desde</span>&nbsp;<a href="/members/profile/contract" target="_blank" th:text="#{here}"></a></p>
                    </object>

                </div>
                <div class="clearfix"></div>

                <div th:if="${!contractSigned}">
                    <h4><input type="checkbox" name="acepto" id="chk-acepto"/>
                        <span th:text="#{contractConditions}">He leído y acepto las condiciones del contrato.</span>
                    </h4>
                    <!--<h4>El SMS de verificacion se enviara a <strong th:text="${member.phone}"></strong> , si desea recibir el SMS en otro número, modifique el teléfono en su perfil.</h4>-->
                    <button class="btn btn-success" id="contract-sign" disabled="true"><span th:text="#{sign}">Firmar</span></button>
                </div>
            </div>

            <div th:if='${!profileComplete && !contractSigned}'> <!--si tiene todos los campos necesarios-->
                <h4 th:text="#{completeYourInformation}">Por favor complete su información personal para poder firmar el contrato</h4>
            </div>
        </div>
    </div>
</div>
