<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
            </ul>
            <h4><i class="fa fa-lock"></i> <span th:text="#{changePassword}">Cambiar contraseña</span></h4>
            <div class="clearfix"></div>
        </div>
        <div class="x_content" style="display: block;">

            <div class="row">
                <form class="form-horizontal form-label-left" method="POST" action="/members/profile/changepw">
                    <div class="form-group">
                        <label class="col-md-12 col-sm-12 col-xs-12" th:text="#{currentPassword}">Contraseña actual</label>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <input class="form-control" type="password" name="currentPassword">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12 col-sm-12 col-xs-12" th:text="#{newPassword}">Contraseña nueva</label>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <input class="form-control" type="password" name="newPassword1">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12 col-sm-12 col-xs-12" th:text="#{repeatNewPassword}">Repita contraseña nueva</label>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <input class="form-control" type="password" name="newPassword2">
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <button type="submit" class="btn btn-success" th:text="#{btnSave}">Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

