<div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link collapse-no-auto"><i class="fa fa-chevron-up"></i></a></li>
            </ul>
            <h4><i class="fa fa-drivers-license"></i> <span th:text="#{affiliationData}">Datos afiliación</span></h4>
            <div class="clearfix"></div>
        </div>
        <div class="x_content" style="display: block;">


            <div class="col-md-12 col-sm-12 col-xs-12 profile_details">
                <div class="well profile_view">

                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 text-right">
                        <img th:src="@{/img/} + ${member.rank.image}" alt="Rango" width="185px">
                    </div>

                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 text-left">
                        <ul class="list-unstyled">
                            <li><i class="fa fa-user-circle-o"></i> <span th:text="#{sponsor} + ':'">Sponsor: </span>&nbsp;<span th:text="${member.sponsor}" th:if="${member.sponsorId != null}"></span></li>
                            <li><i class="fa fa-user"></i> <span th:text="#{bonus.username} + ':'">Usuario: </span>&nbsp; <span th:text="${member.username}"></span></li>
                            <li><i class="fa fa-calendar"></i> <span th:text="#{affiliationDate} + ':'">Fecha afiliación: </span>&nbsp; <span th:text="${#dates.format(member.registrationDate, 'dd/MM/yyyy')}" th:title="${#dates.format(member.registrationDate, 'dd/MM/yyyy HH:mm:ss')}"></span></li>
                            <li><i class="fa fa-calendar"></i> <span th:text="#{activationDate} + ':'">Fecha activación: </span>&nbsp; <span th:if='${member.activationDate != null}' th:text="${#dates.format(member.activationDate, 'dd/MM/yyyy')}" th:title="${#dates.format(member.activationDate, 'dd/MM/yyyy HH:mm:ss')}"></span></li>
                            <li>
                                <i class="fa fa-star"></i> <span th:text="#{founder} + ':'">Founder: </span>&nbsp; <i class="fa" th:classappend="${member.founder}?'fa-check':'fa-remove'"> 
                                    <small th:if='${member.founderDate != null}'>(<span th:text="#{since}"></span>&nbsp;<span th:if='${member.founderDate != null}' th:text="${#dates.format(member.founderDate, 'dd/MM/yyyy')}" th:title="${#dates.format(member.founderDate, 'dd/MM/yyyy HH:mm:ss')}"></span>)</small>
                            </li>
                            <li>
                                <i class="fa fa-bolt"></i> <span th:text="#{speedBonus} + ':'">Speed Bonus: </span>&nbsp; <i class="fa" th:classappend="${member.isInSpeedBonus()}?'fa-check':'fa-remove'">
                                    <small>
                                        ( 
                                        <!--                                        <span th:text="${member.isInSpeedBonus()}?'Finaliza el ':'Finalizado el '"></span>-->
                                        <span th:if='${member.isInSpeedBonus()}' th:text="#{endsOn} + ':'"></span>
                                        <span th:if='${!member.isInSpeedBonus()}' th:text="#{endedOn} + ':'"></span>
                                        <span th:if='${member.speedBonusEndDate != null}' th:text="${#dates.format(member.speedBonusEndDate, 'dd/MM/yyyy')}" th:title="${#dates.format(member.speedBonusEndDate, 'dd/MM/yyyy HH:mm:ss')}"></span>
                                        )
                                    </small>
                            </li>
                            <li>
                                <i class="fa fa-handshake-o"></i> <span th:text="#{signedContract} + ':'">Contrato firmado: </span>&nbsp; <i class="fa" th:classappend="${member.contractSigned}?'fa-check':'fa-remove'"> 
                                    <small th:if='${member.contractSigned}'>(<span th:text="#{signedDay} + ':'">Firmado el día: </span>&nbsp;  <span th:if='${member.contractSignedDate != null}' th:text="${#dates.format(member.contractSignedDate, 'dd/MM/yyyy')}" th:title="${#dates.format(member.contractSignedDate, 'dd/MM/yyyy HH:mm:ss')}"></span>)</small>
                            </li>
                        </ul>
                    </div>

                    <div class="col-xs-12 bottom text-center">
                        <div class="col-xs-12 col-sm-12 emphasis">
                            <p class="ratings">
                                <a th:text="${member.rank.getRankName()}">4.0</a>
                                <a href="#" th:each="rank : ${ranks}">
                                    <span class="fa" th:classappend="${member.rankId >= rank.id} ? 'fa-star':'fa-star-o'" th:title='${rank.getRankName()}'>
                                </a>
                            </p>
                        </div>                        
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>
