<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">

        <div th:if="${profileComplete}">
            <div class="x_title">
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>                        
                </ul>
                <h4>
                    <i class="fa fa-user"></i> <span th:text="#{personalInformation}">Información Personal</span>
                    <i class="fa" th:classappend="${profileComplete ? 'fa-check icon-circle-success' : 'fa-times-circle icon-circle-warning'}"></i>
                </h4>

                <div class="clearfix"></div>
            </div>
        </div>
        <div th:if="${!profileComplete}">
            <div class="x_title">
                <h2 th:text="#{requiredPersonalInformation}">Por favor complete los datos requeridos para continuar operando en la plataforma</h2>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="x_content" style="display: block;">
            <form class="form-horizontal form-label-left" th:object="${member}" method="POST" th:action="'/members/profile/' + ${member.id}">
                <div class="row">

                    <div class="form-group" th:classappend="${#strings.isEmpty(member.firstName)? 'bad' : ''}">
                        <label class="col-md-12 col-sm-12 col-xs-12" th:text="#{name}">Nombre</label>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <input class="form-control" placeholder="Nombre" type="text" th:value="*{firstName}" name="firstName" maxlength="50">
                        </div>
                    </div>
                    <div class="form-group" th:classappend="${#strings.isEmpty(member.lastName)? 'bad' : ''}">
                        <label class="col-md-12 col-sm-12 col-xs-12" th:text="#{surname}">Apellido</label>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <input class="form-control" placeholder="Apellido" type="text" th:value="*{lastName}" name="lastName" maxlength="50">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12 col-sm-12 col-xs-12" th:text="#{email}">Email</label>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <input class="form-control" placeholder="Email" type="email" th:value="*{email}" name="email" readonly="readonly">
                        </div>
                    </div>

                    <div class="form-group" th:classappend="${#strings.isEmpty(member.dni) || #strings.isEmpty(member.dniType)? 'bad' : ''}">
                        <label class="col-md-12 col-sm-12 col-xs-12" th:text="#{idPersonal}">Identificación personal</label>
                        <div th:if="${profileComplete}">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <select class="form-control" name="dniType" th:field="*{dniType}">
                                    <option value="0" th:text="#{optSelect}"></option>
                                    <option th:each="dni : ${dnis}" th:value="${dni}" th:text="#{${dni}}"></option>
                                </select>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <input class="form-control" placeholder="Número" th:attr="placeholder=#{number}" type="text" th:value="*{dni}" name="dni" maxlength="50">
                            </div>
                            <div class="col-md-2 col-sm-12 col-xs-12">
                                <div class="x_panel" th:classappend="${dni == null ? 'border-red' : ''}">
                                    <div class="x_title">
                                        <span th:text="#{voucher}">Comprobante</span>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content text-center">
                                        <a class="action-button">
                                            <img height="50" width="100" src="/img/upload_image.png" id="upload-dni" th:attr="data-id=${member.id},data-name=dni" th:if="${dni == null}"/>
                                            <img height="50" width="100" th:src="${'open/media/' + dni.code}" id="upload-dni" th:attr="data-id=${member.id},data-name=dni" th:if="${dni != null}"/>
                                        </a>                                        
                                        <br/>
                                        <span th:if="${dni == null}">
                                            <i class="fa fa-upload"></i> <span th:text="#{addReceipt}">Añadir comprobante</span>
                                        </span>
                                        <span th:if="${dni != null && dni.status == 'verified'}">
                                            <i class="fa fa-check green"></i> <span th:text="#{verified-}">Verificado</span>                                        
                                        </span>
                                        <span th:if="${dni != null && dni.status == 'pending'}">
                                            <i class="fa fa-warning blue"></i> <span th:text="#{pendingVerification}">Verificación pendiente</span>
                                        </span>
                                        <span th:if="${dni != null && dni.status == 'rejected'}" th:title="${dni.statusComment}">
                                            <i class="fa fa-remove red"></i> <span th:text="#{rejected}">Rechazado</span><br/>
                                            <span class="small" th:text="${dni.statusComment}"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>    
                        </div>
                        <div th:if="${!profileComplete}">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <select class="form-control" name="dniType" th:field="*{dniType}">
                                    <option value="0" th:text="#{optSelect}"></option>
                                    <option th:each="dni : ${dnis}" th:value="${dni}" th:text="#{${dni}}"></option>
                                </select>
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                <input class="form-control" placeholder="Número" th:attr="placeholder=#{number}" type="text" th:value="*{dni}" name="dni" maxlength="50">
                            </div>
                        </div>                        
                    </div>

                    <div class="form-group" th:classappend="${#strings.isEmpty(member.idt) || #strings.isEmpty(member.idtType)? 'bad' : ''}">
                        <label class="col-md-12 col-sm-12 col-xs-12" th:text="#{taxIdentification}">Identificación tributaria</label>
                        <div th:if="${profileComplete}">                        
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <select class="form-control" name="idtType" th:field="*{idtType}">
                                    <option value="0" th:text="#{optSelect}"></option>
                                    <option th:each="idt : ${idts}" th:value="${idt}" th:text="${idt}"></option>
                                </select>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <input class="form-control" placeholder="Número" th:attr="placeholder=#{number}" type="text" th:value="*{idt}" name="idt" maxlength="50">
                            </div>
                            <div class="col-md-2 col-sm-12 col-xs-12">
                                <div class="x_panel" th:classappend="${idt == null ? 'border-red' : ''}">
                                    <div class="x_title">
                                        <span th:text="#{voucher}">Comprobante</span>                                        
                                        <div class="clearfix"></div>
                                    </div>

                                    <div class="x_content text-center">
                                        <a class="action-button">
                                            <img height="50" width="100" src="/img/upload_image.png" id="upload-idt" th:attr="data-id=${member.id},data-name=idt" th:if="${idt == null}"/>
                                            <img height="50" width="100" th:src="${'open/media/' + idt.code}" id="upload-idt" th:attr="data-id=${member.id},data-name=idt" th:if="${idt != null}"/>
                                        </a>                                        
                                        <br/>
                                        <span th:if="${idt == null}">
                                            <i class="fa fa-upload"></i> <span th:text="#{addReceipt}">Añadir comprobante</span>
                                        </span>
                                        <span th:if="${idt != null && idt.status == 'verified'}">
                                            <i class="fa fa-check green"></i> <span th:text="#{verified-}">Verificado</span>                                        
                                        </span>
                                        <span th:if="${idt != null && idt.status == 'pending'}">
                                            <i class="fa fa-warning blue"></i> <span th:text="#{pendingVerification}">Verificación pendiente</span>
                                        </span>
                                        <span th:if="${idt != null && idt.status == 'rejected'}" th:title="${idt.statusComment}">
                                            <i class="fa fa-remove red"></i> <span th:text="#{rejected}">Rechazado</span><br/>
                                            <span class="small" th:text="${idt.statusComment}"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>     
                        </div>
                        <div th:if="${!profileComplete}">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <select class="form-control" name="idtType" th:field="*{idtType}">
                                    <option value="0" th:text="#{optSelect}"></option>
                                    <option th:each="idt : ${idts}" th:value="${idt}" th:text="${idt}"></option>
                                </select>
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                <input class="form-control" placeholder="Número" th:attr="placeholder=#{number}" type="text" th:value="*{idt}" name="idt" maxlength="50">
                            </div>
                        </div>
                    </div>                    

                    <div class="form-group row" th:classappend="${member.isCompany && #strings.isEmpty(member.companyName) ? 'bad' : ''}">
                        <div class="col-md-1 col-sm-12 col-xs-12 text-center">
                            <label class="form-label-left" th:text="#{itsCompany}">Es Empresa</label>
                            <input class="js-switch" style="display: none;" data-switchery="true" type="checkbox" id="isCompany" th:checked="*{isCompany}" name="isCompany">
                        </div>

                        <div class="col-md-11 col-sm-12 col-xs-12">
                            <label class="form-label-left" th:text="#{nameCompany}">Nombre Empresa/Razon Social</label>
                            <input class="form-control" placeholder="Nombre Empresa" th:attr="placeholder=#{nameCompany}" type="text" th:value="*{companyName}" name="companyName" id="companyName" maxlength="150">
                        </div>
                    </div>

                    <div class="form-group" th:classappend="${member.isCompany && (#strings.isEmpty(member.companyDni) || #strings.isEmpty(member.companyDniType)) ? 'bad' : ''}">
                        <label class="col-md-12 col-sm-12 col-xs-12" th:text="#{companyTaxID}">Identificación tributaria Empresa</label>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <select class="form-control" name="companyDniType" th:field="*{companyDniType}" id="companyDniType">
                                <option value="0" th:text="#{optSelect}"></option>
                                <option th:each="dni : ${idts}" th:value="${dni}" th:text="${dni}"></option>
                            </select>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-8">
                            <input class="form-control" placeholder="Número" th:attr="placeholder=#{number}" type="text" th:value="*{companyDni}" name="companyDni" id="companyDni" maxlength="50">
                        </div>
                    </div>


                    <div class="form-group" th:classappend="${member.birthDate == null ? 'bad' : ''}">
                        <label class="col-md-12 col-sm-12 col-xs-12" th:text="#{dateBirth}">Fecha de nacimiento</label>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <input class="form-control" type="date" th:value="${member.birthDate}" name="birthDate">
                            <small class="text-muted">(para navegadores no compatibles usar el formato aaaa-mm-dd)</small>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-md-12 col-sm-12 col-xs-12" th:text="#{phoneNumber}">Número de teléfono</label>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <input class="form-control" placeholder="Teléfono" type="text" th:value="*{phone}" name="phone" maxlength="40">
                        </div>
                    </div>

                    <div class="form-group">

                        <div th:if="${profileComplete}">
                            <label class="col-md-12 col-sm-12 col-xs-12" th:text="#{address}">Dirección</label>
                            <div class="col-md-10 col-sm-12 col-xs-12">
                                <input class="form-control" type="text" th:value="*{street}" name="street" maxlength="200">
                            </div>
                            <div class="col-md-2 col-sm-12 col-xs-12">
                                <div class="x_panel" th:classappend="${address == null ? 'border-red' : ''}">
                                    <div class="x_title">
                                        <span th:text="#{voucher}">Comprobante</span>                                    
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content text-center">
                                        <a class="action-button">
                                            <img height="50" width="100" src="/img/upload_image.png" id="upload-address" th:attr="data-id=${member.id},data-name=address" th:if="${address == null}"/>
                                            <img height="50" width="100" th:src="${'open/media/' + address.code}" id="upload-address" th:attr="data-id=${member.id},data-name=address" th:if="${address != null}"/>
                                        </a>                                        
                                        <br/>
                                        <span th:if="${address == null}">
                                            <i class="fa fa-upload"></i> <span th:text="#{addReceipt}">Añadir comprobante</span>
                                        </span>
                                        <span th:if="${address != null && address.status == 'verified'}">
                                            <i class="fa fa-check green"></i> <span th:text="#{verified-}">Verificado</span>                                        
                                        </span>
                                        <span th:if="${address != null && address.status == 'pending'}">
                                            <i class="fa fa-warning blue"></i> <span th:text="#{pendingVerification}">Verificación pendiente</span>
                                        </span>
                                        <span th:if="${address != null && address.status == 'rejected'}" th:title="${address.statusComment}">
                                            <i class="fa fa-remove red"></i> <span th:text="#{rejected}">Rechazado</span><br/>
                                            <span class="small" th:text="${address.statusComment}"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>    
                        </div>
                        <div th:if="${!profileComplete}">
                            <label class="col-md-12 col-sm-12 col-xs-12" th:text="#{address}">Dirección</label>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <input class="form-control" type="text" th:value="*{street}" name="street" maxlength="200">
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-md-12 col-sm-12 col-xs-12" th:text="#{cityName}">Ciudad</label>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <input class="form-control" type="text" th:value="*{city}" name="city" maxlength="200"> 
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12 col-sm-12 col-xs-12" th:text="#{stateName}">Provincia / Estado</label>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <input class="form-control" type="text" th:value="*{state}" name="state" maxlength="100">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12 col-sm-12 col-xs-12" th:text="#{countryName}">País</label>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <select class="form-control" th:field="*{country}"  name="country">
                                <option value="" disabled="disabled" th:text="#{optSelect}"></option>
                                <option th:each="country : ${countries}" th:value="${country.code}" th:text="${country.nameEs}"></option>
                            </select>                            
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12 col-sm-12 col-xs-12" th:text="#{postalCode}">Código Postal</label>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <input class="form-control" type="text" th:value="*{postal}" name="postal" maxlength="40">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!--                    <h2>Datos de Retiro</h2>
                                        <hr/>
                    
                                        <div class="form-group">
                                            <label class="col-md-12 col-sm-12 col-xs-12">Procesador de retiro</label>
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <select class="form-control">
                                                    <option value="bank">Transferencia bancaria</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-12 col-sm-12 col-xs-12">Cuenta destino</label>
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <input class="form-control" type="text">
                                            </div>
                                        </div>-->
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <button type="submit" class="btn btn-success" th:text="#{btnSave}">Guardar</button>    
                        </div>
                    </div>
                </div>
            </form>


        </div>
    </div>
</div>
