<!DOCTYPE html>
<html lang="es" xmlns:th="http://wwww.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Wings Mobile - SoftSwitch Administrator" />
    <meta name="author" content="Mauricio Biasutto" />
    <title>Pagos - Wings Mobile</title>
    <link rel="bookmark" th:href="@{/img/favicon.png}" />
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}" />
    <link href="/css/sb-admin-2.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <script th:src="@{/js/fontawesome.js}"></script>
    <link th:href="@{/css/navigation-style.css}" rel="stylesheet"/>
</head>
<body id="page-top">
<div class="page-wrapper chiller-theme toggled">
    <div th:replace="@{frags/navigation}"></div>
    <main class="page-content">
        <div class="container-fluid">
            <div th:replace="@{frags/topbar}"></div>
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                        <h4 class="text-gray-800" th:text="#{text.registered.gateways}">Gateways Registrados</h4>
                            <form class="form-inline" style="width: 80em;">
                                <label for="gatewayCountry" class="col-sm-1" th:text="#{text.gateways.filter}" style="font-size: 20px;"></label>
                                <select id="gatewayCountry" class="form-control shadow" name="gatewayCountry">
                                    <option th:value="-1" selected="selected" disabled="" th:text="#{gateway.form.country}"></option>
                                    <option th:each="country : ${countries}" th:value="${country}" th:text="#{${country}}"></option>
                                </select>
                                <select id="gatewayGw" class="form-control ml-2 shadow" name="gatewayGw">
                                    <option th:value="-1" selected="selected" disabled="" th:text="#{gateway.form.implementations}"></option>
                                    <option th:each="implementation : ${implementationsList}" th:value="${implementation}" th:text="${implementation}"></option>
                                </select>
                                <select id="gatewayEnabled" class="form-control ml-2 shadow"  name="gatewayEnabled">
                                    <option th:value="-1" disabled="" selected="selected" th:text="#{gateway.impl.enabled}"></option>
                                    <option th:value="1" th:text="#{text.yes}"></option>
                                    <option th:value="0" th:text="#{text.no}"></option>
                                </select>
                                <button class="btn btn-primary ml-2" id="btn-filter">
                                    <i class="fas fa-filter"></i>
                                </button>
                            </form>
                        <a th:href="@{/admin/gateway-form}" class="btn btn-primary active float-right" th:text="#{btn.add.gateway}">Agregar Gateway</a>
                    </nav>
                <div th:if="${success != null}" th:text="${success}"></div>
                <div th:if="${gatewayImplementationList.getNumberOfElements() == 0}" class="alert alert-danger text-center" style="font-size: 20px;" th:text="#{search.filter.not.found}"></div>
                <div th:if="${gatewayImplementationList.getNumberOfElements() > 0}">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="table-responsive container-fluid" style="min-height: 500px;">
                                        <table th:class="table">
                                            <thead th:class="thead-dark" style="overflow:scroll; width:500px;">
                                            <tr>
                                                <th th:text="#{registered.gateway.id}">Id</th>
                                                <th th:text="#{registered.gateway.country}">País</th>
                                                <th th:text="#{registered.gateway.name}">Nombre</th>
                                                <th th:text="#{registered.gateway.isEnabled}">Está Habilitado</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="gatewayImplementation: ${gatewayImplementationList}">
                                                <td th:text="${gatewayImplementation.getId()}"></td>
                                                <td>
                                                    <div th:text="${gatewayImplementation.getCountry()}" name="gatewayFlag"></div>
                                                </td>
                                                <td th:text="${gatewayImplementation.getName()}"></td>
                                                <td>
                                                    <div name="gateway-label-enabled" th:text="${gatewayImplementation.getEnabled()}? 'SI' : 'NO'"></div>
                                                </td>
                                                <td>
                                                    <a th:href="@{/admin/gateway-details/} + ${gatewayImplementation.getId()}"><i name="gateway-eye" class="far fa-eye fa-2x"></i></a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:if="${gatewayImplementationList.getTotalPages() > 1}" class="d-flex justify-content-center mb-3">
                        <div th:replace="@{frags/pagination}"></div>
                    </div>
                </div>
                <div th:replace="@{frags/footer-logged}"></div>
        </div>
    </main>
</div>
<script th:src="@{/js/jquery-2.0.0.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/gateways/gateway-homepage.js}"></script>
</body>
</html>