<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body id="page-top">
<div class="container">
<div class="form-group row">
    <label class="col-2 col-form-label" style="margin-right: -8em;" th:text="#{gateway.form.country}">Pais</label>
        <select id="country" class="form-control col-2" name="country">
            <option th:value="0" selected="selected" disabled="" th:text="#{gateway.form.country.select}">Seleccione</option>
            <option th:each="country : ${countries}" th:value="${country}" th:text="#{${country}}"></option>
        </select>
        <label class="col-2 col-form-label" style="margin-right: -6em;" th:text="#{gateway.form.enabled}">Habilitado</label>
        <select id="enabled" class="form-control col-1" name="enabled">
            <option th:value="1" th:text="#{gateway.form.enabled.yes}">SI</option>
            <option th:value="0" th:text="#{gateway.form.enabled.no}">No</option>
        </select>
    </div>
    <div th:text="#{select.country}" hidden="true" id="select-country-error" ></div>
</div>
<div class="container" style="margin-top: 2em;">
    <div style="border:1px;margin:auto;text-align:center;">
        <div class="row">
            <div class="col-6">
                <div class="p-2 mb-2 text-black" style="background-color: #DEDEDE">
                    <label><strong style="font-size: 15px;" th:text="#{gateway.form.prod.properties}">Propiedades de PRODUCCIÓN</strong></label>
                </div>
                <hr>
                <div class="gateways-properties-prod" th:each="property : ${gp}" th:attr="data-id=${property.getId()}">
                    <div class="form-group row">
                        <label class="col-3 col-form-label" th:text="${property.getPropertyName()}" th:id="|property-name-${property.getId()}|" th:value="${property.getPropertyName()}"></label>
                        <input type="text" class="form-control col-8" th:id="|property-value-prod-${property.getId()}|" th:attr="data-propertyname=${property.getPropertyName()}" autocomplete="off">
                        <input type="hidden" class="form-control col-1" th:value="${property.getId()}" th:id="|property-id-${property.getId()}|">
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="p-2 mb-2 text-black" style="background-color: #DEDEDE">
                    <label><strong style="font-size: 15px;" th:text="#{gateway.form.test.properties}">Propiedades de TESTING</strong></label>
                </div>
                <hr>
                <div class="gateways-properties-test" th:each="property : ${gp}" th:attr="data-id=${property.getId()}">
                    <div class="form-group row">
                        <label class="col-3 col-form-label" th:text="${property.getPropertyName()}" th:id="|property-name-${property.getId()}|" th:value="${property.getPropertyName()}"></label>
                        <input type="text" class="form-control col-8" th:id="|property-value-test-${property.getId()}|" th:attr="data-propertyname=${property.getPropertyName()}" autocomplete="off">
                        <input type="hidden" class="form-control col-5" th:value="${property.getId()}" th:id="|property-id-${property.getId()}|">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>