<div id="hijos" class="tab-pane fade">
    <div class="row" th:if="${!item.single}">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_title">
                <h2>Hijos</h2>
                <div class="clearfix"></div>
            </div>
            <div class="alert alert-warning" role="alert" id="childrens-error" hidden="hidden"></div>
            <div class="form-horizontal form-label-left">
                <div class="form-group col-md-5">
                    <label class="control-label col-md-3" th:text="#{son}">Hijo</label>
                    <input type="hidden" id="idChild" value="-1">
                    <div class="col-md-9">
                        <select class="form-control" name="childId" id="childId">
                            <option selected="selected" disabled="" value="0"><span th:text="#{optSelect}"></span></option>
                            <option th:each="singleItem : ${singleItems}" th:value="${singleItem.id}" th:text="${singleItem}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-5">
                    <label class="control-label col-md-3" th:text="#{quantity}">Cantidad</label>
                    <div class="col-md-9">
                        <input class="form-control " id="quantity" name="quantity" type="number">
                    </div>
                </div>
                <button type="submit" class="btn btn-success" id="add-children" th:text="#{add}">Agregar</button>
            </div>
            <div class="x_content">                
                <table class="table table-condensed table-striped jambo_table" id="table-childrens">
                    <thead>
                        <tr class="headings">
                            <td th:hidden='hidden'></td>
                            <td th:hidden='hidden'></td>
                            <th th:text="#{attribute.name}"></th>
                            <th th:text="#{attribute.quantity}"></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="child : ${item.children}">
                            <td th:hidden='hidden' th:text="${child.id}"></td>
                            <td th:hidden='hidden' th:text="${child.childId}"></td>
                            <td th:text="${child.child}"></td>
                            <td th:text="${child.quantity}"></td>
                            <td>
                                <i class="fa fa-remove action-button" name="delete-children" title='Eliminar'></i>
                                <i class="fa fa-pencil action-button" name="edit-children" title="Editar"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button type="submit" class="btn btn-success" id="submit-childrens" th:text="#{btnSave}">Guardar</button>
            </div>
        </div>
    </div>
</div>