<script>
    var requireJS = [];
    loadJS(requireJS, 'js/common.js');
    loadCSS('css/flags/flags.min.css');
    loadJS(requireJS, '/js/switchery.min.js');
    loadCSS('/css/switchery.min.css');
    loadJS(requireJS, 'js/views/store-item-edit.js');
</script>

<div class="page-title">
    <div class="title_left">
        <h4><a th:href="'/#admin/store/item/' + ${item.id}" title="Volver"><i class="fa fa-arrow-circle-o-left"></i>&nbsp;<span th:text="#{return}"></span></a></h4>
    </div>
</div>
<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    <span th:text="${item.code}"></span>
                </h2>
                <div class="clearfix"></div>
            </div>
            <div class="container">
                <ul class="nav nav-tabs">
                    <li class="active"><a class="tab-menu" data-toggle="tab" href="#" data-id="detalles" th:text="#{itemDetails}">Detalles del item</a></li>
                    <li><a class="tab-menu" data-toggle="tab"  href="#" data-id="localizacion" th:text="#{location}">Localización</a></li>
                    <li><a class="tab-menu" data-toggle="tab"  href="#" data-id="hijos" th:text="#{sons}">Hijos</a></li>
                    <li><a class="tab-menu" data-toggle="tab" href="#" data-id="opciones" th:text="#{optionsAttributes}">Opciones/Atributos</a></li>
                    <li><a class="tab-menu" data-toggle="tab" href="#" data-id="imagenes" th:text="#{images}">Imágenes</a></li>
                </ul>

                <div class="tab-content">
                    <div th:replace="admin/store/item-edit-details"></div>
                    <div th:replace="admin/store/item-edit-localizacion"></div>
                    <div th:replace="admin/store/item-edit-hijos"></div>
                    <div th:replace="admin/store/item-edit-opciones"></div>
                    <div th:replace="admin/store/item-edit-imagenes"></div>
                </div>
            </div>
        </div>
    </div>
</div>