<script>
    var requireJS = [];
    loadJS(requireJS, "js/common.js");
    loadJS(requireJS, "js/views/topup-add.js");
</script>

<div class="card">

    <div class="card-block">
        <form method="post" id="add-topup-form">
            <div class="form-group">
                <label class="col-md-4 col-form-label" for="name" th:text="#{amount}">Monto</label>
                <input type="number" class="form-control" id='amount' name="amount"/>
                <label class="col-md-4 col-form-label" for="name" th:text="#{number}">Número</label>
                <input type="text" class="form-control" id='msisdn' name="msisdn" maxlength="10"/>
            </div>
            <br/>
        </form>
    </div>
    <div id="alert_placeholder"></div>

    <hr/>
    <button class="btn btn-danger" data-dismiss="modal" th:text="#{btnCancel}">Cancelar</button>
    <button class="btn btn-success pull-right" id="save" th:text="#{btnSave}">Guardar</button>
</div>


