<script>
    var requireJS = [];
    loadJS(requireJS, "js/common.js");
</script>

<div class="page-title">
    <div class="title_left">
        <h4 th:text="#{topUpsList}">Listado de recargas</h4>
    </div>
</div>
<div class="clearfix"></div>

<div class="row">
    <div class="col-md-6">
        <div class="x_panel">
            <div class="x_content">
                <ul>
                    <li class="nav">
                        <a href="admin/store/topups/internal">
                            <i class="fa fa-arrow-up"></i>
                            <span th:text="#{topUpsListInternal}"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="x_panel">
            <div class="x_content">
                <ul>
                    <li class="nav">
                        <a href="admin/store/topups/external">
                            <i class="fa fa-arrow-down"></i>
                            <span th:text="#{topUpsListExternal}"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="x_panel">
            <div class="x_content">
                <ul>
                    <li class="nav">
                        &nbsp;
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="x_panel">
            <div class="x_content">
                <ul>
                    <li class="nav">
                        <a href="admin/store/topups/external/files">
                            <i class="fa fa-file-excel"></i>
                            <span th:text="#{topUpsListExternal}"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>