<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8" />
        <link rel="shortcut icon" href="/img/favicon.png"/>
        <link rel="icon" type="image/png" href="/img/favicon.png"/>

        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title th:text="#{brand.wings.payment}">Wings Mobile - Pagos</title>
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
        <link rel="stylesheet" href="/fonts/fontawesome/css/all.min.css">
        <!-- CSS Files -->
        <link href="../assets/css/material-kit.css?v=2.0.5" rel="stylesheet" />
        <link href="/css/style.css" rel="stylesheet" />
        <script src="../assets/js/core/jquery.min.js" type="text/javascript"></script>        
    </head>

    <body class="profile-page sidebar-collapse">

        <div th:replace="frags/header"></div>

        <div class="main main-raised">
            <div class="profile-content">
                <div class="container">
                    <div class="row">
                        <div class="cold-md-4 offset-2">
                            <div class="col-md-12 title">
                                <span class="text-muted" th:text="|#{selection.order.number}:|">Número de pedido:</span>
                                <span th:text="${req.id} + '-' + ${req.orderNumber}">156</span></span>
                            </div>
                            <div class="col-md-12 title">
                                <span th:text="${req.title}">STARTER</span>
                            </div>
                            <div class="col-md-12 title" th:text="|#{selection.total.amount}:|">
                                Total a pagar: <span class="text-primary currency num" th:text="${req.getPaymentAmount()}">0</span>                                     
                            </div>
                            <div class="col-md-12 title">
                                <p class="text-muted">
                                    <small class="small text-muted" th:text="|#{selection.currency}:|">Moneda:</small>
                                    <small class="small text-muted" th:text="${req.currency}"></small>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <strong th:text="#{selection.cryptocurrency}">Seleccione la criptomoneda para realizar el pago</strong>
                            <div class="row" style="padding-top: 0px !important;">
                                <div th:each="cur : ${currencies}" class="col-md-6">
                                    <button class="btn btn-success col-sm-12 action-button" th:id="${cur.id}">
                                        <img th:src="${cur.flag}" width="50"/>&nbsp;
                                        <span th:text="${cur.fullName}"></span>
                                    </button>
                                </div>                                
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 text-center" id="wait" style="display: none;">                            
                            <i class="fa fa fa-spinner fa-spin" style="font-size: 48px;"></i>
                            <h6 th:text="#{selection.generating.link}">Generando dirección, espere por favor...</h6>
                        </div>

                        <div class="col-md-12 text-center" id="url-result" style="display: none;">
                            <h6 th:text="#{selection.link.to.pay}">
                                Esta es la dirección para el pago, puedes hacer click</h6> <a href="" id="url-link" target="_blank">aqui</a> <h6 th:text="#{selection.link.to.access}">para acceder.</h6>
                            </h6>
                            <input type="text" id="url-click" class="form-control" readonly="readonly"/>                            
                        </div>

                        <div class="col-md-12 text-center alert alert-danger" id="url-error" style="display: none;">
                            <h6 th:text="#{selection.error.generating.link}">Ocurrió un error generando la dirección de pago, por favor intente nuevamente mas tarde...</h6>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div th:replace="frags/footer"></div>


        <script th:inline='javascript'>
            $(document).ready(function () {
                $('.action-button').click(function (e) {

                    $('.btn').attr('disabled', 'disabled');
                    $('#wait').show();
                    e.preventDefault();

                    var id = $(this).attr('id');

                    $.post('blockpays/options/' + id, null, function (response) {

                        $('#wait').hide();
                        $('#url-result').show();

                        $('#url-click').val(response);
                        $('#url-link').attr("href", response);

                    }).fail(function (xhr, status, error) {

                        $('#wait').hide();
                        $('#url-error').show();

                    });
                });
            });
        </script>            
    </body>
</html>