<script>
    var requireJS = [];

    loadJS(requireJS, "js/views/common.js");
    loadCSS('css/bootstrap-tokenfield.min.css');
    loadJS(requireJS, 'js/bootstrap-tokenfield.min.js');
    loadJS(requireJS, 'js/views/register.js');

</script>

<div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-download"></i> Registraciones
                </div>
                <div class="card-block">

                    <div class="input-group">

                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-gear"></i>
                                Operaciones
                                <span class="caret"></span>
                            </button>
                            <div class="dropdown-menu" id="actions-dropdown">
                                <a class="dropdown-item disabled" href="#">Elementos seleccionados</a>
                                <a sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown-item" id="action-create-line-holder">Crear titular para portabilidad</a>
                            </div>
                        </span>
                        &nbsp;

                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary search-button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                        <div class="btn-group">
                            <input th:value="${q}" type="search" class="form-control search-input" placeholder="Buscar...">
                            <span class="search-clear fa fa-remove"></span>
                        </div>

                        &nbsp;                        
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-filter"></i>
                                <span class="caret"></span>
                            </button>
                            <div class="dropdown-menu" id="drop-status-filter">
                                <a class="dropdown-item" href="#">payment_done</a>
                                <a class="dropdown-item" href="#">review</a>
                                <a class="dropdown-item" href="#">processed</a>
                                <a class="dropdown-item" href="#">verified</a>
                            </div>
                        </span>                        
                        <div class="btn-group">
                            <input id="tokenfield" th:value="${status}" type="text" class="form-control">
                        </div>
                    </div>

                    <br/>

                    <table class="table table-bordered table-striped table-sm">
                        <thead>
                            <tr>
                                <th><input class="chk-check-all" type="checkbox"></th>
                                <th>#</th>
                                <th>Plan</th>
                                <th>Creacion</th>
                                <th>Nombre</th>                                
                                <th>Dni</th>
                                <th>Referer</th>                            
                                <th>Lineas N/P</th>
                                <th>Direccion</th>
                                <th>Estado <span class="badge badge-pill badge-danger">?</span></th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="item : ${page.content}">                                
                                <td><input th:id="${item.id}" type="checkbox" name="reg-id"></td>
                                <td th:text="${item.id}">Vishnu Serghei</td>
                                <td th:text="${item.plan}">Vishnu Serghei</td>
                                <td th:if="${item.fechaCreacion != null}" th:text="${#dates.format(item.fechaCreacion, 'dd/MM/yyyy HH:mm:ss')}">2012/01/01</td>
                                <td th:if="${item.fechaCreacion == null}">--</td>                                
                                <td th:text="${item.nombre} +' '+ ${item.apellido}">Member</td>
                                <td th:text="${item.nroDoc}">Member</td>
                                <td th:text="${item.referer}">Member</td>
                                <td th:text="${item.cantLineas} +'/' + ${item.cantLineasPorta}">Member</td>
                                <td th:text="${item.direccion}+','+${item.ciudad}+','+${item.provincia}">Member</td>
                                <td>
                                    <div th:switch="${item.status}" class="text-center">
                                        <span class="badge badge-info" th:text="#{${item.status}}" th:case="'payment_done'">Active</span>
                                        <span class="badge badge-danger" th:text="#{${item.status}}" th:case="'review'" th:title="${item.getTicketsText()}">Active</span>
                                        <span class="badge badge-success" th:text="#{${item.status}}" th:case="'processed'">Active</span>
                                        <span class="badge badge-warning" th:text="#{${item.status}}" th:case="'verified'">Active</span>
                                        <span class="badge badge-default" th:text="#{${item.status}}" th:case="*">Active</span>
                                    </div>
                                </td>
                                <td>
                                    <i class="fa fa-eye action-button" data-toggle="modal" data-target="#viewModal" th:attr="data-url='views/registration/register/'+${item.id}+'/form'"></i>
                                    <i sec:authorize="hasRole('ROLE_ADMIN')" class="fa fa-pencil action-button" data-toggle="modal" data-target="#editModal"></i>
                                    <i sec:authorize="hasRole('ROLE_ADMIN')" class="fa fa-check-circle-o action-button" id="action-mark-verified" title="Marcar como verificada" th:attr="data-regid=${item.id}"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>


                    <div th:replace="fragments/pagination :: paginationbar"></div>

                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
</div>


<!-- EDIT MODAL -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Modal title</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success">Guardar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div th:replace="fragments/view-modal"></div>