
<script>
    var requireJS = [];

    loadJS(requireJS, "js/views/common.js");
</script>

<div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-line-chart"></i> Lineas a portar
                </div>
                <div class="card-block">


                    <div class="input-group">

                        <div class="btn-group">
                            <button type="button" class="btn btn-primary">
                                <i class="fa fa-search"></i>
                            </button>                            
                            <input th:value="${q}" type="search" class="form-control search-input" placeholder="Buscar...">
                            <span class="search-clear fa fa-remove"></span>
                        </div>
                        
                    </div>
                    &nbsp;


                    <table class="table table-bordered table-striped table-sm">
                        <thead>
                            <tr>
                                <th><input class="chk-check-all" type="checkbox"></th>
                                <th>#</th>
                                <th>Número a portar</th>
                                <th>Operador</th>
                                <th>Fecha de portabilidad</th>
                                <th>IccId</th>
                                <th>Id registro</th>
                                <th>Estado</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="item : ${page.content}">                                
                                <td><input th:id="${item.id}" type="checkbox" name="reg-id"></td>
                                <td th:text="${item.id}">Vishnu Serghei</td>
                                <td th:text="${item.portNumber}">Vishnu Serghei</td>
                                <td th:text="${item.portOperator}">Member</td>
                                <td th:if="${portDate != null}" th:text="${#dates.format(item.portDate, 'dd/MM/yyyy HH:mm:ss')}">2012/01/01</td>
                                <td th:if="${portDate == null}">--</td>
                                <td th:text="${item.iccid}">Member</td>
                                <td th:text="${item.registrationId}">Member</td>
                                <td th:text="${item.status}">Member</td>
                                <td>
                                    <i class="fa fa-eye action-button" data-toggle="modal" data-target="#viewModal" th:attr="data-url='views/registration/lines/'+${item.id}+'/form'"></i>
                                    <i sec:authorize="hasRole('ROLE_ADMIN')" class="fa fa-pencil action-button" data-toggle="modal" data-target="#editModal"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>


                    <div th:replace="fragments/pagination :: paginationbar"></div>

                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
</div>


<!-- EDIT MODAL -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Modal title</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success">Guardar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div th:replace="fragments/view-modal"></div>