<!doctype html>
<html class="no-js h-100" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Servicios Nativos - Wings Mobile</title>
        <meta name="google" content="notranslate">
        <meta name="description" content="Servicios Nativos - Wings Mobile">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="css/fa-all.css" rel="stylesheet">
        <link href="css/material.css" rel="stylesheet">
        <link href="css/bootstrap.min.css" rel="stylesheet" >
        <link href="css/shards-dashboards.1.1.0.min.css" rel="stylesheet" id="main-stylesheet" data-version="1.1.0" >
    </head>
    <body class="h-100">
        <div class="container-fluid">
            <div class="row">
                <div th:replace="frags/sidebar"></div>
                <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
                    <div th:replace="frags/navbar"></div>


                    <div class="main-content-container container-fluid px-4">

                        <div class="page-header row no-gutters py-4">
                            <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                                <span class="text-uppercase page-subtitle">Servicios Nativos</span>
                                <h3 class="page-title">Mis Servicios</h3>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-lg-4" th:each="srv : ${services}">
                                <div class="card card-small card-post mb-4">
                                    <div class="card-body">
                                        <h5 class="card-title" th:text="${srv.service.getLocalization(client.countryIso).displayName}">Name</h5>                                        
                                        <p class="card-text text-muted" th:utext="${srv.service.getLocalization(client.countryIso).description}">Description</p>

                                        <p th:if="${srv.service.bonusMinutes > 0}">
                                            Minutos restantes: <small th:text="${srv.remainingMinutes}"></small>
                                        </p>
                                    </div>
                                    <div class="card-footer border-top d-flex">
                                        <div class="card-post__author d-flex">                                            
                                            <a href="#" class="card-post__author-avatar" th:style="'background-image: url(' + ${srv.service.defaultImage} + ');'"></a>
                                            <div class="d-flex flex-column justify-content-center ml-3">
                                                <span class="card-post__author-name">Vencimiento</span>
                                                <small th:if="${srv.expirationDate.toString() == '2101-01-31 00:00:00.0'}" class="text-muted">nunca</small>
                                                <small th:if="${srv.expirationDate.toString() != '2101-01-31 00:00:00.0'}" class="text-muted" th:text="${#dates.format(srv.expirationDate, 'dd/MM/yyyy')}">nunca</small>
                                            </div>
                                        </div>
                                        <!--<div class="my-auto ml-auto">
                                            <a class="btn btn-sm btn-white" href="#">
                                                <i class="far fa-amilia mr-1"></i>
                                            </a>
                                        </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>



                    <div th:replace="frags/footer"></div>
                </main>
            </div>
        </div>
        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>