<br/>
<br/>
<div class="text-center" id="wait-message">
    <i class="fa fa fa-spinner fa-spin" style="font-size: 48px;"></i>
    <h6 th:text="#{popup.redirecting.please.wait}">Redireccionando, espere por favor...</h6>
</div>

<link th:href="${formData.get('style_url')}" rel="stylesheet" type="text/css" />
<script th:src="${formData.get('script_url')}" charset="UTF-8"></script>
<script th:src="${formData.get('checkout_url')}"></script>

<script th:inline='javascript'>

    $(document).ready(function () {

        /*<![CDATA[*/
        var clientAppCode = /*[[${formData.get('client_app_code')}]]*/ 'xx';
        var clientAppKey = /*[[${formData.get('client_app_key')}]]*/ 'xx';
        var mode = /*[[${formData.get('mode')}]]*/ 'xx';
        var saleId = /*[[${req.getCompoundId()}]]*/ 'xx';
        var saleUserId = /*[[${req.orderNumber}]]*/ 'xx';
        var saleTitle = /*[[${req.title}]]*/ 'xx';
        var saleAmount = /*[[${req.amount}]]*/ 'xx';
        var saleCurrency = /*[[${req.currency}]]*/ 'xx';
        var saleEmail = /*[[${req.billingEmail}]]*/ 'xx';
        /*]]>*/

        var paymentezCheckout = new PaymentezCheckout.modal({
            client_app_code: clientAppCode,
            client_app_key: clientAppKey,
            locale: 'es',
            env_mode: mode,
            onOpen: function () {
                $('#wait-message').remove();
                /*console.log('modal open');*/
            },
            onClose: function () {
                window.location = "/";
                console.log('modal closed');
            },
            onResponse: function (response) { // The callback to invoke when the Checkout process is completed                
                var data = {};
                data.content = JSON.stringify(response);
                $.post('/paymentez/response', data, function (resp) {
                    window.location.reload();
                }).fail(function (xhr, status, error) {
                    window.location = "/?error=xhr.";
                });
            }
        });
        paymentezCheckout.open({
            user_id: saleId,
            user_email: saleEmail,
            order_description: saleTitle,
            order_amount: saleAmount,
            order_currency: saleCurrency,
            order_vat: 0,
            order_reference: saleId
        });
        // Close Checkout on page navigation:
        window.addEventListener('popstate', function () {
            paymentezCheckout.close();
        });
    });
</script>
