<script>
    var requireJS = [];
    loadJS(requireJS, "js/common.js");
    loadCSS('css/flags/flags.min.css');
    loadJS(requireJS, 'vendors/bootstrap-progressbar/bootstrap-progressbar.min.js');
    loadJS(requireJS, "js/views/promoLatam.js");
</script>

<div class="page-title">
    <div class="title_left">
        <h3 th:text="#{PromoLatamWingsMovistarArena}">Promo Latam - Wings Event Perú</small></h3>
    </div>
</div>

<div class="clearfix"></div>

<div class="row">

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">

                <div class="search-bar" style="overflow: auto">
                    <div class="col-md-12">
                        <input type="text" th:value="${q}" placeholder="Buscar..." th:attr="placeholder=#{search} + '...'" name="q" id="q"/>
                        <span th:text="#{records}">Registros:</span>
                        <select name="size" id="size">
                            <option th:selected="${size == null || (size != null && size == '20')}" value="20">20</option>
                            <option th:selected="${size != null && size == '50'}" value="50">50</option>
                            <option th:selected="${size != null && size == '100'}" value="100">100</option>
                            <option th:selected="${size != null && size == '500'}" value="500">500</option>
                            <option th:selected="${size != null && size == '1000'}" value="1000">1000</option>
                        </select>
                        &nbsp;
                        <span th:text="#{countryName}">País:</span>                  
                        <select name="country" id="country">
                            <option th:selected="${country == 'all'}" value="all" th:text="#{all}">Todos</option>
                            <option th:selected="${country == 'ES'}" value="ES"><span th:text="#{ES}">España</span></option>
                            <option th:selected="${country == 'CO'}" value="CO"><span th:text="#{CO}">Colombia</span></option>
                            <option th:selected="${country == 'PE'}" value="PE"><span th:text="#{PE}">Perú</span></option>
                            <option th:selected="${country == 'EC'}" value="EC"><span th:text="#{EC}">Ecuador</span></option>
                        </select>
                        &nbsp;
                        <span th:text="#{qualified}">Calificado:</span>
                        <select name="qualify" id="qualify">
                            <option th:selected="${qualify == null || qualify == 'all'}" value="all" th:text="#{all}">Todos</option>
                            <option th:selected="${qualify == 'true'}" value="true" th:text="#{yes}">Si</option>
                            <option th:selected="${qualify == 'false'}" value="false" th:text="#{no}">No</option>
                        </select>

                        <button class="btn btn-info btn-sm" id="search-button"><i class="fa fa-search"></i>&nbsp;<span th:text="#{search}"></span></button>
                        <a class="btn btn-info export pull-right" target="_blank" id="export" ><i class="fa fa-file-excel-o"></i> Exportar</a>


                        <ul class="nav navbar-right panel_toolbox">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                    <i class="fa fa-gears wings-tool-bar"></i>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a class="action-button" id="create-latam-report"><i class="fa fa-upload"></i>&nbsp;Promo Latam generar</a>
                                        <!--<a class="action-button" id="promo-ticket-report"><i class="fa fa-upload"></i> Ticket promo (only once)</a>
                                        <a class="action-button" id="promo-cena"><i class="fa fa-upload"></i> Promo cena</a>-->
                                    </li>
                                </ul>
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

            <div>

                <div class="table-responsive-tall">
                    <table class="table table-condensed table-striped jambo_table">
                        <thead>
                            <tr class="headings">
                                <th><i class="fa fa-globe"></i></th>
                                <th>Afiliado</th>
                                <th>Rango Inicio</th>
                                <th>Puntos</th>
                                <th>%</th>
                                <th>Califica</th>                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="item : ${page.content}">
                                <td>
                                    <img src="/css/flags/blank.gif" class="flag" th:classappend="'flag-'+ ${#strings.toLowerCase(item.country)}"/>
                                </td>
                                <td th:text="${item.firstName} + ' ' + ${item.lastName} + ' - ' + ${item.username}"></td>
                                <td th:text="${item.rankName}"></td>
                                <td>
                                    Equipo <span th:text="${item.pointsReached} + '/' + ${item.pointsNeeded}"></span><br/> 
                                    <!--Directo <span th:text="${item.pointsReached2} + '/' + ${item.pointsNeeded2}"></span>-->
                                </td>
                                <td>
                                    Puntos de equipo <small th:text="${item.percentReached} + '%'"></small>
                                    <div class="progress progress_sm" th:title="${item.percentReached}">
                                        <div class="progress-bar" th:classappend="${item.percentReached == 100? 'bg-green'  : 'bg-red'}" role="progressbar" th:attr="data-transitiongoal=${item.percentReached}"></div>
                                    </div>                                    
                                    <br/>                                    
                                    <!--Puntos directos <small th:text="${item.percentReached2} + '%'"></small>
                                    <div class="progress progress_sm" th:title="${item.percentReached2}">
                                        <div class="progress-bar" th:classappend="${item.percentReached2 == 100? 'bg-green'  : 'bg-red'}" role="progressbar" th:attr="data-transitiongoal=${item.percentReached2}"></div>
                                    </div>-->
                                </td>
                                <td class="text-center">
                                    <span th:if="${item.qualify}" class="label label-success" th:text="#{yes}">Si</span>                                            
                                    <span th:if="${!item.qualify}" class="label label-danger" th:text="#{no}">No</span>                                            
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <div th:replace="frags/pagination :: paginationbar"></div>
    </div>
</div>



