<div class="card">
    <div class="card-body">
        <div class="row">
            <nav class="col-md-18-24"> 
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/" th:text="#{breadcrumb.home}">Inicio</a></li>
                    <li class="breadcrumb-item active" aria-current="page" th:if="${category != null}"><a th:if="${category != null}" th:href="|/q/${category}|" th:text="#{'menu.' + ${category}}"></a></li>
                    <li class="breadcrumb-item active" aria-current="page"><a href="#" th:text="${item.title}" th:if="${item != null}"></a></li>
                </ol>  
            </nav>
        </div>
    </div>
</div>
