<header class="section-header">
    <nav class="navbar navbar-top navbar-expand-lg navbar-dark bg-secondary front-page-banner">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#wnavbar" aria-controls="wnavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="wnavbar">
                <ul class="navbar-nav mr-auto">
                    <li><a href="https://www.facebook.com/wingsmobileoficial/" target="_blank" class="nav-link"> <i class="fab fa-facebook"></i> </a></li>
                    <li><a href="https://www.instagram.com/wingsmobileoficial/" target="_blank" class="nav-link"> <i class="fab fa-instagram"></i> </a></li>
                    <li><a href="https://twitter.com/wingsmobileofic" class="nav-link" target="_blank"> <i class="fab fa-twitter"></i> </a></li>
                    <li><a href="https://www.youtube.com/channel/UCnO0SN55A4-syZWXDjQbkew" target="_blank" class="nav-link"> <i class="fab fa-youtube"></i> </a></li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item"><a href="https://beta.wingsmobile.net" class="nav-link" th:text="#{header.account}"> Mi cuenta </a></li>
                    <li class="nav-item"><a href="#" class="nav-link" th:text="#{header.help}"> Ayuda </a></li>

                    <li class="nav-item dropdown" th:if="${session.country != null}">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                            <img th:src="'/images/flags/' + ${session.country} + '.png'"/> 
                            <span th:text="#{${session.country.toUpperCase()}}"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li th:each="country : ${session.countries}">
                                <a class="dropdown-item" th:href="|/set/${country.code.toLowerCase()}?lang=${country.defaultLang.toLowerCase()}|" >
                                    <img th:src="'/images/flags/' + ${country.code.toLowerCase()} + '.png'"/>
                                    <span th:text="#{${country.code}}"></span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="header-main shadow-sm">
        <div class="container">
            <div class="row align-items-center">

                <div class="col-lg-3 col-xl-3 col-8">
                    <div class="brand-wrap custom-logo">
                        <a href="/"><img class="logo" src="/images/logo_full.png"/></a>
                    </div>
                </div>

                <div class="col-lg-1 col-xl-1 col-4 text-center" th:if="${session.sponsor != null}">
                    <div class="brand-wrap">
                        <a href="/">
                            <img class="img-circle" 
                                 onerror="this.src='/images/avatars/member_default.jpg'" 
                                 src="/images/avatars/member_default.jpg" 
                                 th:src="${session.avatar}"
                                 />
                        </a>
                        <small class="text-muted" th:text="${session.sponsor}" th:if="${session.sponsor != 'member_wrong'}"></small>
                        <small class="text-muted" th:text="#{${session.sponsor}}" th:if="${session.sponsor == 'member_wrong'}"></small>
                    </div>
                </div>

                <div class="col-lg-6 col-xl-6 col-8">
                    <form action="/q" class="search-wrap">
                        <div class="input-group w-100">
                            <input type="text" class="form-control" placeholder="Buscar..." name="q">
                            <input type="hidden" th:value="${category}" name="category">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-2 col-xl-2 col-4" th:if="${session.cart != null}">
                    <div class="widgets-wrap float-right">
                        <a href="#" class="widget-header mr-3">
                            <div class="icontext">
                                <div class="icon-wrap">
                                    <a href="/cart"><i class="icon-sm round border fa fa-shopping-cart cart-padding"></i></a>
                                </div>
                                <div class="text-wrap">
                                    <span class="small badge badge-danger shopping-cart-badge" th:text="${session.cart.items.size()}" id="cart-size">0</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="widget-header mr-3">
                            <div class="icontext"><!--separator--></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-main bg padding-y-sm" th:if="${session.country == 'ot'}">
        <div class="container text-center">
            <div class="alert alert-danger">
                <h6 th:text="#{country.not_supported}">Actualmente no operamos en tu país, puedes cambiar de pais desde el menú superior.</h6>
            </div>
        </div>
    </section>

</header>

