<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Wings Mobile">
    <title th:text="#{app.name}">Wings Mobile - Tienda</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="/fonts/fontawesome/css/fontawesome-all.min.css" type="text/css" rel="stylesheet">
    <link href="/css/owl.carousel.min.css" rel="stylesheet">
    <link href="/css/owl.theme.default.css" rel="stylesheet">
    <link href="/css/ui.css" rel="stylesheet" type="text/css"/>
    <link href="/css/responsive.css" rel="stylesheet" media="only screen and (max-width: 1200px)" />
    <link href="/css/toastr.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/custom.css" rel="stylesheet" type="text/css"/>
    <link href="/css/loader.css" rel="stylesheet" type="text/css"/>
</head>