<section class="section-subscribe bg-secondary padding-y-lg">
    <div class="container">
        <p class="pb-2 text-center white" th:text="#{subscribe.title}">Novedades de productos y servicios en tu correo.</p>
        <div class="row justify-content-md-center">
            <div class="col-lg-4 col-sm-6">
                <form class="row-sm form-noborder" method="post" action="/suscribe">
                    <div class="col-8">
                        <input class="form-control" th:placeholder="#{subscribe.email}" type="email" required="required" name="email">
                    </div>
                    <div class="col-4">
                        <button type="submit" class="btn btn-block btn-warning"> 
                            <i class="fa fa-envelope"></i> 
                            <span the:text="#{subscribe.subscribe}">Suscribirse</span> 
                        </button>
                    </div>
                </form>
                <small class="form-text text-white-50" th:text="#{subscribe.want}">Deseo recibir información acerca de novedades de Wings Mobile.</small>
            </div>
        </div>
    </div>
</section>
