<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template"/>
        <meta name="author" content="Łukasz Holeczek"/>
        <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,AngularJS,Angular,Angular2,Angular 2,Angular4,Angular 4,jQuery,CSS,HTML,RWD,Dashboard,React,React.js,Vue,Vue.js"/>
        <link rel="shortcut icon" href="img/favicon.ico"/>

        <title>Wings Mobile - Autorización de tarjetas</title>

        <!-- Icons -->
        <link  th:href="${urlBase} + 'css/font-awesome.min.css'" rel="stylesheet">
        <link th:href="${urlBase} + 'css/simple-line-icons.css'" rel="stylesheet">

        <!-- Main styles for this application -->
        <link th:href="${urlBase} + 'css/style.css'" rel="stylesheet">

        <!-- Bootstrap and necessary plugins -->
        <script th:src="${urlBase} + 'bower_components/jquery/dist/jquery.min.js'"></script>
        <script th:src="${urlBase} + 'bower_components/tether/dist/js/tether.min.js'"></script>
        <script th:src="${urlBase} + 'bower_components/bootstrap/dist/js/bootstrap.min.js'"></script>
        <script th:src="${iframeUrl}"></script>

    </head>

    <body class="app">

        <div class="row">
            <div class="col-lg-6 offset-3">
                <br/>    
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-credit-card"></i> Autorización de tarjetas - Cambio de Tarjeta
                    </div>
                    <div class="card-block">

                        <div th:if="${error != null}">
                            <h6 th:text="${error}"></h6>
                            <a th:if="${button != null}" th:href="${button}" class="btn btn-sm btn-primary pull-right"> <span th:text="${buttonText}">Cambiar Otra tarjeta</span> <i class="fa fa-refresh"></i></a>
                        </div>


                        <div th:if="${error != null && error == 'Token Inválido'}">
                            <p class="text-muted">Comuníquese con atención al cliente para obtener un nuevo enlace - Atención al cliente: (+34) 900 838 137 - atencionalcliente@wingsmobile.es</p>
                        </div>


                        <div th:if="${error == null}">

                            <div class="pull-right"><img th:src="@{/img/logo_clean.png}" width="50"/></div>
                            <h5>Cliente: <strong><span th:text="${client}"></span></strong></h5><br/>

                            <div>
                                <h6>Formulario para la modificación de tarjetas de crédito/debito.</h6>
                            </div>

                            <div class="card" th:if="${step == 'step1'}">
                                <div class="card-header">
                                    Seleccione las lineas a autorizar con la nueva tarjeta.
                                </div>

                                <div class="card-block">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <div class="row text-center">
                                                <div class="col-sm-3">
                                                    <strong>Número</strong>
                                                </div>
                                                <div class="col-sm-4">
                                                    <strong>Tarifa</strong>
                                                </div>              
                                                <div class="col-sm-3">
                                                    <strong>Tarjeta actual</strong>
                                                </div>              
                                                <div class="col-sm-2">
                                                    <strong>Seleccionada</strong>
                                                </div>              
                                            </div>
                                        </li>
                                    </ul>                           

                                    <form method="POST" id="form-line">
                                        <ul class="list-group" th:each="item : ${client.lines}">
                                            <li class="list-group-item" th:if="${item.active}">
                                                <div class="row text-center">
                                                    <div class="col-sm-3">
                                                        <strong th:text="${item.number}"></strong>                                                    
                                                    </div>                                                
                                                    <div class="col-sm-4">
                                                        <span th:text="${item.plan}"></span>                                                    
                                                    </div>              
                                                    <div class="col-sm-3">
                                                        <i class="fa fa-credit-card" title="Tarjeta terminada en "></i>
                                                        <span th:text="${item.paymentAuthorization.panMask}"></span>
                                                    </div>              
                                                    <div class="col-sm-2">
                                                        <label class="switch switch-3d switch-primary">
                                                            <input type="checkbox" class="switch-input" checked name="line" th:value="${item.id}"/>
                                                            <span class="switch-label"></span>
                                                            <span class="switch-handle"></span>
                                                        </label>
                                                    </div>              
                                                </div>
                                            </li>
                                        </ul>                                    
                                    </form>
                                </div>
                                <div class="card-footer">
                                    <button id="submit-form" type="submit" class="btn btn-sm btn-primary pull-right">Siguiente <i class="fa fa-arrow-right"></i></button>
                                </div>
                            </div>

                            <div class="card" th:if="${step == 'step2'}">                                                                                                
                                <div class="card-header">
                                    Por favor, realiza la autenticacion de la tarjeta para las siguientes lineas (no se generarán cargos).
                                </div>

                                <div class="card-block">
                                    <ul class="list-group" th:each="item : ${selectedLines}">
                                        <li class="list-group-item">
                                            <div class="row text-center">
                                                <div class="col-sm-6">
                                                    <strong th:text="${item.number}"></strong>                                                    
                                                </div>                                                
                                                <div class="col-sm-6">
                                                    <span th:text="${item.plan}"></span>                                                    
                                                </div>
                                            </div>
                                        </li>
                                    </ul>  
                                </div>

                                <div id="tefpayBox" class="center-block">
                                    <form id="tefpayData" th:action="${payUrl}">
                                        <input id="Ds_Merchant_Url" name="Ds_Merchant_Url" type="hidden" th:value="${Ds_Merchant_Url}" value="http://localhost/store/wizard?msg=url" />
                                        <input id="Ds_Merchant_UrlOK" name="Ds_Merchant_UrlOK" type="hidden" th:value="${Ds_Merchant_UrlOK}" value="http://localhost/store/wizard?msg=ok"/>
                                        <input id="Ds_Merchant_UrlKO" name="Ds_Merchant_UrlKO" type="hidden" th:value="${Ds_Merchant_UrlKO}" value="http://localhost/store/wizard?msg=error" />
                                        <input id="Ds_Merchant_MerchantCode" name="Ds_Merchant_MerchantCode" type="hidden" th:value="${Ds_Merchant_MerchantCode}" value="V99000231" />
                                        <input id="Ds_Merchant_Amount" name="Ds_Merchant_Amount" type="hidden" th:value="${Ds_Merchant_Amount}" value="0"/>
                                        <input id="Ds_Merchant_MerchantSignature" name="Ds_Merchant_MerchantSignature" type="hidden" th:value="${Ds_Merchant_MerchantSignature}" value="f3ba8a48c0387a029b6c34072de5c592df8495e8" />
                                        <input id="Ds_Merchant_TransactionType" name="Ds_Merchant_TransactionType" type="hidden" th:value="${Ds_Merchant_TransactionType}" value="22" />
                                        <input id="Ds_Merchant_MatchingData" name="Ds_Merchant_MatchingData" type="hidden" th:value="${Ds_Merchant_MatchingData}" value="123456789123456789000" />
                                        <input id="Ds_Merchant_UserName" name="Ds_Merchant_UserName" type="hidden" th:value="${Ds_Merchant_UserName}" value="Test test" />
                                        <input id="Ds_Merchant_Name" name="Ds_Merchant_Name" type="hidden" th:value="${Ds_Merchant_Name}" value="Wings Mobile" />
                                        <input id="Ds_Merchant_Logo" name="Ds_Merchant_Logo" type="hidden" th:value="${Ds_Merchant_Logo}" value="Wings Mobile" />
                                        <input id="Ds_Merchant_Description" name="Ds_Merchant_Description" type="hidden" th:value="${Ds_Merchant_Description}" value="Wings Mobile" />
                                        <input id="Ds_Merchant_Lang" name="Ds_Merchant_Lang" type="hidden" th:value="${Ds_Merchant_Lang}" value="es" />
                                        <input id="Ds_Merchant_Currency" name="Ds_Merchant_Currency" type="hidden" th:value="${Ds_Merchant_Currency}" value="978" />
                                        <input id="Ds_Merchant_TemplateNumber" name="Ds_Merchant_TemplateNumber" type="hidden" value="07" />
                                        <input id="Ds_Merchant_TemplateTheme" name="Ds_Merchant_TemplateTheme" type="hidden" value="white" />
                                        <input id="Ds_Merchant_TemplateFonts" name="Ds_Merchant_TemplateFonts" type="hidden" value="default"/>
                                    </form>
                                </div>

                                <script th:inline="javascript">
                                    /*<![CDATA[*/
                                    if (TefpayIframe.init()) {
                                        var url = /*[[${payUrl}]]*/
                                                TefpayIframe.configure(url, "100%");
                                        TefpayIframe.load();
                                    }
                                    /*]]>*/
                                </script>
                            </div>

                            <div class="card" th:if="${step == 'step3'}">
                                <div class="card-header">
                                    Seleccione las lineas a autorizar con la nueva tarjeta.
                                </div>

                                <div class="card-block">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <div class="row text-center">
                                                <div class="col-sm-3">
                                                    <strong>Número</strong>
                                                </div>
                                                <div class="col-sm-4">
                                                    <strong>Tarifa</strong>
                                                </div>              
                                                <div class="col-sm-3">
                                                    <strong>Tarjeta actual</strong>
                                                </div>              
                                                <div class="col-sm-2">
                                                    <strong>Seleccionada</strong>
                                                </div>              
                                            </div>
                                        </li>
                                    </ul>                           

                                    <form method="POST" id="form-line">
                                        <ul class="list-group" th:each="item : ${client.lines}">
                                            <li class="list-group-item">
                                                <div class="row text-center">
                                                    <div class="col-sm-3">
                                                        <strong th:text="${item.number}"></strong>                                                    
                                                    </div>                                                
                                                    <div class="col-sm-4">
                                                        <span th:text="${item.plan}"></span>                                                    
                                                    </div>              
                                                    <div class="col-sm-3">
                                                        <i class="fa fa-credit-card" title="Tarjeta terminada en "></i>
                                                        <span th:text="${item.paymentAuthorization.panMask}"></span>
                                                    </div>              
                                                    <div class="col-sm-2">
                                                        <label class="switch switch-3d switch-primary">
                                                            <input type="checkbox" class="switch-input" checked name="line" th:value="${item.id}"/>
                                                            <span class="switch-label"></span>
                                                            <span class="switch-handle"></span>
                                                        </label>
                                                    </div>              
                                                </div>
                                            </li>
                                        </ul>                                    
                                    </form>
                                </div>
                                <div class="card-footer">
                                    <button id="submit-form" type="submit" class="btn btn-sm btn-primary pull-right">Siguiente <i class="fa fa-arrow-right"></i></button>
                                </div>
                            </div>                            
                        </div>

                    </div>
                </div>       

            </div>                
        </div>

        <script th:inline="javascript">
            $('#submit-form').click(function (e) {
                e.preventDefault();
                var n = $("input:checked").length;
                if (n === 0) {
                    $('#alertModal').modal();
                    return;
                }
                $('#form-line').submit();
            });
        </script>

        <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-danger" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <p class="modal-title">Error</p>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Debe seleccionar al menos una linea!
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>


    </body>
</html>
