

<div class="row justify-content-center">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-warning"></i> Error
            </div>
            <div class="card-block">
                <div class="clearfix">
                    <p class="float-left display-3 mr-4" th:text="${errorMap.status}">500</p>
                    <h5 class="pt-3" th:text="${errorMap.error}">Houston, we have a problem!</h5>
                    <p class="text-muted" th:text="${errorMap.message}">The page you are looking for is temporarily unavailable.</p>
                </div>
            </div>
        </div>
    </div>
</div>


