


<div class="col-sm-12 col-md-6 col-xs-12" th:if="${copen != null}">
    <div class="x_panel">
        <div class="x_content">
            <h5>Estado de apertura para el pais</h5>
            <div class="row">
                <b th:text="#{preopen}"></b>                
                <br/>
                <div class="col-sm-12 col-md-6 col-xs-12">
                    <span>Golden Founder</span> <b th:text="${copen.getGoldenPercent()} + '%'"></b>
                    <div class="progress" th:title="${copen.getGoldenPercent()}">
                        <div class="progress-bar" th:classappend="${copen.getGoldenPercent() == 100? 'bg-green'  : 'bg-red'}" role="progressbar" th:attr="data-transitiongoal=${copen.getGoldenPercent()}">
                            <span th:text="${copen.getGoldenText()}"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-xs-12">
                    <span>Diamond Founder</span> <b th:text="${copen.getDiamondPercent()} + '%'"></b>
                    <div class="progress" th:title="${copen.getDiamondPercent()}">
                        <div class="progress-bar" th:classappend="${copen.getDiamondPercent() == 100? 'bg-green'  : 'bg-red'}" role="progressbar" th:attr="data-transitiongoal=${copen.getDiamondPercent()}">
                            <span th:text="${copen.getDiamondText()}"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <b th:text="#{prelaunch}"></b>
                <br/>
                <div class="col-sm-12 col-md-12 col-xs-12">
                    <span>Afiliados nivel 1</span> <b th:text="${copen.getMembersPercentLevel1()} + '%'"></b>
                    <div class="progress" th:title="${copen.getMembersPercentLevel1()}">
                        <div class="progress-bar" th:classappend="${copen.getMembersPercentLevel1() == 100? 'bg-green'  : 'bg-red'}" role="progressbar" th:attr="data-transitiongoal=${copen.getMembersPercentLevel1()}">
                            <span th:text="${copen.getMembersLevelString1()}"></span>
                        </div>
                    </div>
                </div>                
            </div>
            <div class="row">
                <b th:text="#{launched}"></b>
                <br/>
                <div class="col-sm-12 col-md-12 col-xs-12">
                    <span>Afiliados nivel 2</span> <b th:text="${copen.getMembersPercentLevel2()} + '%'"></b>
                    <div class="progress" th:title="${copen.getMembersPercentLevel2()}">
                        <div class="progress-bar" th:classappend="${copen.getMembersPercentLevel2() == 100? 'bg-green'  : 'bg-red'}" role="progressbar" th:attr="data-transitiongoal=${copen.getMembersPercentLevel2()}">
                            <span th:text="${copen.getMembersLevelString2()}"></span>
                        </div>
                    </div>
                </div>                
            </div>
            <div class="row">
                <b th:text="#{ecommerce}"></b>
                <br/>            
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

