
<div class="col-sm-12 col-md-6 col-xs-12" th:if="${latam != null}">
    <div class="x_panel">
        <div class="x_title" th:if="${showTitle}">
            <h6 th:text="#{promoBussinesSchoolCancun}">Promoción Exclusiva - Wings Latam Event PERÚ</h6>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <span th:if="${profileComplete}">
                <div th:if="${latam.qualify}">
                    <h5 th:text="#{qualifiedSchoolCancun}">Felicitaciones, has calificado para el premio de la promoción Wings Latam Event - PERÚ</h5>
                </div>

                <div th:if="!${latam.qualify}">
                    <h5 th:text="#{advanceToQualify}">Este es tu avance para calificar para la promocion Wings Latam Event - PERÚ</h5>                    
                    <ul>
                        <li><span th:text="#{yourRankOn}">Tu rango al 01/04/2020:</span> <span th:text="#{${latam.rankName}}"></span></li>
                        <li><span th:text="#{teamPointsEarned}">Puntos de equipo obtenidos:</span> <span th:text="${latam.pointsReached}"></span></li>
                        <li><span th:text="#{teamPointsRequired}">Puntos de equipo requeridos:</span> <span th:text="${latam.pointsNeeded}"></span></li>
                        <!--<li th:text="#{directPointsEarned}">Puntos directos obtenidos: <span th:text="${latam.pointsReached2}"></span></li>
                        <li th:text="#{directPointsRequired}">Puntos directos requeridos: <span th:text="${latam.pointsNeeded2}"></span></li>-->
                        <li>
                            <span th:text="#{teamPoints}">Puntos de equipo</span> <small th:text="${latam.percentReached} + '%'"></small>
                            <div class="progress" th:title="${latam.percentReached}">
                                <div class="progress-bar" th:classappend="${latam.percentReached == 100? 'bg-green'  : 'bg-red'}" role="progressbar" th:attr="data-transitiongoal=${latam.percentReached}">
                                    <span th:text="${latam.pointsReached + '/' + latam.pointsNeeded}"></span>
                                </div>
                            </div>
                        </li>
                        <!--<li>
                            <span th:text="#{directPoints}">Puntos directos</span><small th:text="${latam.percentReached2} + '%'"></small>
                            <div class="progress progress_sm" th:title="${latam.percentReached2}">
                                <div class="progress-bar" th:classappend="${latam.percentReached2 == 100? 'bg-green'  : 'bg-red'}" role="progressbar" th:attr="data-transitiongoal=${latam.percentReached2}"></div>
                            </div>
                        </li>-->
                    </ul>                
                </div>
            </span>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

