<script>
    var requireJS = [];
    loadJS(requireJS, "js/views/common.js");
    loadJS(requireJS, "js/views/plans.js");
</script>

<div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="icon-target"></i> Planes
                </div>
                <div class="card-block">

                    <div class="input-group-btn">
                        <div class="input-group-btn pull-right">
                            <button type="button" class="btn btn-primary action-item" id="action-item-check-products" title="Ver productos disponibles en el operador">
                                <i class="fa fa-download"></i> Ver Productos Operador
                            </button>
                        </div>
                        <div class="input-group-btn pull-right">
                            <button type="button" class="btn btn-primary action-item" id="action-item-check-operators" title="Ver Operadores disponibles">
                                <i class="fa fa-download"></i> Ver operadores Operador
                            </button>
                        </div>
                        <div class="input-group-btn pull-right">
                            <button type="button" class="btn btn-info action-item" id="action-item-client-plans" title="Ver relacion planes local y xtra">
                                <i class="fa fa-download"></i> Ver planes clientes
                            </button>
                        </div>
                    </div>

                    <br/>
                    <table class="table table-bordered table-striped table-sm">
                        <thead>
                            <tr>
                                <th><input class="chk-check-all" type="checkbox"></th>
                                <th>#</th>
                                <th>Descripcion</th>
                                <th>Voz</th>
                                <th>Datos</th>
                                <th>Precio</th>
                                <th>Es Oferta?</th>
                                <th>Valido desde</th>
                                <th>Valido hasta</th>
                                <th>Operador</th>
                                <th>Activo</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="item : ${page.content}">                                
                                <td><input th:id="${item.id}" type="checkbox" name="client-id"></td>
                                <td th:text="${item.id}"></td>
                                <td th:text="${item.description}"></td>
                                <td th:text="${item.voice}"></td>
                                <td th:text="${item.data}"></td>
                                <td>
                                    <span th:text="${#numbers.formatDecimal(item.price, 0, 'POINT', 2, 'COMMA')}"></span> €
                                </td>
                                <td th:text="${item.offer}"></td>                                
                                <td th:text="${#dates.format(item.validFrom, 'dd/MM/yyyy')}"></td>
                                <td th:text="${#dates.format(item.validTo, 'dd/MM/yyyy')}"></td>                                
                                <td th:text="${item.providerProfile}"></td>                                                                
                                <td th:text="${item.active}"></td>                                                                
                                <td>
                                    <i class="fa fa-eye action-button" data-toggle="modal" data-target="#viewModal" th:attr="data-url='views/system/plans/'+${item.id}+'/form'"></i>
                                    <i sec:authorize="hasRole('ROLE_ADMIN')" class="fa fa-pencil action-button" data-toggle="modal" data-target="#editModal"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>


                    <div th:replace="fragments/pagination :: paginationbar"></div>

                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
</div>


<!-- EDIT MODAL -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Modal title</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success">Guardar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div th:replace="fragments/view-modal"></div>