<script>
    var requireJS = [];

    loadJS(requireJS, "js/common.js");
    loadJS(requireJS, "js/views/member-withdrawal.js");

</script>


<div class="page-title">
    <div class="title_left">
        <h3 th:text="#{accountsToWithdraw}">Cuentas para retiro</h3>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">

                <div class="col-md-12">
                    <a class="btn btn-success action-button" id="add-account"><i class="fa fa-plus-circle"></i>&nbsp;
                        <!--                        <span th:text="#{addAccount}">Agregar cuenta</span>-->
                        Agregar cuenta
                    </a>
                    <br/>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="col-md-4 col-xs-12 widget widget_tally_box" th:each="acc : ${accounts}">
                    <div class="x_panel fixed_height_270">
                        <div class="x_title">
                            <h2 th:text="${acc.accountName}">Nombre de la cuenta</h2>                            
                            <div class="clearfix"></div>
                        </div>

                        <div class="x_content">
                            <div class="left col-xs-8">
                                <ul class="list-unstyled">
                                    <li><strong th:text="#{bank}">Banco:</strong>&nbsp;<span th:text="${acc.bankName}"></span></li>
                                    <li><strong th:text="#{numberAccount}">Nro de cuenta:</strong>&nbsp;<span th:text="${acc.accountNumber}"></span></li>
                                    <li><strong th:text="#{accountType}">Tipo de cuenta:</strong>&nbsp;<span th:if="${acc.accountType != null}" th:text="#{${acc.accountType}}"></span></li>
                                    <li><strong th:text="#{IBAN}">IBAN:</strong>&nbsp;<span th:text="${acc.accountIban}"></span></li>
                                    <li><strong th:text="#{BIC-Swift}">BIC/Swift:</strong>&nbsp;<span th:text="${acc.accountSwift}"></span></li>
                                    <li><strong th:text="#{accountCreation}">Creada:</strong>&nbsp;<span th:text="${acc.creationDate}"></span></li>
                                    <li>
                                        <strong class="green" th:if="${acc.verified}" th:text="#{verifiedAccount}">Cuenta Verificada</strong>
                                        <strong class="red" th:if="${!acc.verified}" th:text="#{unverifiedAccount}">Cuenta NO Verificada</strong>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-xs-4 text-center">
                                <a class="action-button">
                                    <img height="50" width="100" src="/img/upload_image.png" id="upload-bac" th:attr="data-id=${acc.id},data-name=bacs" th:if="${acc.bac == null}"/>
                                    <img height="50" width="100" th:src="${'open/media/' + acc.bac.code}" id="upload-bac" th:attr="data-id=${acc.id},data-name=bacs" th:if="${acc.bac != null}"/>
                                </a>                                        
                                <br/>
                                <span th:if="${acc.bac == null}">
                                    <i class="fa fa-upload"></i>&nbsp;<span th:text="#{addReceipt}">Añadir comprobante</span>
                                </span>
                                <span th:if="${acc.bac != null && acc.bac.status == 'verified'}">
                                    <i class="fa fa-check green"></i>&nbsp;<span th:text="#{verified-}">Verificado</span>                                        
                                </span>
                                <span th:if="${acc.bac != null && acc.bac.status == 'pending'}">
                                    <i class="fa fa-warning blue"></i>&nbsp;<span th:text="#{pendingVerification}">Verificación pendiente</span>
                                </span>
                                <span th:if="${acc.bac != null && acc.bac.status == 'rejected'}" th:title="${acc.bac.statusComment}">
                                    <i class="fa fa-remove red"></i>&nbsp;<span th:text="#{rejected}">Rechazado</span>
                                    <br/>
                                    <span class="small" th:text="${acc.bac.statusComment}"></span>                                    
                                </span>
                            </div>                                                        
                            <div class="col-md-12 col-xs-12 col-lg-12">
                                <a class="btn btn-info action-button" id="edit-account" th:attr="data-id=${acc.id},data-name=${acc.accountName}"><i class="fa fa-pencil"></i>
                                    &nbsp;<span th:text="#{btnEdit}"></span></a>
                                <a class="btn btn-danger action-button" id="delete-account" th:attr="data-id=${acc.id},data-name=${acc.accountName}"><i class="fa fa-remove"></i>
                                    &nbsp;<span th:text="#{btnDelete}"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






<div class="page-title">
    <div class="title_left">
        <h3 th:text="#{withdrawalRequests}">Solicitudes de Retiros</h3>
    </div>
</div>

<div class="clearfix"></div>

<div class="row">

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">

                <div class="col-md-12">
                    <input type="text" th:value="${q}" placeholder="Buscar..." th:attr="placeholder=#{search} + '...'" name="q" id="q"/>
                    <span th:text="#{since}">Desde:</span>
                    <input type="date" th:value="${from}" placeholder="Desde" name="from" id="from"/>
                    <span th:text="#{until}">Hasta:</span>
                    <input type="date" th:value="${to}" placeholder="Hasta" name="to" id="to"/>
                    <span th:text="#{records}">Registros:</span>
                    <select name="size" id="size">
                        <option th:selected="${size == null || (size != null && size == '20')}" value="20">20</option>
                        <option th:selected="${size != null && size == '50'}" value="50">50</option>
                        <option th:selected="${size != null && size == '100'}" value="100">100</option>
                        <option th:selected="${size != null && size == '500'}" value="500">500</option>
                        <option th:selected="${size != null && size == '1000'}" value="1000">1000</option>
                    </select>
                    <span th:text="#{state}">Estado:</span>
                    <select name="status" id="status">
                        <option th:selected="${status == null || (status != null && status == 'all')}" value="all"><span th:text="#{all}"></span></option>
                        <option th:selected="${status != null && status == 'pending'}" value="pending"><span th:text="#{pending}"></span></option>
                        <option th:selected="${status != null && status == 'approved'}" value="approved"><span th:text="#{approved}"></span></option>
                        <option th:selected="${status != null && status == 'rejected'}" value="rejected"><span th:text="#{rejected-}"></span></option>                        
                        <option th:selected="${status != null && status == 'completed'}" value="completed"><span th:text="#{complete}"></span></option>                        
                    </select>
                    &nbsp;
                    <button class="btn btn-info btn-sm" id="search-button"><i class="fa fa-search"></i>&nbsp;<span th:text="#{search}"></span></button>

                    <!--ToolBar-->
                    <a class="btn btn-success btn-sm action-button" id="withdrawal-request"><i class="fa fa-plus-circle"></i>&nbsp;
                        <!--                        <span th:text="#{btnCreateRequest}"></span>-->
                        Crear Solicitud
                    </a>
                </div>

                <div class="clearfix"></div>
            </div>

            <div>

                <div class="table-responsive">
                    <table class="table table-condensed table-striped jambo_table">
                        <thead>
                            <tr class="headings">
                                <th>#</th>
                                <th th:text="#{creation}"></th>
                                <th th:text="#{completed}"></th>
                                <th th:text="#{name}"></th>
                                <th th:text="#{amount}"></th>
                                <th th:text="#{payable}"></th>
                                <th th:text="#{base}"></th>
                                <th th:text="#{tax}"></th>
                                <th th:text="#{retention}"></th>
                                <th th:text="#{status}"></th>
                                <th th:text="#{description}"></th>
                                <th th:text="#{actions}"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="item : ${page.content}">
                                <td th:text="${item.id}"></td>
                                <td th:text="${#dates.format(item.requestDate, 'dd/MM/yyyy')}" th:title="${#dates.format(item.requestDate, 'dd/MM/yyyy HH:mm:ss')}"></td>
                                <td th:if="${item.completedDate != null}" th:text="${#dates.format(item.completedDate, 'dd/MM/yyyy')}" th:title="${#dates.format(item.completedDate, 'dd/MM/yyyy HH:mm:ss')}"></td>
                                <td th:if="${item.completedDate == null}">--</td>
                                <td th:text="${item.member}"></td>
                                <td th:text="${item.getAmountText()}"></td>
                                <td th:text="${item.getMoneyPayableText()}" th:title="${item.details}"></td>
                                <td th:text="${item.getMoneyBaseText()}"></td>
                                <td th:text="${item.getMoneyTaxText()}"></td>
                                <td th:text="${item.getMoneyRetentionText()}"></td>
                                <td>
                                    <div th:switch="${item.status}" th:title="${item.statusDescription}">
                                        <span th:case="pending" class="label label-warning" th:text="#{${item.status}}">Pendiente</span>
                                        <span th:case="approved" class="label label-primary" th:text="#{${item.status}}">Aprovada</span>
                                        <span th:case="rejected" class="label label-danger" th:text="#{${item.status}}">Rechazada</span>
                                        <span th:case="completed" class="label label-success" th:text="#{${item.status}}">Completa</span>
                                    </div>                                                                            
                                </td>
                                <td th:text="${item.requestDescription}"></td>
                                <td>
                                    <i th:if="${item.status == 'pending'}" class="fa fa-close action-button" id="delete-request" th:attr="data-id=${item.id},data-name=${item.toString()}"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <div th:replace="frags/pagination :: paginationbar"></div>
    </div>


</div>

<div th:replace="frags/empty-modal"></div>