<!-- /menu footer buttons -->
<div class="sidebar-footer hidden-small nav">
    <a href="members/profile" data-toggle="tooltip" data-placement="top" th:title="#{profile}">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
    </a>
    <a href="members/settings" data-toggle="tooltip" data-placement="top" th:title="#{settings}">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" th:title="#{help}">
        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" th:title="#{logout}" href="/logout">
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
    </a>
</div>
<!-- /menu footer buttons -->
