<!--PayU-->
<div th:if="${paymentView == 'payu'}">
    <form method="post" th:action="${action}">
        <input name="merchantId"    type="hidden"  th:value="${merchantId}"/>
        <input name="accountId"     type="hidden"  th:value="${accountId}"/>
        <input name="description"   type="hidden"  th:value="${description}"/>
        <input name="referenceCode" type="hidden"  th:value="${referenceCode}"/>
        <input name="amount"        type="hidden"  th:value="${amount}"/>
        <input name="tax"           type="hidden"  th:value="${tax}"/>
        <input name="taxReturnBase" type="hidden"  th:value="${taxReturnBase}"/>
        <input name="currency"      type="hidden"  th:value="${currency}"/>
        <input name="signature"     type="hidden"  th:value="${signature}"/>
        <input name="test"          type="hidden"  th:value="${test}"/>
        <input name="buyerEmail"    type="hidden"  th:value="${buyerEmail}"/>
        <input name="responseUrl"    type="hidden"  th:value="${responseUrl}"/>
        <input name="confirmationUrl" type="hidden"  th:value="${confirmationUrl}"/>
        <input name="algorithmSignature" type="hidden"  value="sha256"/>
        <input name="Submit" type="submit" class="btn btn-success" value="Pagar con PayU"/>    
    </form>    
</div>

<!--TefPay-->
<div th:if="${paymentView == 'tefpay'}">
    <div id="tefpayBox" class="center-block">
        <form id="tefpayData" th:action="${action}">
            <input id="Ds_Merchant_Url" name="Ds_Merchant_Url" type="hidden" th:value="${Ds_Merchant_Url}"/>
            <input id="Ds_Merchant_UrlOK" name="Ds_Merchant_UrlOK" type="hidden" th:value="${Ds_Merchant_UrlOK}"/>
            <input id="Ds_Merchant_UrlKO" name="Ds_Merchant_UrlKO" type="hidden" th:value="${Ds_Merchant_UrlKO}"/>
            <input id="Ds_Merchant_MerchantCode" name="Ds_Merchant_MerchantCode" type="hidden" th:value="${Ds_Merchant_MerchantCode}"/>
            <input id="Ds_Merchant_Amount" name="Ds_Merchant_Amount" type="hidden" th:value="${Ds_Merchant_Amount}"/>
            <input id="Ds_Merchant_MerchantSignature" name="Ds_Merchant_MerchantSignature" type="hidden" th:value="${Ds_Merchant_MerchantSignature}"/>
            <input id="Ds_Merchant_TransactionType" name="Ds_Merchant_TransactionType" type="hidden" th:value="${Ds_Merchant_TransactionType}"/>
            <input id="Ds_Merchant_MatchingData" name="Ds_Merchant_MatchingData" type="hidden" th:value="${Ds_Merchant_MatchingData}"/>
            <input id="Ds_Merchant_UserName" name="Ds_Merchant_UserName" type="hidden" th:value="${Ds_Merchant_UserName}"/>
            <input id="Ds_Merchant_Name" name="Ds_Merchant_Name" type="hidden" th:value="${Ds_Merchant_Name}"/>
            <input id="Ds_Merchant_Logo" name="Ds_Merchant_Logo" type="hidden" th:value="${Ds_Merchant_Logo}"/>
            <input id="Ds_Merchant_Description" name="Ds_Merchant_Description" type="hidden" th:value="${Ds_Merchant_Description}"/>
            <input id="Ds_Merchant_Lang" name="Ds_Merchant_Lang" type="hidden" th:value="${Ds_Merchant_Lang}"/>
            <input id="Ds_Merchant_Currency" name="Ds_Merchant_Currency" type="hidden" th:value="${Ds_Merchant_Currency}"/>
            <input id="Ds_Merchant_TemplateNumber" name="Ds_Merchant_TemplateNumber" type="hidden"/>
            <input id="Ds_Merchant_TemplateTheme" name="Ds_Merchant_TemplateTheme" type="hidden" value="white" />
            <input id="Ds_Merchant_TemplateFonts" name="Ds_Merchant_TemplateFonts" type="hidden" value="default"/>
        </form>
    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/
        if (TefpayIframe.init()) {
            var url = /*[[${payUrl}]]*/ '';
            TefpayIframe.configure(url, "100%");
            TefpayIframe.load();
        }
        /*]]>*/
    </script>
</div>





