<script>
    var requireJS = [];

    loadJS(requireJS, "js/views/common.js");
    loadCSS('css/bootstrap-tokenfield.min.css');
    loadJS(requireJS, 'js/bootstrap-tokenfield.min.js');
    loadJS(requireJS, 'js/wings-tokenfield.js');
    loadJS(requireJS, 'js/views/contracts.js');

</script>

<div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-file-pdf-o"></i> Contratos de Clientes por linea
                </div>
                <div class="card-block">

                    <div class="input-group">

                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-gear"></i>
                                Operaciones
                                <span class="caret"></span>
                            </button>
                            <div class="dropdown-menu" id="actions-dropdown">
                                <a class="dropdown-item disabled" href="#">General</a>
                                <a sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown-item" href="#" id="action-gen-contracts">Generar contratos faltantes</a>
                                <a class="dropdown-item disabled" href="#">Elementos seleccionados</a>
                                <a sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown-item" href="#" id="action-send-contracts">Enviar contrato a portal de firmas</a>
                            </div>
                        </span>
                        &nbsp;
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary search-button">
                                <i class="fa fa-search"></i>
                            </button>                            
                        </span>
                        <div class="btn-group">
                            <input th:value="${q}" type="search" class="form-control search-input" placeholder="Buscar...">
                            <span class="search-clear fa fa-remove"></span>
                        </div>

                        &nbsp;                        
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-filter"></i>
                                <span class="caret"></span>
                            </button>
                            <div class="dropdown-menu" id="drop-status-filter">
                                <a class="dropdown-item" href="#">created</a>
                                <a class="dropdown-item" href="#">sended</a>
                                <a class="dropdown-item" href="#">resended</a>
                                <a class="dropdown-item" href="#">error</a>
                                <a class="dropdown-item" href="#">signed</a>
                                <a class="dropdown-item" href="#">expired</a>
                            </div>
                        </span>                        
                        <div class="btn-group">
                            <input id="tokenfield" th:value="${status}" type="text" class="form-control">
                        </div>

                        &nbsp;                        
                        <div class="input-group-btn">
                            <div class="input-group-btn pull-right">
                                <button type="button" class="btn btn-primary action-button" id="action-item-check-contract-status" title="Consulta el estado de los contratos enviados al portal de firmas">
                                    <i class="fa fa-check"></i> Consultar estado
                                </button>
                            </div>
                        </div>
                        &nbsp;                        
                        <div class="input-group-btn">
                            <div class="input-group-btn pull-right">
                                <button type="button" class="btn btn-primary action-button" id="action-item-send-test-contract" title="Enviar contrato de pruebas al portal de firmas">
                                    <i class="fa fa-check"></i> Test Portal
                                </button>
                            </div>
                        </div>
                    </div>

                    <br/>


                    <table class="table table-bordered table-striped table-sm">
                        <thead>
                            <tr>
                                <th><input class="chk-check-all" type="checkbox"></th>
                                <th>#</th>
                                <th>Creación</th>
                                <th>Firmado</th>
                                <th>Activo</th>
                                <th>Estado</th>
                                <th>Linea</th>
                                <th>Estado Linea</th>
                                <th>Cliente</th>
                                <th>Remoto</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="item : ${page.content}">                                
                                <td><input th:id="${item.id}" type="checkbox" name="client-id"></td>
                                <td th:text="${item.id}"></td>
                                <td th:if="${item.creationDate != null}" th:text="${#dates.format(item.creationDate, 'dd/MM/yyyy')}"></td>
                                <td th:if="${item.creationDate == null}"></td>
                                <td th:if="${item.signingDate != null}" th:text="${#dates.format(item.signingDate, 'dd/MM/yyyy')}"></td>
                                <td th:if="${item.signingDate == null}"></td>
                                <td class="text-center">
                                    <span class="badge badge-success" th:if="${item.active}">si</span>
                                    <span class="badge badge-danger" th:if="${!item.active}">no</span>
                                </td>                                                                
                                <td class="text-center">
                                    <span th:switch="${item.status}">
                                        <span class="badge badge-info" th:text="#{${item.status}}" th:case="'created'"></span>                                        
                                        <span class="badge badge-warning" th:text="#{${item.status}}" th:case="'sended'"></span>
                                        <span class="badge badge-warning" th:text="#{${item.status}}" th:case="'resended'"></span>
                                        <span class="badge badge-danger" th:text="#{${item.status}}" th:case="'error'"></span>
                                        <span class="badge badge-danger" th:text="#{${item.status}}" th:case="'expired'"></span>
                                        <span class="badge badge-success" th:text="#{${item.status}}" th:case="'signed'"></span>
                                        <span class="badge badge-default" th:text="${item.status}" th:case="*"></span>
                                    </span>
                                </td>

                                <td th:text="${item.line.number}"></td>
                                <td class="text-center">
                                    <span th:switch="${item.line.internalState}">
                                        <span class="badge badge-info" th:text="#{${item.line.internalState}}" th:case="'created_local'"></span>
                                        <span class="badge badge-info" th:text="#{${item.line.internalState}}" th:case="'contract_created'"></span>
                                        <span class="badge badge-info" th:text="#{${item.line.internalState}}" th:case="'contract_sended'"></span>
                                        <span class="badge badge-info" th:text="#{${item.line.internalState}}" th:case="'contract_signed'"></span>
                                        <span class="badge badge-info" th:text="#{${item.line.internalState}}" th:case="'order_created'"></span>
                                        <span class="badge badge-info" th:text="#{${item.line.internalState}}" th:case="'order_sended'"></span>
                                        <span class="badge badge-info" th:text="#{${item.line.internalState}}" th:case="'order_received'"></span>
                                        <span class="badge badge-info" th:text="#{${item.line.internalState}}" th:case="'order_delivered'"></span>
                                        <span class="badge badge-info" th:text="#{${item.line.internalState}}" th:case="'created_operator'"></span>
                                        <span class="badge badge-info" th:text="#{${item.line.internalState}}" th:case="'port_requested'"></span>
                                        <span class="badge badge-danger" th:text="#{${item.line.internalState}}" th:case="'port_rejected'"></span>
                                        <span class="badge badge-info" th:text="#{${item.line.internalState}}" th:case="'port_accepted'"></span>
                                        <span class="badge badge-info" th:text="#{${item.line.internalState}}" th:case="'change_brand_requested'"></span>
                                        <span class="badge badge-danger" th:text="#{${item.line.internalState}}" th:case="'change_brand_rejected'"></span>
                                        <span class="badge badge-info" th:text="#{${item.line.internalState}}" th:case="'change_brand_accepted'"></span>
                                        <span class="badge badge-success" th:text="#{${item.line.internalState}}" th:case="'active'"></span>
                                        <span class="badge badge-default" th:text="#{${item.line.internalState}}" th:case="'inactive'"></span>
                                        <span class="badge badge-warning" th:text="#{${item.line.internalState}}" th:case="*"></span>
                                    </span>                    
                                </td>
                                <td th:text="${item.client}"></td>
                                <td th:text="${item.remotePath}"></td>                                
                                <td>
                                    <a th:href="'api/clients/contracts/'+${item.id}" target="_blank">
                                        <i class="fa fa-file-pdf-o action-button"></i>
                                    </a>
                                    <i class="fa fa-eye action-button" data-toggle="modal" data-target="#viewModal" th:attr="data-url='views/clients/contracts/'+${item.id}+'/form'"></i>
                                    <i class="fa fa-pencil action-button" id="edit-contract" th:attr="data-url='views/clients/contracts/'+${item.id}+'/edit'"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div th:replace="fragments/pagination :: paginationbar"></div>

                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
</div>


<!-- EDIT MODAL -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Modal title</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success">Guardar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div th:replace="fragments/view-modal"></div>