<script>
    var requireJS = [];
    loadJS(requireJS, "js/views/common.js");
    loadJS(requireJS, "js/views/invoices.js");
</script>

<div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-file-word-o"></i> Facturas
                </div>
                <div class="card-block">

                    <div class="input-group form-inline">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-gear"></i>
                                Operaciones
                                <span class="caret"></span>
                            </button>
                            <div class="dropdown-menu" id="actions-dropdown">
                                <a class="dropdown-item disabled" href="#">Elementos seleccionados</a>
                                <a sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown-item" id="action-charge-invoices">Cobrar facturas</a>
                                <a sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown-item" id="action-send-invoices">Enviar al cliente</a>
                            </div>
                        </span>
                        &nbsp;
                        <span class="input-group-btn form-inline">
                            <button type="button" class="btn btn-primary search-button">
                                <i class="fa fa-search"></i>
                            </button>                                                        
                            <input th:value="${q}" type="search" class="form-control search-input" placeholder="Buscar..." id="q">
                            <span class="search-clear fa fa-remove"></span>
                        </span>
                        &nbsp;
                        <div class="form-group form-inline">
                            <label>Estado </label>
                            <select id="status" name="status" class="form-control">
                                <option value="" th:selected="${status == null}">Todos</option>
                                <option value="created" th:selected="${status != null && status == 'created'}">Creada</option>
                                <option value="payed" th:selected="${status != null && status == 'payed'}">Pagada</option>
                                <option value="unpayed" th:selected="${status != null && status == 'unpayed'}">No pagada</option>
                                <option value="review" th:selected="${status != null && status == 'review'}">A revisar</option>
                                <option value="refunded" th:selected="${status != null && status == 'refunded'}">Devuelto</option>
                                <option value="partial" th:selected="${status != null && status == 'partial'}">Pagada Parcialmente</option>                
                            </select>
                        </div>
                        &nbsp;
                        <div class="form-group form-inline">
                            <label>Mes </label>
                            <select id="month" name="month" class="form-control">
                                <option value="" th:selected="${month == null}">Todos</option>
                                <option value="1" th:selected="${month != null && month == '1'}">Enero</option>
                                <option value="2" th:selected="${month != null && month == '2'}">Febrero</option>
                                <option value="3" th:selected="${month != null && month == '3'}">Marzo</option>
                                <option value="4" th:selected="${month != null && month == '4'}">Abril</option>
                                <option value="5" th:selected="${month != null && month == '5'}">Mayo</option>
                                <option value="6" th:selected="${month != null && month == '6'}">Junio</option>
                                <option value="7" th:selected="${month != null && month == '7'}">Julio</option>
                                <option value="8" th:selected="${month != null && month == '8'}">Agosto</option>
                                <option value="9" th:selected="${month != null && month == '9'}">Septiembre</option>
                                <option value="10" th:selected="${month != null && month == '10'}">Octubre</option>
                                <option value="11" th:selected="${month != null && month == '11'}">Noviembre</option>
                                <option value="12" th:selected="${month != null && month == '12'}">Diciembre</option>                                
                            </select>
                        </div>
                        &nbsp;
                        <div class="form-group form-inline">
                            <label>Año </label>
                            <select id="year" name="year" class="form-control">
                                <option value="" th:selected="${year == null}">Todos</option>
                                <option value="2017" th:selected="${year != null && year == '2017'}">2017</option>
                                <option value="2018" th:selected="${year != null && year == '2018'}">2018</option>                                
                                <option value="2019" th:selected="${year != null && year == '2019'}">2019</option>                                
                                <option value="2020" th:selected="${year != null && year == '2020'}">2020</option>
                            </select>
                        </div>
                        &nbsp;
                        <button type="button" class="btn btn-primary" id="search-button">
                            <i class="fa fa-search"></i>Buscar
                        </button>                                                        
                    </div>
                    <br/>

                    <table class="table table-bordered table-striped table-sm">
                        <thead>
                            <tr class="text-center">
                                <th><input class="chk-check-all" type="checkbox"></th>
                                <th>#</th>                                
                                <th>Nro Factura</th>
                                <th>Cliente</th>
                                <th>Fecha</th>
                                <th>Vencimiento</th>
                                <th>Período</th>
                                <th>ECode</th>
                                <th>Monto</th>
                                <th>Estado <span class="badge badge-pill badge-danger">?</span></th>
                                <th>Enviada</th>
                                <th>Fecha Envio</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="item : ${page.content}">                                
                                <td><input th:id="${item.id}" type="checkbox" name="invoice-id"></td>
                                <td th:text="${item.id}"></td>
                                <td th:text="${item.invoiceNumber}"></td>
                                <td>
                                    <span th:text="${item.client}"></span>
                                    <a th:href="'/#views/support/clients?q=id:' + ${item.clientId}" target="_blank">
                                        <i class="fa fa-eye action-button"></i>
                                    </a>
                                </td>
                                <td th:text="${#dates.format(item.invoiceDate, 'dd/MM/yyyy')}"></td>
                                <td th:text="${#dates.format(item.expireDate, 'dd/MM/yyyy')}"></td>
                                <td th:text="${item.month} + ' '+ ${item.year}"></td>
                                <td th:text="${item.ecode}"></td>
                                <td class="text-center" th:text="${item.getTotalText()}"></td>
                                <td class="text-center">
                                    <span th:switch="${item.status}">
                                        <span class="badge badge-info" th:text="#{${item.status}}" th:case="'created'"></span>
                                        <span class="badge badge-primary" th:text="#{${item.status}}" th:case="'sended'"></span>
                                        <span class="badge badge-success" th:text="#{${item.status}}" th:case="'payed'"></span>
                                        <span class="badge badge-warning" th:text="#{${item.status}}" th:case="'review'"></span>
                                        <span class="badge badge-danger" th:text="#{${item.status}}" th:case="'payment_error'"></span>
                                        <span class="badge badge-warning" th:text="#{${item.status}}" th:case="'partial'"></span>
                                        <span class="badge badge-danger" th:text="#{${item.status}}" th:case="'denied'"></span>
                                        <span class="badge badge-danger" th:text="#{${item.status}}" th:case="'unpayed'"></span>
                                        <span class="badge badge-default" th:text="${item.status}" th:case="*"></span>
                                    </span>
                                </td>
                                <td class="text-center"> 
                                    <span class="badge badge-success" th:if="${item.sended}">Si</span>
                                    <span class="badge badge-danger" th:if="${!item.sended}">No</span>
                                </td>
                                <td>
                                    <span th:if="${item.lastSended != null}" th:text="${#dates.format(item.lastSended, 'dd/MM/yyyy')}"></span>
                                </td>
                                <td>
                                    <a th:href="'api/clients/invoices/'+${item.id}" target="_blank">
                                        <i class="fa fa-file-pdf-o"></i>
                                    </a>
                                    <i class="fa fa-eye action-button" data-toggle="modal" data-target="#viewModal" th:attr="data-url='views/clients/invoices/'+${item.id}+'/form'"></i>
                                    <span>
                                        <i class="fa fa-arrow-down action-button" id="view-invoice-detail" title="Ver detalle de transacciones" th:attr="data-id=${item.id},data-name=${item.getTotalText()}"></i>
                                    </span> 
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div id="alert_placeholder"></div>

                    <div th:replace="fragments/pagination :: paginationbar"></div>

                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
</div>


<!-- EDIT MODAL -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Modal title</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success">Guardar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div th:replace="fragments/view-modal"></div>