<div class="x_panel">
    <div class="x_title">
        <h2 class="h4">Informacion adicional para registro</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li>
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>                    
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <br>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <h6>Al momento del registro se solicita al asistente la siguiente información:</h6>
                <ul>
                    <li>Nombre y Apellido</li>
                    <li>Email</li>
                    <li>Domicilio, Ciudad, Estado o Provincia, Código Postal y País</li>            
                </ul>
                <p>Si desea añadir mas información, agregar los campos aquí</p>
            </div>
        </div>
        <hr/>
        <form class="form-horizontal form-label-left" id="form-reginfo">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Nombre del campo:</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <input type="text" class="form-control"  name="infoName" required="true"/>
                    <small class="text-muted">
                        Nombre del campo a mostrar, ej: Como se enteró del evento, DNI, Nro de Cédula, etc.                        
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Tipo del campo:</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <select name="infoType" class="form-control">
                        <option value="string">Texto normal</option>
                        <option value="text">Texto largo</option>
                        <option value="list">Lista</option>
                        <option value="int">Número</option>
                        <option value="date">Fecha</option>
                        <option value="tel">Telefono</option>
                    </select>
                    <small class="text-muted">Tipo del campo</small>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Lista de valores:</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <input type="text" class="form-control"  name="infoEnum"/>                                        
                    <small class="text-muted">
                        Si es una lista, añadir los valores posibles separados por coma, ej: Si,No  DNI,CC,CD  
                    </small>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">¿Es obligatorio?:</label>
                <div class="col-md-1 col-sm-1 col-xs-1">
                    <input type="checkbox" class="form-control" name="infoMandatory"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <small class="text-muted">Indicar si este campo es obligatorio de llenar</small>
                </div>
            </div>

            <table class="table table-bordered" id="table-reginfo">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Tipo</th>
                        <th>Lista</th>
                        <th>Obligatorio</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="info : ${infos}" th:id="'info-' + ${info.id}">
                        <td th:text="${info.name}">&nbsp;</td>
                        <td th:text="${info.type}">&nbsp;</td>
                        <td th:text="${info.enumValue}">&nbsp;</td>
                        <td th:text="${info.mandatory}">&nbsp;</td>
                        <td>
                            <i th:attr="data-id=${info.id}" class="fa fa-remove action-button" id="delete-info"></i>
                        </td>
                    </tr>                    
                </tbody>
            </table>

            <div class="ln_solid"></div>
            <div class="form-group">
                <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                    <button class="btn btn-success btne-save" th:attr="data-id=${event.id},data-section='reginfo'">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>
