
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2 th:text="#{generalInformation}">Información general</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>                    
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <br>
            <form class="form-horizontal form-label-left" id="form-general">
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" th:text="#{shortName}">Nombre corto:</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" class="form-control" name="shortName" th:value="${event.shortName}">
                        <small class="text-muted" th:text="#{onlyForInternalIdentification}">Nombre corto, solo para identificación interna, no visible para el cliente</small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" th:text="#{name} + ':'">Nombre:</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" class="form-control" name="name" th:value="${event.name}">
                        <small class="text-muted" th:text="#{nameOfTheEvent}">Nombre del evento, como figura en las entradas</small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" th:text="#{dateOfTheEvent}">Fecha del evento:</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="datetime-local" class="form-control" name="eventDate" th:value="${event.eventDate != null} ? ${#dates.format(event.eventDate, 'yyyy-MM-dd')} + 'T' + ${#dates.format(event.eventDate, 'HH:mm')} : ''">
                        <small class="text-muted" th:text="#{dateAndHourOfTheEvent}">Fecha y hora del evento para control interno (firefox formato yyyy-MM-ddTHH:mm).</small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" th:text="#{dateOfTicket}">Fecha del ticket:</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" class="form-control" name="date" th:value="${event.date}">
                        <small class="text-muted" th:text="#{dateOfEventToDisplay}">Fecha del evento para mostrar en la entrada.</small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" th:text="#{hourOfTicket}">Hora del ticket:</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" class="form-control" name="hour" th:value="${event.hour}">
                        <small class="text-muted" th:text="#{hourOfEventToDisplay}">Hora del evento para mostrar en la entrada.</small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" th:text="#{place} + ':'">Lugar:</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" class="form-control" name="place" th:value="${event.place}">
                        <small class="text-muted" th:text="#{nameOfPlace}">Nombre del lugar a realizar el evento (ex: Wings Arena)</small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" th:text="#{address} + ':'">Dirección:</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" class="form-control" name="placeAddress" th:value="${event.placeAddress}">
                        <small class="text-muted" th:text="#{addressEvent}">Domicilio del lugar a realizar el evento (ex: Calle 1 nro 153, primera puerta a la derecha)</small>
                    </div>
                </div>
                
                
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" th:text="#{numberingOfSeats}">Numeracion de asientos:</label>
                    <div class="col-md-1 col-sm-1 col-xs-1">
                        <input type="checkbox" class="form-control" name="seatsNumbers" th:checked="${event.seatsNumbers}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <small class="text-muted" th:text="#{ifEnabled}">Si esta habilitada, indica que el evento tiene numeración de asientos</small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" th:text="#{numberOfTickets}">Cantidad de tickets:</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="number" class="form-control" name="ticketNumbersFrom" th:value="${event.ticketNumbersFrom}"/>
                        <small class="text-muted" th:text="#{howManyTicketsToGenerate}">Cuantos tickets generar para este evento</small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" th:text="#{disclaimer} + ':'">Disclaimer:</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <textarea name="disclaimer" class="form-control" rows="3" placeholder="La casa se reserva el derecho de admisión, etc, etc, etc..." th:text="${event.disclaimer}"></textarea>
                        <small class="text-muted" th:text="#{smallText}">Texto pequeño que aparecera en el ticket en letra pequeñas...</small>
                    </div>
                </div>                    

                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <button class="btn btn-success btne-save" th:attr="data-id=${event.id},data-section='general'" th:text="#{btnSave}">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

