<div class="x_panel">
    <div class="x_title">
        <h2 class="h4">Informacion adicional del ticket</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li>
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>                    
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <br>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <p>Si desea añadir mas información para mostrar en el ticket, agregar aquí</p>
            </div>
        </div>
        <hr/>
        <form class="form-horizontal form-label-left" id="form-extras">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Valor a mostrar:</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <input type="text" class="form-control" name="infoExtra" maxlength="100"/>
                    <small class="text-muted">
                        Texto a mostrar, no mas de 50 caracteres. Maximo recomendado 5 valores.
                    </small>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Existentes:</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <ul id="extras-list">
                        <li th:each='extra : ${extras}' th:id="'extra-' + ${extra.id}">
                            <span th:text='${extra.extra}'></span>
                            <i th:attr="data-id=${extra.id}" class="fa fa-remove action-button" id="delete-extra"></i>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="ln_solid"></div>
            <div class="form-group">
                <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                    <button class="btn btn-success btne-save" th:attr="data-id=${event.id},data-section='extras'">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>
