<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2 class="h4" th:text="#{createProducts}">Crear Productos</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>                    
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">            
            <h6 th:text="#{ticketsAreSoldAsProduct}">Todos los tickets se vende como un producto, al menos 1 producto de 1 ticket debe existir</h6>

            <form class="form-horizontal form-label-left" id="form-general">
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" th:text="#{shortName}">Nombre corto:</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" class="form-control" name="productShortName">
                        <small class="text-muted" th:text="#{shortNameNotVisibleToClient}">Nombre corto, solo para identificación interna, no visible para el cliente</small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" th:text="#{name} + ':'">Nombre:</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" class="form-control" name="productName">
                        <small class="text-muted" th:text="#{nameVisibleAsStore}">Nombre visible, como se muestra en la tienda</small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" th:text="#{price} + ':'">Precio:</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="number" class="form-control" name="productPrice">
                        <small class="text-muted" th:text="#{priceOfThisProduct}">Precio de este producto, en la moneda del país</small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" th:text="#{numberOfTickets}">Cantidad de tickets:</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="number" class="form-control" name="productQuantity">
                        <small class="text-muted" th:text="#{amountTicketsForThisProd}">Cantidad de tickets para este producto</small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" th:text="#{countryName} + ':'">País:</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <select class="form-control" name="productCountry">
                            <option value="EC" th:text="#{EC}">Ecuador</option>
                            <option value="PE" th:text="#{PE}">Perú</option>
                            <option value="ES" th:text="#{ES}">España</option>
                            <option value="CO" th:text="#{CO}">Colombia</option>
                        </select>
                        <small class="text-muted" th:text="#{CountryWillBeAvailable}">País para el cual el producto va a estar disponible</small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" th:text="#{affiliateDiscount}">¿Descuento Afiliados?:</label>
                    <div class="col-md-1 col-sm-1 col-xs-1">
                        <input type="checkbox" class="form-control" name="productDiscount"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <small class="text-muted" th:text="#{discountPayWithCommissions}">Si aplica descuento cuando se paga con comisiones</small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" th:text="#{discountPrice}">Precio descuento:</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="number" class="form-control" name="productDiscountPrice">
                        <small class="text-muted" th:text="#{discountPrice2}">Precio de descuento</small>
                    </div>
                </div>                

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th th:text="#{shortName}">Nombre corto:</th>
                            <th th:text="#{name} + ':'">Nombre:</th>
                            <th th:text="#{price}">Precio</th>
                            <th th:text="#{discountPrice}">Precio Descuento</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">&nbsp;<!--poner la bandera del pais--></th>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td><i class="fa fa-remove"></i></td>
                        </tr>                    
                    </tbody>
                </table>

                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <button type="submit" class="btn btn-success" th:text="#{btnSave}">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

