<div class="alert alert-danger" style="margin-top:7em; padding-top: 1em; padding-bottom: 1em; font-size: 15px; text-align: center;" th:if="${noCallbackValues} == true"
         th:text="#{callback.value.empty}" ></div>
    <div th:if="${callbackValuesList != null && callbackValuesList.getSize() > 0}">
        <h6 class="card-header request-details-card-title rounded h5"><i class="fa fa-align-center"></i><strong th:text="| #{order.callback.values}|">Detalle de Callback</strong></h6>
        <table class="table table-striped">
            <tr class="table-active">
                <th>Id</th>
                <th th:text="#{order.callback.name}">Nombre</th>
                <th th:text="#{order.callback.value}">Valor</th>
            </tr>
            <tr th:each="values : ${callbackValuesList}">
                <td th:text="${values.getId()}"></td>
                <td th:text="${values.getValName()}"></td>
                <td th:text="${values.getValValue()}"></td>
            </tr>
        </table>
        <div th:if="${page.getTotalPages() > 1}"  class="d-flex justify-content-center mb-3">
            <div id="pg-cv" th:replace="@{frags/pagination-callbacks}"></div>
        </div>
    </div>