<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Wings Mobile - SoftSwitch Administrator"/>
    <meta name="author" content="Mauricio Biasutto"/>
    <title>Pagos - Wings Mobile</title>
    <link rel="bookmark" th:href="@{/img/favicon.png}"/>
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}"/>
    <link href="/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="/css/sb-admin-2.css" th:href="@{/css/sb-admin-2.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <script th:src="@{/js/fontawesome.js}"></script>
    <link th:href="@{/css/navigation-style.css}" rel="stylesheet"/>
</head>
<body id="page-top">
<div class="page-wrapper chiller-theme toggled">
    <div th:replace="@{frags/navigation}"></div>
    <main class="page-content">
        <div class="container-fluid">
            <div th:replace="@{frags/topbar}"></div>
            <div class="row">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                        <div class="col-lg-2">
                            <h4 class="text-gray-800" th:text="${mainTitle}"></h4>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="container-fluid">
                <div class="d-flex justify-content-center">
                    <div class="card" style="width: 40rem;">
                        <div class="card-header">
                            <div class="d-flex justify-content-center">
                                <i class="fas fa-user fa-2x mr-2"></i>
                                <strong class="align-middle" th:text="#{change.password.title}" style="font-size: 25px;"></strong></div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col border border-light rounded shadow-sm p-3 mb-5 bg-white">
                                <div class="d-flex justify-content-center alert alert-danger" th:if="${error != null}" th:text="${error}"></div>
                                <form th:action="@{/user/password}" th:method="put" th:object="${applicationUser}" id="passwordForm">
                                    <div class="mt-2 mb-2" th:text="#{user.old.password}" style="font-size: 20px;"></div>
                                    <div class="row">
                                        <input th:classappend="'form-control ml-2 mr-2 mt-2'+ (${#fields.hasErrors('password')} ? ' border border-danger')" type="password"
                                               th:field="*{password}"/>
                                        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="ml-2 mt-1" style="color: #DE3002"></div>
                                    </div>
                                    <div class="mt-2" th:text="#{user.password}" style="font-size: 20px;"></div>
                                    <div class="row">
                                        <input th:classappend="'form-control ml-2 mr-2 mt-2'" type="password"
                                               name="newPassword"/>
                                    </div>
                                    <div class="mt-2" th:text="#{user.second.password}" style="font-size: 20px;"></div>
                                    <div class="row">
                                        <input th:classappend="'form-control ml-2 mr-2 mt-2'" type="password"
                                               placeholder=" " aria-label=""
                                               aria-describedby="basic-addon2"
                                               name="passwordConfirmation"/>
                                    </div>
                                    <input hidden name="id" th:field="*{id}"/>
                                    <button class="btn btn-primary mt-2 float-right" th:text="#{change.password}" id="changePassword" type="submit"></button>
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="@{frags/footer-logged}"></div>
    </main>
</div>
<script th:src="@{/js/sweetalert.min.js}"></script>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/fontawesome.js}"></script>
<script th:src="@{/js/users/users.js}"></script>
</body>
</html>