<!DOCTYPE html>
<html lang="es" xmlns:th="http://wwww.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Wings Mobile - SoftSwitch Administrator"/>
    <meta name="author" content="Seba"/>
    <title>Pagos - Wings Mobile</title>
    <link rel="bookmark" th:href="@{/img/favicon.png}"/>
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}"/>
    <link href="/css/sb-admin-2.css" rel="stylesheet"/>
    <script th:src="@{/js/fontawesome.js}"></script>
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/css/navigation-style.css}" rel="stylesheet"/>
</head>
<body id="page-top">
<div class="page-wrapper chiller-theme toggled">
    <div th:replace="@{frags/navigation}"></div>
    <main class="page-content">
        <div class="container-fluid">
            <div th:replace="@{frags/topbar}"></div>
            <div class="container py-4">
                <div class="card bg-danger text-white">
                    <div class="card-header" style="background-color: #DE3002">
                        <strong th:text="#{logged.access.denied}"></strong>
                    </div>
                    <div class="card-body">
                        <div class="row d-flex justify-content-center">
                            <i class="fab fa-expeditedssl fa-2x mr-2"></i>
                            <h5 class="card-title" th:text="#{logged.without.permissions}"></h5>
                        </div>
                        <a th:href="@{/admin}" class="btn btn-danger active float-right" role="button" th:text="#{logged.go.to.home}">Ir al inicio</a>
                    </div>
                </div>
            </div>
        </div>
    <div th:replace="@{frags/footer-logged}"></div>
    </main>
    </div>
    <script th:src="@{/js/sweetalert.min.js}"></script>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/fontawesome.js}"></script>
    <script th:src="@{/js/users/users.js}"></script>
</body>
</html>
