<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8" />
        <link rel="shortcut icon" href="/img/favicon.png">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title th:text="#{brand.wings.payment}">Wings Mobile - Pagos</title>
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
        <!--     Fonts and icons     -->
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">-->
        <link rel="stylesheet" href="/fonts/fontawesome/css/all.min.css">
        <!-- CSS Files -->
        <link href="../assets/css/material-kit.css?v=2.0.5" rel="stylesheet" />
        <link href="/css/style.css" rel="stylesheet" />
    </head>

    <body class="profile-page sidebar-collapse">

        <div th:replace="frags/header"></div>

        <div class="main main-raised">
            <div class="profile-content">
                <div class="container">

                    <div class="row">
                        <div class="col-md-2 col-sm-12 text-center">
                            <img th:src="${req.image}" th:if="${req.image != null}" width="150px">                            
                        </div>

                        <article class="col-md-5 col-sm-12">
                            <h4 class="title">
                                <span class="text-muted" th:text="|#{home.payment.order.number}:|">Numero de pedido:</span> <span th:text="${req.id} + '-' + ${req.orderNumber}">156</span></span>
                            </h4>

                            <h4 class="title">
                                <span th:text="${req.title}">STARTER</span>
                            </h4>
                            <p th:utext="${req.description}"> Descripcion </p>
                            <dl class="dlist-align" th:each="extra : ${req.extras}">
                                <dt th:text="${extra.extraName}">Color</dt>
                                <dd th:text="${extra.extraValue}">Black and white</dd>
                            </dl>
                            <br/>    
                            <br/>    

                            <div th:if="${showStatus}">
                                <div th:switch="${req.status}">
                                    <div th:case="COMPLETED" class="alert alert-success">
                                        <span th:text="${req.statusMessage}" th:title="${req.status}"></span>                     
                                    </div>
                                    <div th:case="PENDING" class="alert alert-warning">
                                        <span th:text="${req.statusMessage}" th:title="${req.status}"></span>
                                    </div>
                                    <div th:case="*" class="alert alert-danger">
                                        <span th:text="${req.statusMessage}" th:title="${req.status}"></span>
                                    </div>
                                </div>
                            </div>
                            <dl class="dlist-align">
                                <a th:href="${req.cancelUrl}" class="btn btn-danger" th:text="#{home.btn.return}">
                                    <i class="fa fa-arrow-left"></i> Volver
                                </a>
                            </dl>
                        </article>

                        <aside class="col-sm-5 border-left" th:if="${req.status != 'COMPLETED'}">
                            <div class="action-wrap">

                                <var class="price h3 text-muted">
                                    <span th:text="|#{home.total.amount}:|">Total a pagar: </span>
                                    <span class="text-primary currency num" th:text="${req.getPaymentAmount()}">0</span>
                                </var>                                            
                                <p class="text-muted">
                                    <small class="small text-muted" th:text="|#{home.currency}:|">Moneda:</small>
                                    <small class="small text-muted" th:text="${req.currency}"></small>
                                </p>
                                <br>

                                <h6 class="text-muted" th:text="#{home.select.payment.method}">Seleccione metodo de pago</h6>
                                <hr/>
                                <dl class="dlist-align" th:each="gw : ${gateways}">
                                    <form action="/t" method="POST">
                                        <input type="hidden" name="req_id" th:value="${req.id}"/>
                                        <input type="hidden" name="req_pg" th:value="${gw.id}"/>
                                        <button type="submit" href="#" class="col-sm-12 btn btn-success">
                                            <i class="fa" th:classappend="${gw.gateway.image}"></i> <span th:text="${gw.name}"> Gateway Name</span>
                                        </button>
                                    </form> 
                                </dl>                                    
                            </div>
                        </aside>
                    </div>

                    <hr/>
                    <ul>
                        <li>
                            <a th:href="'/change'" th:text="#{home.new.payment.code}">Ingresar nuevo código de pago</a>
                        </li>                        
                    </ul>

                </div>
            </div>
        </div>

        <div th:replace="frags/footer"></div>
    </body>
</html>