<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2 th:text="#{shippingDataValidation}">Validación datos de envío</h2>                
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>
                <input type="hidden" name="shipmentId" th:value="${shipment.id}"/>
                <div class="form-group">
                    <label class="col-xs-12" for="shippingName" th:text="#{recipientName}">Nombre destinatario<span class="required">*</span></label>
                    <div class="col-xs-12">
                        <input th:value="${shipment.shippingName}" name="shippingName" id="shippingName" required="required" class="form-control col-md-7 col-xs-12" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12" for="shippingAddress" th:text="#{shipment.address}">Dirección<span class="required">*</span></label>
                    <div class=" col-xs-12">
                        <input th:value="${shipment.shippingAddress}" name="shippingAddress" id="shippingAddress" required="required" class="form-control col-md-7 col-xs-12" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label for="shippingCity" class=" col-xs-12" th:text="#{cityName}">Ciudad<span class="required">*</label>
                    <div class=" col-xs-12">
                        <input th:value="${shipment.shippingCity}" class="form-control col-md-7 col-xs-12" name="shippingCity"  id="shippingCity" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label for="middle-name" class=" col-xs-12" th:text="#{stateName}">Provincia/Estado<span class="required">*</label>
                    <div class=" col-xs-12">
                        <input th:value="${shipment.shippingState}" class="form-control col-md-7 col-xs-12" name="shippingState" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label for="middle-name" class=" col-xs-12" th:text="#{postalCode}">Código postal<span class="required">*</label>
                    <div class=" col-xs-12">
                        <input th:value="${shipment.shippingPostalCode}" class="form-control col-md-7 col-xs-12" name="shippingPostalCode" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label for="middle-name" class=" col-xs-12" th:text="#{countryName}">País<span class="required">*</label>
                    <div class=" col-xs-12">
                        <select class="form-control" th:field="${shipment.shippingCountry}"  name="shippingCountry">
                            <option value="" disabled="disabled">Seleccione</option>
                            <option th:each="country : ${countries}" th:value="${country.code}" th:text="${country.nameEs}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="middle-name" class=" col-xs-12" th:text="#{telephoneContact}">Teléfono de contacto<span class="required">*</label>
                    <div class=" col-xs-12">
                        <input th:value="${shipment.phoneNumber}" class="form-control col-md-7 col-xs-12" name="phoneNumber" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label for="middle-name" class=" col-xs-12" th:text="#{contactEmail}">Email de contacto<span class="required">*</label>
                    <div class=" col-xs-12">
                        <input th:value="${shipment.email}" class="form-control col-md-7 col-xs-12" name="email" type="email">
                    </div>
                </div>

                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class=" col-xs-12">
                        <button id="submit" class="btn btn-success" th:text="#{btnSave}">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>