
<!-- Pagination Bar -->
<nav th:fragment="paginationbar" xmlns:th="http://www.w3.org/1999/xhtml">

    <ul class="pagination nav-item">
        <li class="page-item" th:classappend="${page.firstPage}? 'disabled' : ''">
            <a class="page-link" th:if="${page.firstPage}" href="#"><span th:text="#{paginator.first}">First</span></a>
            <a class="page-link" th:if="${not page.firstPage}" th:href="@{${page.url}(page=1,size=${page.size})}+${qq}" th:text="#{paginator.first}">First</a>
        </li>
        <li class="page-item" th:classappend="${page.hasPreviousPage}? '' : 'disabled'">
            <a class="page-link" th:if="${page.firstPage}"><span>&laquo;</span></a>
            <a class="page-link" th:if="${page.hasPreviousPage}" th:href="@{${page.url}(page=${page.number-1},size=${page.size})}+${qq}" title="Go to previous page">&laquo;</a>
        </li>
        <li class="page-item" th:each="item : ${page.items}" th:classappend="${item.current}? 'active' : ''">
            <a class="page-link" th:if="${item.current}" href="#"><span th:text="${item.number}">1</span></a>
            <a class="page-link" th:if="${not item.current}" th:href="@{${page.url}(page=${item.number},size=${page.size})}+${qq}"><span th:text="${item.number}">1</span></a>
        </li>
        <li class="page-item" th:classappend="${page.hasNextPage}? '' : 'disabled'">
            <a class="page-link" th:if="${not page.hasNextPage}" href="#"><span>&raquo;</span></a>
            <a class="page-link" th:if="${page.hasNextPage}" th:href="@{${page.url}(page=${page.number+1},size=${page.size})}+${qq}" title="Go to next page">&raquo;</a>
        </li>
        <li class="page-item" th:classappend="${page.lastPage}? 'disabled' : ''">
            <a class="page-link" th:if="${page.lastPage}" href="#"><span th:text="#{paginator.last}">Last</span></a>
            <a class="page-link" th:if="${not page.lastPage}" th:href="@{${page.url}(page=${page.totalPages},size=${page.size})}+${qq}" th:text="#{paginator.last}">Last</a>
        </li>
    </ul>

    <div>
        <span class="small" th:text="${page.summary}"></span>         
    </div>
</nav>
