<script>
    var requireJS = [];
    loadJS(requireJS, "js/common.js");
    loadJS(requireJS, "js/views/member-store-events.js");
</script>

<div class="page-title">
    <div class="title_left">
        <h3 th:text="#{shopBuy}">Tienda - Comprar</small></h3>
    </div>
</div>

<div class="clearfix"></div>

<div class="row">

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel" style="min-height: 300px;">
            <div class="x_content">
                <div class="row" th:if="${sitems.empty}">
                    <div class="alert alert-info" role="alert">
                        <span th:text="#{noProducts}">No se encontraron productos.</span>
                        <span th:text="#{visit}"></span>
                        <a href="https://tienda.wingsmobile.com/q/product" target="_blank" style="color: white !important;"> tienda.wingsmobile.com</a>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12" th:each="item : ${sitems}">
                    <div class="x_panel">
                        <div class="x_content">
                            <div class="right col-xs-3 text-center">
                                <img th:src="${item.image}" alt="" width="100">
                            </div>
                            <div class="col-xs-9">
                                <h5 th:text="${item.name}"></h5>
                                <p th:utext="${item.description}"></p>

                                <div class="row">
                                    <div class="col-md-6" th:with="ilocal=${item.getI18nForCountry(member.country)}">
                                        <span th:text="#{price}">Precio</span>
                                        <h1 class="price" th:if="${ilocal != null}" th:text="${ilocal.getLocalPrice()}"></h1>
                                    </div>
                                    <div class="col-md-6">
                                        <a type="button" class="btn btn-primary btn-xs action-button" 
                                           id="buy-products"
                                           th:attr="data-id=${item.id},data-name=${item.name}"
                                           href="#" 
                                           >
                                            <i class="fa fa-shopping-cart"></i>&nbsp;
                                            <!--                                            <span th:text="#{members.store.buy}">Comprar</span>-->
                                            Comprar
                                        </a>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--        <div th:replace="frags/pagination :: paginationbar"></div>-->
    </div>



    <!--    <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel" style="min-height: 300px;">
                <div class="x_content">
                    <div class="row" th:if="${items.empty}">
                        <div class="alert alert-info" role="alert">
                            No se encontraron productos asociados a su cuenta de afiliado.
                        </div>
                    </div>
    
                    <div class="col-md-3 col-sm-3 col-xs-6" th:each="item : ${items}">
                        <div class="x_panel">
                            <div class="x_content">
    
                                <div class="col-xs-9">
                                    <h3 th:text="${item.orderItem.name}"></h3>
                                    <h4 th:text="${item.firstName + ' ' + item.lastName}"></h4>
                                    <ul class="list-unstyled">
                                        <li><i class="fa fa-calendar"></i> Fecha: <span th:text="${#dates.format(item.creationDate, 'dd/MM/yyyy')}" th:title="${#dates.format(item.creationDate, 'dd/MM/yyyy HH:mm:ss')}"></span></li>
                                        <li><i class="fa fa-bank"></i> Pasarela: <span th:text="#{${item.paymentType}}"></span></li>
                                        <li><i class="fa fa-check-circle-o"></i> Estado: <span th:text="#{${item.paymentStatus}}"></span></li>
                                        <li><i class="fa fa-money"></i> Monto: <span th:text="${item.paymentAmount}"></span></li>
                                    </ul>
                                </div>
                                <div class="right col-xs-3 text-center">
                                    <img th:src="${item.image}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:replace="frags/pagination :: paginationbar"></div>
    
            <div class="footer">
                <p class="text-muted">*En caso de no aparecer en el listado algun producto referido, por favor enviar un correo a atencionalcliente@wingsmobile.es con el asunto "Actualizacion referer producto", indicando el nombre del cliente, el producto adquirido y su número de usuario</p>
            </div>
        </div>-->

</div>

