<div class="card" th:fragment="message-box">
    <div class="card-header">
        <strong>Actividad del cliente Sistema</strong>
        <i id="saving-icon" style="display: none;" class="fa fa-save faa-flash animated float-right"></i>
    </div>
    <div class="card-block pre-scrollable" id="message-container">        
        <div class="card" th:each="msg : ${activities}">
            <div class="card-block">
                <div class="h6">
                    <span th:if="${msg.lineId != null}" class="badge badge-success float-right" th:text="${msg.lineId}">619403608</span>
                    <span th:if="${msg.lineId == null}" class="badge badge-warning float-right">Cliente</span>
                </div>
                <p th:text="${msg.comment}"></p>
                <p th:text="${msg.title}"></p>
                <p th:text="${msg.activityType}"></p>
                <small class="text-muted" th:text="${msg.user}">Admin.</small>
                <small class="float-right text-muted">
                    <span th:if="${msg.creationDate != null}" th:text="${#dates.format(msg.creationDate, 'dd/MM/yyyy HH:mm')}"></span>
                </small>
            </div>
        </div>
    </div>    
</div>