<script>
    var requireJS = [];
    loadJS(requireJS, "js/common.js");
    loadJS(requireJS, '/js/switchery.min.js');
    loadCSS('/css/switchery.min.css');
    loadJS(requireJS, "js/views/balance-edit.js");
</script>

<div class="card">

    <div class="card-block">

        <form method="post" id="request-form" th:action="${postUrl}">
            <div class="form-group row">
                <label class="col-md-4 col-form-label" for="amount" th:text="#{amount} + ' (€)'">Monto (€)</label>
                <input type="text" class="form-control-sm" id='amount' name="amount" th:field="*{balance.amount}"/> 
            </div>
            <div class="form-group row">
                <label class="col-md-4 col-form-label" for="description"><small th:text="#{visibleToUser}">Descripción (Visible para el usuario)</small></label>
                <input type="text" class="form-control-sm" id='description' name="description" th:field="*{balance.description}"/> 
            </div>
            <div class="form-group row">
                <label class="col-md-4 col-form-label" for="comment"><small th:text="#{notVisibleToUser}">Comentario (No visible para el usuario)</small></label>
                <textarea class="form-control-sm" id='comment' name="comment" th:field="*{balance.comment}"/> 
            </div>
            <div class="form-group row">
                <label class="col-md-4 col-form-label" for="member" th:text="#{member}">Afiliado</label>
                <input type="text" class="form-control-sm" id="member" name="member" th:value="${balance.member}" readonly="readonly"/>
            </div>            
            <div class="form-group row">
                <label class="col-md-4 col-form-label" for="effective" th:text="#{effective}">Efectivo</label>
                <input type="checkbox" class="js-switch" id="effective" name="effective" th:checked="*{balance.effective}"/> 
            </div>
            <br/>
        </form>
    </div>

    <div id="alert_placeholder"></div>

    <hr/>
    <button class="btn btn-danger" data-dismiss="modal" th:text="#{btnCancel}">Cancelar</button>
    <button class="btn btn-success pull-right" id="save" th:text="#{btnSave}">Guardar</button>
</div>

