<script>
    var requireJS = [];
    loadJS(requireJS, "js/common.js");
    loadJS(requireJS, "js/views/invoice-edit.js");
</script>

<div class="card">

    <div class="card-block">

        <form th:action="${postUrl}" method="post" id="request-form">            
            <div class="form-group row">
                <label class="col-md-4 col-form-label" th:text="#{customerName}">Nombre cliente</label>
                <input type="text" class="form-control" id="creation" name="clientName" th:value="${invoice.clientName}"/>
            </div>

            <div class="form-group row">
                <label class="col-md-4 col-form-label" th:text="#{companyName}">Nombre Empresa</label>
                <input type="text" class="form-control" id="companyName" name="companyName" th:value="${invoice.companyName}"/>
            </div>
            
            <div class="form-group row">
                <label class="col-md-4 col-form-label" th:text="#{dniNumber}">Nro Dni</label>
                <input type="text" class="form-control" id="dni" name="dni" th:value="${invoice.clientDni}"/>
            </div>
            
            <div class="form-group row">
                <label class="col-md-4 col-form-label" th:text="#{address}">Direccion</label>
                <input type="text" class="form-control" id="clientAddress" name="clientAddress" th:value="${invoice.clientAddress}"/>
            </div>
            <div class="form-group row">
                <label class="col-md-4 col-form-label" th:text="#{cityName}">Ciudad</label>
                <input type="text" class="form-control" id="clientCity" name="clientCity" th:value="${invoice.clientCity}"/>
            </div>
            <div class="form-group row">
                <label class="col-md-4 col-form-label" th:text="#{stateName}">Provincia</label>
                <input type="text" class="form-control" id="clientState" name="clientState" th:value="${invoice.clientState}"/>
            </div>
            <br/>
        </form>
    </div>

    <div id="alert_placeholder"></div>

    <hr/>
    <button class="btn btn-danger" data-dismiss="modal" th:text="#{btnCancel}">Cancelar</button>
    <button class="btn btn-success pull-right" id="save" th:text="#{btnSave}">Guardar</button>
</div>

