<script>
    var requireJS = [];
    loadJS(requireJS, "js/common.js");
    loadJS(requireJS, "js/views/financial-verifications.js");
</script>


<div class="page-title">
    <div class="title_left">
        <h3 th:text="#{pendingVerification}">Verificaciones pendientes</h3>
    </div>
</div>

<div class="clearfix"></div>

<div class="row">

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">

                <div class="col-md-12">
                    <form>
                        <span th:text="#{state}">Estado:</span>
                        <select name="status" id="status">
                            <option th:selected="${status == null || (status != null && status == 'all')}" value="all"><span th:text="#{all}"></span></option>
                            <option th:selected="${status != null && status == 'pending'}" value="pending"><span th:text="#{pending}"></span></option>
                            <option th:selected="${status != null && status == 'verified'}" value="verified"><span th:text="#{verified}"></span></option>
                            <option th:selected="${status != null && status == 'rejected'}" value="rejected"><span th:text="#{rejected-}"></span></option>
                        </select>
                        &nbsp;
                        <button class="btn btn-info btn-sm" id="search-button"><i class="fa fa-search"></i>&nbsp;<span  th:text="#{search}"></span></button>
                    </form> 
                </div>

                <div class="clearfix"></div>
            </div>

            <div>

                <div class="table-responsive">
                    <table class="table table-condensed table-striped jambo_table">
                        <thead>
                            <tr class="headings">
                                <th>#</th>
                                <th th:text="#{member}">Afiliado</th>
                                <th th:text="#{bonus.type}">Tipo</th>
                                <th th:text="#{state-}">Estado</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="item : ${medias}">
                                <td th:text="${item.id}"></td>                                
                                <td th:text="${item.memberId}"></td>
                                <td th:text="${item.type}"></td>
                                <td>
                                    <div th:switch="${item.status}">
                                        <span th:case="rejected" class="label label-danger" th:text="#{${item.status}}">Rechazada</span>
                                        <span th:case="pending" class="label label-primary" th:text="#{${item.status}}">Pendiente</span>
                                        <span th:case="verified" class="label label-success" th:text="#{${item.status}}">Verificada</span>                                        
                                    </div>         
                                </td>
                                <td>                                    
                                    <i class="fa fa-pencil action-button" id="edit-verification" th:attr="data-id=${item.memberId},data-bacsId=${item.bacsId}" th:if="${item.bacsId != null}"></i>
                                    <i class="fa fa-pencil action-button" id="edit-verification" th:attr="data-id=${item.memberId}" th:if="${item.bacsId == null}"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>


</div>

<div th:replace="frags/empty-modal"></div>