<script>
    var requireJS = [];
    loadJS(requireJS, "js/views/financial-verification.js");

</script>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h4 th:text="#{bankAccount}">Cuenta Bancaria</h4>
            </div>
            <div class="x_content">
                <a th:href="'/open/media/' + ${media.code}" target="_blank" style="cursor: zoom-in;">
                    <img th:src="'/open/media/' + ${media.code}" width="600" class="text-center"/>
                </a>
                <div>
                    <strong><span th:text="#{memberName}">Nombre afiliado:</span>&nbsp;<span th:text="${member}"></span><br/>
                    <strong><span th:text="#{accountName}">Nombre de la cuenta:</span>&nbsp;<span th:text="${acc.accountName}"></span><br/>
                    <strong><span th:text="#{bank}">Banco:</span>&nbsp;<span th:text="${acc.bankName}"></span><br/>
                    <strong><span th:text="#{accountType}">Tipo de cuenta:</span>&nbsp;<span th:text="${acc.accountType}"></span><br/>
                    <strong><span th:text="#{numberAccount}">Nro de cuenta:</span>&nbsp;<span th:text="${acc.accountNumber}"></span><br/>
                    <strong><span th:text="#{IBAN}">IBAN:</span>&nbsp;<span th:text="${acc.accountIban}"></span><br/>
                    <strong><span th:text="#{BIC-Swift}">Swift:</span>&nbsp;<span th:text="${acc.accountSwift}"></span><br/>
                    <strong><span th:text="#{comments} + ':'">Comentarios:</span>&nbsp;<span th:text="${acc.description}"></span><br/>                    
                </div>
                <hr/>
                <div class="row text-center">
                    <div class="col-md-12">
                        <input type="hidden" id="bacsId" th:value="${acc.id}"/>
                        <input type="text" class="form-control" placeholder="" th:attr="placeholder=#{reasonRejectingDocumentation}" id="motive" th:attr="data-id=${media.id},data-type=${media.type}"/>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-6">
                        <button class="btn btn-danger action-button" id="reject" th:attr="data-id=${media.id},data-type=${media.type}" th:text="#{btnRefuse}">Rechazar</button>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-success action-button" id="verify" th:attr="data-id=${media.id},data-type=${media.type}" th:text="#{btnCheck}">Verificar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


