<script>
    var requireJS = [];

    loadJS(requireJS, "js/common.js");
    loadJS(requireJS, "js/views/withdrawal.js");
    loadCSS('css/flags/flags.min.css');

</script>
<div class="page-title">
    <div class="title_left">
        <h3 th:text="#{withdrawalRequests}">Solicitudes de Retiros</h3>
    </div>
</div>

<div class="clearfix"></div>

<div class="row">

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">

                <div class="col-md-12">
                    <input type="text" th:value="${q}" placeholder="Buscar..." name="q" id="q"/>
                    <span th:text="#{since}">Desde:</span>
                    <input type="date" th:value="${from}" placeholder="Desde" name="from" id="from"/>
                    <span th:text="#{until}">Hasta:</span>
                    <input type="date" th:value="${to}" placeholder="Hasta" name="to" id="to"/>
                    <span th:text="#{records}">Registros:</span>
                    <select name="size" id="size">
                        <option th:selected="${size == null || (size != null && size == '20')}" value="20">20</option>
                        <option th:selected="${size != null && size == '50'}" value="50">50</option>
                        <option th:selected="${size != null && size == '100'}" value="100">100</option>
                        <option th:selected="${size != null && size == '500'}" value="500">500</option>
                        <option th:selected="${size != null && size == '1000'}" value="1000">1000</option>
                    </select>
                    <span th:text="#{state}">Estado:</span>
                    <select name="status" id="status">
                        <option th:selected="${status == null || (status != null && status == 'all')}" value="all">Todos</option>
                        <option th:selected="${status != null && status == 'pending'}" value="pending"><span th:text="#{pending}"></span></option>
                        <option th:selected="${status != null && status == 'approved'}" value="approved"><span th:text="#{approved}"></span></option>
                        <option th:selected="${status != null && status == 'rejected'}" value="rejected"><span th:text="#{rejected-}"></span></option>                        
                        <option th:selected="${status != null && status == 'completed'}" value="completed"><span th:text="#{complete}"></span></option>                        
                    </select>
                    &nbsp;
                    <span th:text="#{countryName}">País:</span>                  
                    <select name="country" id="country">
                        <option value="all" th:text="#{all}">Todos</option>
                        <option th:each="c : ${countries}" th:selected="${country == c}" th:value="${c}" th:text="#{${c}}">España</option>
                    </select>                    
                    &nbsp;
                    <button class="btn btn-info btn-sm" id="search-button"><i class="fa fa-search"></i>&nbsp;<span  th:text="#{search}"></span></button>

                    <!--ToolBar-->
                    <!--                    <ul class="nav navbar-right panel_toolbox">
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                                    <i class="fa fa-gears wings-tool-bar"></i>
                                                </a>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li>
                                                        <a class="action-button" id="withdrawal-request"><i class="fa fa-plus-circle"></i> Crear solicitud</a>                                                                
                                                    </li>
                                                </ul>
                                            </li>
                                            </li>
                                        </ul>-->

                </div>

                <div class="clearfix"></div>            
            </div>

            <div>

                <div class="table-responsive">
                    <table class="table table-condensed table-striped jambo_table">
                        <thead>
                            <tr class="headings">
                                <th>#</th>
                                <th th:text="#{creation}"></th>
                                <th th:text="#{completed}"></th>
                                <th th:text="#{name}"></th>
                                <th th:text="#{amount} + ' ' +#{payable}"></th>
                                <th th:text="#{status}"></th>
                                <th th:text="#{actions}"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="item : ${page.content}">
                                <td th:text="${item.id}"></td>
                                <td th:text="${#dates.format(item.requestDate, 'dd/MM/yyyy')}" th:title="${#dates.format(item.requestDate, 'dd/MM/yyyy HH:mm:ss')}"></td>
                                <td th:if="${item.completedDate != null}" th:text="${#dates.format(item.completedDate, 'dd/MM/yyyy')}" th:title="${#dates.format(item.completedDate, 'dd/MM/yyyy HH:mm:ss')}"></td>
                                <td th:if="${item.completedDate == null}">--</td>
                                <td>
                                    <img src="/css/flags/blank.gif" class="flag" th:if="${item.member.country == null && item.member.country == ''}"/>
                                    <img src="/css/flags/blank.gif" class="flag" th:if="${item.member.country != null && item.member.country != ''}" th:classappend="'flag-'+ ${#strings.toLowerCase(item.member.country)}" th:title="#{${#strings.toUpperCase(item.member.country)}}"/> 
                                    <span th:text="${item.member}"></span>
                                </td>
                                <td >
                                    <span th:text="${item.currency}"></span>
                                    <span th:text="${item.getMoneyPayableText()}" th:title="${item.details}"></span>
                                </td>

                                <td>
                                    <div th:switch="${item.status}" th:title="${item.processor != null} ? #{${item.processor}} : ''" >
                                        <span th:case="pending" class="label label-warning" th:text="#{${item.status}}">Pendiente</span>
                                        <span th:case="approved" class="label label-primary" th:text="#{${item.status}}">Aprovada</span>
                                        <span th:case="rejected" class="label label-danger" th:text="#{${item.status}}">Rechazada</span>
                                        <span th:case="completed" class="label label-success" th:text="#{${item.status}}">Completa</span>
                                    </div>                                                                            
                                </td>                                
                                <td class="text-center">

                                    <button class="btn btn-mini action-button btn-info fa fa-check-circle" 
                                            id="complete-request" 
                                            th:attr="data-id=${item.id},data-name=${item.toString()}"
                                            th:disabled="${!(item.status == 'pending')}">
                                    </button>

                                    <button class="btn btn-sm action-button btn-info fa fa-pencil" 
                                            id="edit-request" 
                                            th:attr="data-id=${item.id},data-name=${item.toString()}">
                                    </button>

                                    <button class="btn btn-sm action-button btn-danger fa fa-remove" 
                                            id="delete-request" 
                                            th:attr="data-id=${item.id},data-name=${item.toString()}"
                                            th:disabled="${item.status == 'completed'}"
                                            >
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <div th:replace="frags/pagination :: paginationbar"></div>
    </div>


</div>

<div th:replace="frags/empty-modal"></div>