<div class="card">
    <div class="card-header">
        <strong th:text="${title}"></strong>
        <small th:text="${subTitle}"></small>
    </div>
    <div class="card-block">
        <div class="form-group row" th:each="e : ${elements}">
            <label class="col-md-3 form-control-label" th:for="${e.name}" th:text="#{${e.name}}">Text Input</label>
            <div class="col-md-9">
                <input type="text" class="form-control" th:id="${e.name}" th:value="${e.value}" readonly="readonly">
            </div>
        </div>
    </div>
</div>