<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <link rel="shortcut icon" href="img/favicon.ico"/>

        <title>Wings Mobile - Regularización de deuda</title>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl" crossorigin="anonymous"></script>
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


    </head>

    <body class="app">

        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-sm-12">
                <br/>    
                <div class="card-deck">

                    <div class="card">
                        <div class="card-header">
                            <img src="/img/logo_clean_small.png" class="mr-3 pull-right"><br/>
                            Wings Mobile - Facturas del cliente
                        </div>
                        <div class="card-body">

                            <table class="table table-bordered table-striped table-sm">
                                <thead>
                                    <tr class="text-center">
                                        <th>Nro Factura</th>
                                        <th>Período</th>
                                        <th>Monto</th>
                                        <th>Estado</th>
                                        <th>Pagado</th>
                                        <th>Pendiente</th>                                        
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="item : ${invoices}">                                
                                        <td th:text="${item.invoiceNumber}"></td>
                                        <td class="text-center" th:text="${item.month} + ' - '+ ${item.year}"></td>
                                        <td class="text-center">
                                            <span  th:text="${item.getTotalText()}"></span>
                                            <input type="hidden" th:id="'invoice-' + ${item.id}" th:value="${item.total}">
                                        </td>     
                                        <td class="text-center">
                                            <span th:switch="${item.status}">
                                                <span class="badge badge-info" th:text="#{${item.status}}" th:case="'created'"></span>
                                                <span class="badge badge-primary" th:text="#{${item.status}}" th:case="'sended'"></span>
                                                <span class="badge badge-success" th:text="#{${item.status}}" th:case="'payed'"></span>
                                                <span class="badge badge-danger" th:text="#{${item.status}}" th:case="'unpayed'"></span>
                                                <span class="badge badge-warning" th:text="#{${item.status}}" th:case="'review'"></span>
                                                <span class="badge badge-danger" th:text="#{${item.status}}" th:case="'payment_error'"></span>
                                                <span class="badge badge-warning" th:text="#{${item.status}}" th:case="'partial'"></span>
                                                <span class="badge badge-danger" th:text="#{${item.status}}" th:case="'denied'"></span>
                                                <span class="badge badge-warning" th:text="#{${item.status}}" th:case="'refunded'"></span>
                                                <span class="badge badge-default" th:text="${item.status}" th:case="*"></span>
                                            </span>
                                        </td>

                                        <td class="text-center">
                                            <span  th:text="${item.getPayedText()}"></span>
                                        </td>
                                        <td class="text-center">
                                            <span  th:text="${item.getRemainText()}"></span>
                                        </td>

                                        <td class="text-center">

                                            <a class="btn btn-sm btn-primary" th:href="'/invoices/'+${item.token}" target="_blank" title="Ver Factura">
                                                Ver Factura
                                            </a>

                                            <span th:switch="${item.status}">
                                                <span th:case="'created'"></span>
                                                <span th:case="'payed'"></span>
                                                <span th:case="'unpayed'">
                                                    <a class="btn btn-sm btn-primary" th:href="'/pagos/factura/'+${item.token}" title="Pagar Factura">
                                                        Pagar Factura
                                                    </a>
                                                </span>
                                                <span th:case="'partial'">
                                                    <a class="btn btn-sm btn-primary" th:href="'/pagos/factura/'+${item.token}" title="Pagar Factura">
                                                        Pagar Pendiente
                                                    </a>
                                                </span>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="2"><strong>Totales</strong></td>
                                        <td class="text-center" th:text="${totalInvoice}"></td>
                                        <td>&nbsp;</td>
                                        <td class="text-center" th:text="${totalPayed}"></td>
                                        <td class="text-center" th:text="${totalRemain}"></td>
                                        <td>&nbsp;</td>
                                    </tr>
                                </tfoot>
                            </table>

                            <div class="pull-right">
                                <table>
                                    <tr>
                                        <td>
                                            <span>Total deuda: </span><strong th:text='${totalText}'></strong>&nbsp;&nbsp;&nbsp;&nbsp;
                                        </td>
                                        <td>
                                            <a class="btn btn-success " th:href="'/pagos/facturas/'+ ${token}">Pago Total</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>       
        </div>                


    </body>
</html>






