<script>
    var requireJS = [];
    loadJS(requireJS, "js/views/common.js");
    loadCSS('css/fa-animation.min.css');
    loadCSS('css/timeline.css');
    loadJS(requireJS, "js/views/support.js");
</script>

<div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">                

                <div class="card-block">
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-primary search-button"><i class="fa fa-search"></i> Buscar</button>
                                </span>
                                <input type="search" id="client-search" th:value="${q}" class="form-control search-input" placeholder="Número de teléfono, Nombre, Apellido, DNI, Email">
                            </div>
                        </div>
                    </div>

                    <!--Si el resultado son varios clientes-->
                    <div th:if="${clients != null}" class="form-group row">
                        <div class="col-md-12 text-muted" th:each="item: ${clients}">
                            <a class="action-item" href="#" th:id="'id:' + ${item.id}" type="text" th:text="${item}"></a>
                        </div>
                    </div>

                    <!--mensaje-->
                    <div th:if="${client == null}" class="form-group row">
                        <div class="col-md-12 text-muted">
                            <strong th:text="${message}"></strong>
                        </div>                        
                    </div>

                    <div class="row" th:if="${client != null}">


                        <!-- información del cliente-->
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-block">
                                    <div class="btn-group float-right">
                                        <button type="button" class="btn btn-outline-primary dropdown-toggle p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="icon-settings"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right">

                                            <a class="dropdown-item" href="#" id="edit-client" th:attr="data-id=${client.id}">Editar Datos Cliente</a>
                                            <a class="dropdown-item" href="#" id="client-invoices" th:attr="data-id=${client.id},data-client=${client}">Ver Facturas</a>
                                            <a class="dropdown-item" href="#" id="add-payment" th:attr="data-id=${client.id},data-client=${client}">Ingresar pago</a>
                                            <a th:if="${client.adminBlocked}" class="dropdown-item" href="#" id="unblock" th:attr="data-id=${client.id},data-client=${client}">Reactivacion</a>                                            
                                            <a th:if="${!client.adminBlocked}" class="dropdown-item" href="#" id="block" th:attr="data-id=${client.id},data-client=${client}">Bloqueo</a>
                                            
                                            <!--<a class="dropdown-item" href="#" id="payment-auth" th:attr="data-id=${client.id},data-client=${client}">Enlaces para cambio de tarjetas de crédito</a>
                                            <a class="dropdown-item" href="#">Otra cosa</a>
                                            <a class="dropdown-item" href="#">Something else here</a>-->
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-12">                        
                                            <div th:if="${client != null}" class="form-group row">
                                                <div class="col-md-6">
                                                    <div><h5 th:text="${client}"></h5></div>
                                                    <div>
                                                        <strong>Id:</strong>
                                                        <span th:text="${client.id}"></span>
                                                    </div>
                                                    <div>
                                                        <strong>Ref:</strong>
                                                        <span th:text="${client.refCustomerId}"></span>
                                                    </div>
                                                    <div>
                                                        <strong>Fecha Registración:</strong>
                                                        <span th:if="${reg != null && reg.fechaCreacion != null}" th:text="${#dates.format(reg.fechaCreacion, 'dd/MM/yyyy HH:mm:ss')}"></span>
                                                    </div>
                                                    <div>
                                                        <strong>Fecha Alta:</strong>
                                                        <span th:if="${client.creationDate != null}" th:text="${#dates.format(client.creationDate, 'dd/MM/yyyy HH:mm:ss')}"></span>
                                                    </div>
                                                    <div>
                                                        <strong>Identificación:</strong>
                                                        <span th:text="${client.idType} + ' ' + ${client.idValue}"></span>
                                                    </div>
                                                    <div>
                                                        <strong>Referer:</strong>
                                                        <span th:text="${client.referer}"></span>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div>
                                                        <strong>Fecha Nacimiento:</strong>
                                                        <span th:if="${client.birthDate != null}" th:text="${#dates.format(client.birthDate, 'dd/MM/yyyy')}"></td>
                                                    </div>
                                                    <div>
                                                        <strong>Email:</strong>
                                                        <span th:text="${client.email}"></span>
                                                    </div>
                                                    <div>
                                                        <strong>Telefono:</strong>
                                                        <span th:text="${client.phone}"></span>
                                                    </div>
                                                    <div>
                                                        <strong>Telefono Móvil:</strong>
                                                        <span th:text="${client.mobile}"></span>
                                                    </div>
                                                    <div>
                                                        <strong>Domicilio:</strong>
                                                        <span th:text="${client.address}"></span>
                                                    </div>
                                                    <div>
                                                        <strong>Localidad:</strong>
                                                        <span th:text="${client.city} + ', ' + ${client.state} + ', ' + ${client.country} "></span>
                                                    </div>
                                                    <div title="Consumos totales del cliente en el mes en curso, informacion del dia corriente no reflejada">
                                                        <strong>Consumos:</strong>
                                                        Voz: <span th:text="${cdrSums.getVoiceText()}"></span>
                                                        Datos: <span th:text="${cdrSums.getDataText()}"></span>
                                                    </div>
                                                    <div th:title="${unpaidText}">
                                                        <strong>Facturas impagas:</strong>
                                                        <span class="badge badge-danger" th:if="${unpaidInvoices}">Si</span>
                                                        <span class="badge badge-success" th:if="${!unpaidInvoices}">No</span>
                                                    </div>
                                                </div>
                                            </div>                            
                                        </div>

                                        <div class="col-lg-6">                        

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- Estado financiero -->
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-block">
                                    <div class="row">
                                        <div class="col-lg-12">                        
                                            <div><h5>Deuda: <span th:text="${client.getBalanceText()}"></span></h5></div>
                                            <div><h5>Bloqueo administrativo: <span th:text="${client.adminBlocked ? 'SI':'NO'}"></span></h5></div>
                                            <!--<input type="hidden" th:value="${client.id}" id="client-id"/>
                                            <div id="balance-content"></div>-->
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <hr/>

                    <div class="row">

                        <div class="col-lg-6">
                            <!--informacion de la línea-->
                            <div th:if="${lines != null}" class="" th:each="item : ${lines}">

                                <div class="card">

                                    <div class="card-block">
                                        <div class="btn-group float-right">
                                            <button type="button" class="btn btn-outline-primary dropdown-toggle p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="icon-settings"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" id="edit-line" th:attr="data-id=${item.id}">Editar Datos Linea</a>
                                                <a class="dropdown-item" id="request-porta" th:attr="data-id=${item.id}">Solicitar Portabilidad</a>                                                
                                                <a class="dropdown-item" id="plan-change" th:attr="data-id=${item.id}">Cambio de plan</a>
                                                <a class="dropdown-item" id="line-risk" th:attr="data-id=${item.id}" th:if="${item.number != null}">Riesgo</a>
                                                <a class="dropdown-item" id="line-status" th:attr="data-id=${item.id}" th:if="${item.number != null}">Estado</a>
                                                <!--<a class="dropdown-item" id="check-status" th:attr="data-id=${item.id}">Refrescar estado operador</a>-->
                                                <!--<a class="dropdown-item disabled" href="#">Portabilidad</a>
                                                    <a class="dropdown-item" href="#" id="add-line-holder">Añadir Titular de Portabilidad</a>
                                                    <a class="dropdown-item disabled" href="#">Otras Acciones</a>
                                                    <a class="dropdown-item" href="#">Enviar SMS configuracion APN</a>
                                                    <a class="dropdown-item" href="#">Enviar SMS configuracion APN</a>
                                                    <a class="dropdown-item" href="#">Enviar PUK por email</a>
                                                    <a class="dropdown-item" href="#">Ver estado envio SIM</a>
                                                    <a class="dropdown-item" href="#">Re-enviar contrato al portal de firmas</a>
                                                    <a class="dropdown-item" href="#">Añadir pack de datos</a>-->
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">

                                                <div><h5 th:text="${item.number}" th:title="${item.id}"></h5></div>
                                                <div>
                                                    <strong>Id:</strong>
                                                    <span th:text="${item.id}"></span>
                                                </div>
                                                <div>
                                                    <strong>Estado:</strong>
                                                    <span th:switch="${item.internalState}">
                                                        <span class="badge badge-info" th:text="#{${item.internalState}}" th:case="'created_local'"></span>
                                                        <span class="badge badge-info" th:text="#{${item.internalState}}" th:case="'contract_created'"></span>
                                                        <span class="badge badge-warning" th:text="#{${item.internalState}}" th:case="'contract_sended'"></span>
                                                        <span class="badge badge-info" th:text="#{${item.internalState}}" th:case="'contract_signed'"></span>
                                                        <span class="badge badge-info" th:text="#{${item.internalState}}" th:case="'order_created'"></span>
                                                        <span class="badge badge-info" th:text="#{${item.internalState}}" th:case="'order_sended'"></span>
                                                        <span class="badge badge-info" th:text="#{${item.internalState}}" th:case="'order_received'"></span>
                                                        <span class="badge badge-info" th:text="#{${item.internalState}}" th:case="'order_delivered'"></span>
                                                        <span class="badge badge-info" th:text="#{${item.internalState}}" th:case="'created_operator'"></span>
                                                        <span class="badge badge-info" th:text="#{${item.internalState}}" th:case="'port_requested'"></span>
                                                        <span class="badge badge-danger" th:text="#{${item.internalState}}" th:case="'port_rejected'"></span>
                                                        <span class="badge badge-info" th:text="#{${item.internalState}}" th:case="'port_accepted'"></span>
                                                        <span class="badge badge-info" th:text="#{${item.internalState}}" th:case="'change_brand_requested'"></span>
                                                        <span class="badge badge-danger" th:text="#{${item.internalState}}" th:case="'change_brand_rejected'"></span>
                                                        <span class="badge badge-info" th:text="#{${item.internalState}}" th:case="'change_brand_accepted'"></span>
                                                        <span class="badge badge-success" th:text="#{${item.internalState}}" th:case="'active'"></span>
                                                        <span class="badge badge-danger" th:text="#{${item.internalState}}" th:case="'canceled'"></span>
                                                        <span class="badge badge-danger" th:text="#{${item.internalState}}" th:case="'suspended'"></span>
                                                        <span class="badge badge-danger" th:text="#{${item.internalState}}" th:case="'inactive'"></span>
                                                        <span class="badge badge-default" th:text="#{${item.internalState}}" th:case="*"></span>
                                                    </span>


                                                    <i class="fa fa-refresh action-button" id="status-refresh-icon" th:attr="data-id=${item.id}"></i>

                                                </div>
                                                <div>
                                                    <strong>Fecha Alta:</strong>
                                                    <span th:text="${#dates.format(item.creationDate, 'dd/MM/yyyy')}"></span>
                                                </div>
                                                <div>
                                                    <strong>Fecha Activación:</strong>
                                                    <span th:if="${item.activationDate != null}" th:text="${#dates.format(item.activationDate, 'dd/MM/yyyy')}"></span>
                                                </div>
                                                <div>
                                                    <strong>Fecha Baja:</strong>
                                                    <span th:if="${item.cancelDate != null}" th:text="${#dates.format(item.cancelDate, 'dd/MM/yyyy')}"></span>
                                                </div>
                                                <div>
                                                    <strong>Fecha Estado:</strong>
                                                    <span th:if="${item.statusDate != null}" th:text="${#dates.format(item.statusDate, 'dd/MM/yyyy')}"></span>
                                                </div>
                                                <div>
                                                    <strong>Estado operador:</strong>
                                                    <span th:text="${item.externalState}"></span>
                                                </div>
                                                <div>
                                                    <strong>Contrato Firmado:</strong>
                                                    <span class="badge badge-success" th:if="${item.contractSigned}">si</span>
                                                    <span class="badge badge-danger" th:if="${!item.contractSigned}">no</span>
                                                </div>

                                            </div>

                                            <div class="col-md-6">
                                                <div>
                                                    <strong>Plan:</strong>
                                                    <span th:text="${item.planDescription}"></span>
                                                </div>
                                                <div>
                                                    <strong>IccID:</strong>
                                                    <span th:text="${item.iccid} + ' ' + ${item.iccidType}"></span>
                                                </div>
                                                <div>
                                                    <strong>Puk:</strong>
                                                    <span th:text="${item.iccidPuk}"></span>
                                                </div>
                                                <div>
                                                    <strong>Es portabilidad:</strong>
                                                    <span th:if="${item.port}">Si</span>
                                                    <span th:if="${!item.port}">No</span>
                                                </div>
                                                <div>
                                                    <strong>IccID portabilidad:</strong>
                                                    <span th:text="${item.portIccid}"></span>
                                                </div>
                                                <div>
                                                    <strong>Fecha planeada portabilidad:</strong>
                                                    <span th:if="${item.portPlannedDate == null}">--</span>
                                                    <span th:if="${item.portPlannedDate != null}" th:text="${#dates.format(item.portPlannedDate, 'dd/MM/yyyy')}"></span>
                                                </div>
                                                <div>
                                                    <strong>Fecha efectiva portabilidad:</strong>
                                                    <span th:if="${item.portDate == null}">--</span>
                                                    <span th:if="${item.portDate != null}" th:text="${#dates.format(item.portDate, 'dd/MM/yyyy')}"></span>
                                                </div>
                                                <div title="Consumos linea mes en curso, informacion del dia corriente no reflejada">
                                                    <strong>Consumos:</strong>
                                                    Voz: <span th:text="${item.cdrSums.getVoiceText()}"></span>
                                                    Datos: <span th:text="${item.cdrSums.getDataText()}"></span>
                                                </div>
                                                <div>
                                                    <strong>Referer:</strong>
                                                    <span th:text="${item.referer}"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="col-lg-6" th:if="${lines != null}">  
                            <div th:replace="fragments/message-box :: message-box"></div>
                        </div>
                        <div class="col-lg-12" th:if="${lines != null}">  
                            <div th:replace="fragments/message-box_activities :: message-box"></div>
                        </div>
                    </div>


                </div>

                <!--                <div th:replace="fragments/timeline"></div>-->

            </div>


        </div>
    </div>
</div>


<script th:if="${msg != null}" th:inline="javascript">

    function addParam(url, param, value) {

        if (url.indexOf('?') === -1) {
            if (value !== '') {
                url += '?' + param + '=' + value;
            }
        } else {
            var hash = {};
            var init = url.substring(0, url.indexOf('?'));
            var params = url.substring(url.indexOf('?'), url.length);
            var parameters = params.split(/\?|&/);
            for (var i = 0; i < parameters.length; i++) {
                if (!parameters[i])
                    continue;
                var ary = parameters[i].split('=');
                hash[ary[0]] = ary[1];
            }
            if (value !== '') {
                hash[param] = value;
            } else {
                delete hash[param];
            }
            var list = [];
            Object.keys(hash).forEach(function (key) {
                list.push(key + '=' + hash[key]);
            });
            url = init + '?' + list.join('&');
        }

        url = url.substring(url.indexOf("#") + 1);
        return url;
    }

    $(document).ready(function ($) {

        /*<![CDATA[*/
        var msg = /*[[${msg}]]*/ '';
        /*]]>*/

        $.notify({
            title: '<strong>Informacion</strong>',
            message: msg
        }, {
            newest_on_top: true,
            type: 'info',
            allow_dismiss: true
        });

        var hash = window.location.hash;
        hash = addParam(hash, 'msg', '');
        window.location.hash = hash;

    });

</script>
