.profile-page .page-header {
    background: url('../assets/img/foncabesolo.png') repeat-y;
    background-color: rgba(0, 0, 0, 0);
    background-color: #26b0e8;
}

.main-raised {
    margin: -270px 30px 0px !important;
}

.profile-content .container{    
    min-height: 80vh;    
}

.profile-content .container .row{    
    padding-top: 50px;
}

.title{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

/* unvisited link */
a:link {
    color: #157ccb;
}
/* selected link */
a:visited {
    color: #157ccb;
} 
/* mouse over link */
a:hover {
    color: #162e41;
}

/* selected link */
a:active {
    color: #157ccb;
} 

.body-login {
    background-color: #F2F2F2;
}

#footer-login {
    padding: 2em;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    text-align: center;
}

#login-wings-logo {
    width: 11em;
    height: 13em;
}

.request-details-card-title {
    background-color: F0EFEF;
    text-align: left;
    color: DCDCDC;
    margin-top: 0.5em; 
    margin-bottom: 10px;
}

.fieldset-space {
    padding-left: 2em;
}

.container-properties {
    background-color: white;
    width: 100em;
    height: 50em;
}

.container-properties > button {
    top: 17.5em;
    right: 20em;
    position: absolute;
}
.container-properties > form > a {
    top: 16.5em;
    right: 30em;
    position: absolute;
}

.regenerate-order {
    margin-top: 5px;
    margin-right: 20px;
}

#img-payment {
    width:  7em;
    height: 7em;
}

.label-danger {
    text-align: center;
    background-color: #F66161;
    line-height: 20px;
    color: white;
    border-radius: 5px;
}

.label-warning {
    text-align: center;
    background-color: #C1CB36;
    line-height: 20px;
    color: white;
    border-radius: 5px;
}

.label-success {
    text-align: center;
    background-color: #20AE2B;
    line-height: 20px;
    color: white;
    border-radius: 5px;
}

.label-enabled {
    text-align: center;
    background-color: #20AE2B;
    height: 20px;
    width: 60px;
    color: white;
    border-radius: 5px;
}

.label-not-enabled {
    text-align: center;
    background-color: #F66161;
    height: 20px;
    width: 60px;
    color: white;
    border-radius: 5px;
}