<script>
    var requireJS = [];
    loadJS(requireJS, '/js/common.js');
    loadJS(requireJS, '/js/views/client-details.js');
    loadCSS('css/flags/flags.min.css');
</script>
<!-- Page Wrapper -->
<div xmlns:th="http://www.thymeleaf.org">
    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">

                <img src="/css/flags/blank.gif" class="flag flag-none"
                     th:if="${item.countryIso == null || item.countryIso == ''}"/>
                <img src="/css/flags/blank.gif" class="flag"
                     th:if="${item.countryIso != null && item.countryIso != ''}"
                     th:classappend="'flag-'+ ${#strings.toLowerCase(item.countryIso)}"/>
                <span class="h3 mb-0 text-gray-800" th:text="${item.login}">Mark</span>

            </h1>
            <h1 class="h3 mb-0 text-gray-800">
                <span class="h3 mb-0 text-gray-800" th:text="#{client.details.symbol.money}">Mark</span>
                <span th:text="${item.balance}">Mark</span>
            </h1>
            <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm action-button" href="#"
               id="add-credit-details"
               th:attr="data-id=${item.id},data-name=${item.login}"
               th:text="#{menu.option.add.credit}">Agregar Credito</a>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <!-- Pantalla en dos Primera parte izquierda -->
                <div class="col-lg-12">
                    <h1 class="h3 mb-1 text-gray-800" th:text="#{view.client.details.title.services}">Services Client
                        List </h1>
                </div>
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead class="thead-light">
                                        <tr>
                                            <th th:text="#{view.client.details.serviceName}">service_name</th>
                                            <th th:text="#{view.client.details.creationDate}">creation_date</th>
                                            <th th:text="#{view.client.details.expirationDate}">expiration_date</th>
                                            <th th:text="#{view.client.details.remainingMinute}">remaining_minutes
                                            </th>
                                            <th th:text="#{view.client.details.remainingMoney}">remaining_money</th>
                                            <th th:text="#{view.client.details.active}">active</th>
                                            <th th:text="#{view.client.details.status}">status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="item : ${item}">
                                        <tr th:each="client_services : ${item.clientServices}">
                                            <td th:text="${client_services.service.serviceName}"></td>
                                            <td th:text="${#dates.format(client_services.creationDate, 'dd/MM/yyyy')}"></td>
                                            <td th:text="${#dates.format(client_services.expirationDate, 'dd/MM/yyyy')}"></td>
                                            <td th:text="${client_services.remainingMinutes}"></td>
                                            <td th:text="${client_services.remainingMoney}"></td>
                                            <td><span th:if="${client_services.active}">
                                                    <i class="fa fa-bullseye fa-2x" style="color:green; text-align: center;" aria-hidden="true"></i>
                                                </span>
                                                <span th:if="${!client_services.active}">
                                                    <i class="fa fa-bullseye fa-2x" style="text-align: center;" aria-hidden="true"></i>
                                                </span></td>
                                            <td><span th:if="${client_services.status == 'expired'}">
                                                    <i class="bg-gradient-warning" th:align="center" th:text="${client_services.status}"></i>
                                                </span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <!-- Pantalla en dos Primera parte derecha -->
                <div class="col-lg-12">
                    <h1 class="h3 mb-1 text-gray-800" th:text="#{view.client.details.balance.title}">Balance</h1>
                </div>
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div th:if="${#lists.isEmpty(item.clientBalances)}" class="alert alert-info  my-4"
                                 th:text="'No tiene balance asignado ' + ${item.login}"></div>
                            <div class="table-responsive">
                                <table th:if="${not #lists.isEmpty(item.clientBalances)}" class="table table-striped">
                                    <thead class="thead-light">
                                        <tr>
                                            <th th:text="#{view.client.details.balance.creationDate}">creation_date</th>
                                            <th th:text="#{view.client.details.balance.amount}">amount</th>
                                            <th th:text="#{view.client.details.balance.balance}">balance</th>
                                            <th th:text="#{view.client.details.balance.balance_type}">balance_type</th>
                                            <th th:text="#{view.client.details.balance.description}">description</th>
                                            <th th:text="#{view.client.details.balance.comment}">comment</th>
                                            <th th:text="#{view.client.details.balance.reference_id}">reference_id</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="item : ${item}">
                                        <tr th:each="client_balance : ${item.clientBalances}">
                                            <td th:text="${#dates.format(client_balance.creationDate, 'dd/MM/yyyy')}"></td>
                                            <td th:text="${client_balance.amount}"></td>
                                            <td th:text="${item.balance}"></td>
                                            <td th:text="${client_balance.balanceType}"></td>
                                            <td th:text="${client_balance.description}"></td>
                                            <td th:text="${client_balance.comment}"></td>
                                            <td th:text="${client_balance.referenceId}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <!-- Pantalla en dos Primera parte izquierda -->
                <div class="col-lg-12">
                    <h1 class="h3 mb-1 text-gray-800" th:text="#{view.client.details.devices.title}">Devices</h1>
                </div>
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div th:if="${#lists.isEmpty(item.devices)}" class="alert alert-info  my-4"
                                 th:text="'No hay dispositivos asignados para el cliente ' + ${item.login}"></div>
                            <div class="table-responsive">
                                <table th:if="${not #lists.isEmpty(item.devices)}" class="table table-striped">
                                    <thead class="thead-light">
                                        <tr>
                                            <th th:text="#{view.client.details.devices.id}">id</th>
                                            <th th:text="#{view.client.details.devices.creationDate}">creation_date</th>
                                            <th th:text="#{view.client.details.devices.devicesName}">devices_name</th>
                                            <th th:text="#{view.client.details.devices.devicesModel}">devices_model</th>
                                            <th th:text="#{view.client.details.devices.devicesId}">devices_Id</th>
                                            <th th:text="#{view.client.details.devices.active}">active</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="item : ${item}">
                                        <tr th:each="devices : ${item.devices}">

                                            <td th:text="${devices.id}"></td>
                                            <td th:text="${#dates.format(devices.creationDate, 'dd/MM/yyyy')}"></td>
                                            <td th:text="${devices.deviceName}"></td>
                                            <td th:text="${devices.deviceModel}"></td>
                                            <td th:text="${devices.deviceId}"></td>                                            
                                            <td>
                                                <a href="#" >
                                                    <span th:if="${devices.active}">
                                                        <i class="fa fa-bullseye fa-2x action-button" style="color:green; text-align: center;" 
                                                   id="send-push"
                                                   th:attr="data-id=${devices.id},data-name=${devices.deviceName + ' ' + devices.deviceModel}"
                                                           ></i>
                                                    </span>
                                                </a>
                                                <span th:if="${!devices.active}">
                                                    <i class="fa fa-bullseye fa-2x" style="text-align: center;" aria-hidden="true"></i>
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <!-- Pantalla en dos Primera parte izquierda -->
                <div class="col-lg-12">
                    <h1 class="h3 mb-1 text-gray-800" th:text="#{view.client.details.did.title}">DIDS</h1>
                </div>
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div th:if="${#lists.isEmpty(item.clientDids)}" class="alert alert-info  my-4"
                                 th:text="'No tiene DID el cliente ' + ${item.login}"></div>
                            <div class="table-responsive">
                                <table th:if="${not #lists.isEmpty(item.clientDids)}" class="table table-striped">
                                    <thead class="thead-light">
                                        <tr>
                                            <th th:text="#{view.client.details.did.id}">id</th>
                                            <th th:text="#{view.client.details.did.clientId}">client_id</th>
                                            <th th:text="#{view.client.details.did.clientServiceId}">client_service_id
                                            </th>
                                            <th th:text="#{view.client.details.did.didNumber}">did_number</th>
                                            <th th:text="#{view.client.details.did.country}">country</th>
                                            <th th:text="#{view.client.details.did.city}">city</th>
                                            <th th:text="#{view.client.details.did.creationDate}">creation_date</th>
                                            <th th:text="#{view.client.details.did.expirationDate}">expiration_date</th>
                                            <th th:text="#{view.client.details.did.localStatus}">local_status</th>
                                            <th th:text="#{view.client.details.did.remoteStatus}">remote_status</th>
                                            <th th:text="#{view.client.details.did.remoteId}">remote_id</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="item : ${item}">
                                        <tr th:each="did : ${item.clientDids}">
                                            <td th:text="${did.id}"></td>
                                            <td th:text="${did.clientId}"></td>
                                            <td th:text="${did.clientServiceId}"></td>
                                            <td th:text="${did.didNumber}"></td>
                                            <td th:text="${did.country}"></td>
                                            <td th:text="${did.city}"></td>
                                            <td th:text="${#dates.format(did.creationDate, 'dd/MM/yyyy')}"></td>
                                            <td th:text="${#dates.format(did.expirationDate, 'dd/MM/yyyy')}"></td>
                                            <td th:text="${did.localStatus}"></td>
                                            <td th:text="${did.remoteStatus}"></td>
                                            <td th:text="${did.remoteId}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <!-- Pantalla en dos Primera parte derecha -->
            <div class="col-lg-12">
                <h1 class="h3 mb-1 text-gray-800" th:text="#{view.client.details.cdr.title}">CDR</h1>
            </div>
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead class="thead-light">
                                    <tr>
                                        <th th:text="#{view.client.details.crd.id}">id</th>
                                        <th th:text="#{view.client.details.crd.creationDate}">creationDate</th>
                                        <th th:text="#{view.client.details.crd.destination}">destination</th>
                                        <th th:text="#{view.client.details.crd.bridge}">bridgeHangupCause</th>
                                        <th th:text="#{view.client.details.crd.duration}">duration</th>
                                        <th th:text="#{view.client.details.crd.billsec}">billsec</th>
                                        <th th:text="#{view.client.details.crd.secure}">secure</th>
                                        <th th:text="#{view.client.details.crd.cost}">cost</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="cdr1 : ${cdr1}">
                                        <td th:text="${cdr1.id}"></td>
                                        <td th:text="${#dates.format(cdr1.creationDate, 'dd/MM/yyyy')}"></td>
                                        <td th:text="${cdr1.destination}"></td>
                                        <td th:text="${cdr1.bridgeHangupCause}"></td>
                                        <td th:text="${cdr1.duration}"></td>
                                        <td th:text="${cdr1.billsec}"></td>
                                        <td th:text="${cdr1.secure}"></td>
                                        <td th:text="${cdr1.cost}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>