<script>
    var requireJS = [];
    loadJS(requireJS, '/js/views/client-details-push.js');
</script>
<div class="row">

    <form id="send-push-form" class="col-12" method="post">
        <div class="form-group">
            <input type="hidden" id="deviceId" th:value='${deviceId}'/>
            <label>Titulo</label>
            <input type="text" class="form-control" id="title" name="title"/>
        </div>
        <div class="form-group">
            <label>Descripcion</label>
            <input type="text" class="form-control" id="body" name="body"/>
        </div>
        <div class="form-group">
            <label>Icon</label>
            <input type="text" class="form-control" id="icon" name="icon"/>
        </div>
        <div class="form-group">
            <label>Badge</label>
            <input type="text" class="form-control" id="badge" name="badge"/>
        </div>
        <div class="ln_solid"></div>
        <div class="form-group">
            <button class="btn btn-sm btn-danger" data-dismiss="modal" th:text="#{price.list.abm.cancel}">Cancel</button>
            <button class="btn btn-sm btn-success pull-right" id="send-push-form-button">Enviar</button>
        </div>
    </form>
</div>

