<script>
    var requireJS = [];

    loadJS(requireJS, '/js/common.js');
    loadCSS('css/flags/flags.min.css');
    loadJS(requireJS, '/js/views/search-button-destination.js');

</script>
<div class="container-fluid" xmlns:th="http://www.thymeleaf.org">
    <div class="row">

        <div class="col-lg-12">
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <div class="col-lg-1">
                    <h4 class="mb-0 text-gray-800" th:text="#{main.search.title}">Search</h4>
                </div>
                <div class="col-lg-10">
                    <!-- Topbar Search -->
                    <form class="form-inline" th:action="@{/views/dids}">
                        <input type="text" class="form-control form-control-sm" name="q" id="q"
                               th:placeholder="#{dids.search.by.country}"/>
                        <button class="btn btn-sm btn-primary" type="submit" id="search-button"><i
                                class="fas fa-search fa-sm"></i></button>
                    </form>
                </div>
                <div class="col-lg-1">

                    <div class="dropdown">
                        <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                th:text="#{main.actions}">
                            Actions
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/views/dids/sync">
                                <i class="fa fa-plus"></i> Sync
                            </a>
                        </div>
                    </div>

                </div>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="table-responsive" style="min-height: 500px;">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th th:text="#{view.list.id}">#</th>
                                <th th:text="#{view.dids.list.name}">Name</th>
                                <th th:text="#{view.dids.list.prefix}">Prefix</th>
                                <th th:text="#{view.dids.list.iso}">Iso</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item : ${list}">
                                <td th:text="${item.id}">1</td>
                                <td th:text="${item.name}">1</td>
                                <td th:text="${item.prefix}">1</td>
                                <td th:text="${item.iso}">1</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br/>
    <div class="row">
        <div th:replace="html/frags/pagination :: paginationbar"></div>
    </div>

</div>


