<script>
    var requireJS = [];
    loadJS(requireJS, '/js/common.js');
    loadCSS('css/flags/flags.min.css');
    loadJS(requireJS, '/js/views/edit_destination.js');
</script>

<div class="row" xmlns:th="http://www.thymeleaf.org">
    <form th:action="@{/views/servicesListPriceDestination/abm/}" th:href="'/#view/servicesDestination/edit/' + ${priceListDestinationId}" id="add-price-form">
        <div class="form-horizontal form-label-left">
            <div class="form-group">
                <label class="col-md-12 col-sm-12 col-xs-12" th:text="#{price.list.destination.abm.title}">Destination List</label>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <label class="col-md-12 col-sm-12 col-xs-12"
                           th:text="#{price.list.destination.abm.name}">Name</label>
                    <input type="text" class="form-control" id="name" name="name"/>

                    <label class="col-md-12 col-sm-12 col-xs-12" th:text="#{price.list.destination.abm.countryCode}">Country
                        Code</label>
                    <input type="number" class="form-control" id="countryCode" name="countryCode" min="0"/>

                    <label class="col-md-12 col-sm-12 col-xs-12" th:text="#{price.list.destination.abm.areaCode}">Area
                        Code</label>
                    <input type="number" class="form-control" id="areaCode" name="areaCode" min="0" max="10" required/>

                    <label class="col-md-12 col-sm-12 col-xs-12"
                           th:text="#{price.list.destination.abm.price}">Price </label>
                    <input type="number" class="form-control" id="priceDestination" name="priceDestination" min="0"/>

                    <label th:text="#{price.list.destination.abm.priceList}">Price List</label><br/>
                    </select><br/>
                    <select id="priceListDestination" th:field="*{priceListDestinationSelected}">
                        <option th:each="priceList : ${priceListDestinationSelected}"
                                th:value="${priceList.id}"
                                th:text="${priceList.name}">DestinationListName
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="ln_solid"></div>
        <div class="form-group">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <button th:attr="data-id=${priceListDestinationId}" class="btn btn-sm btn-success" id="form-submit-destination-edit" th:text="#{price.list.abm.saveList}">Save
                    List
                </button>
                <button class="btn btn-sm  btn-danger pull-right" id="form-cancel" data-dismiss="modal"
                        th:text="#{price.list.abm.cancel}">
                    Cancel
                </button>
            </div>
        </div>
    </form>
</div>

