<div class="row">


    <form method="POST" action="/views/localization/resync">
        <button type="submit" class="btn btn-success"><i class="fa fa-recycle"></i> Resync</button>
    </form> 


</div>

