<script>
    var requireJS = [];
    loadJS(requireJS, '/js/views/pricelist-edit.js');
</script>

<div class="row">

    <form id="edit-price-form" class="col-12" th:object="${pricelist}">
        <div class="form-group">
            <label th:text="#{price.list.abm.name}">Name</label>
            <input type="hidden" id="pricelistId" name="pricelistId" th:value="*{id}"/>
            <input type="text" class="form-control" id="name" name="name" th:value="*{name}"/>
        </div>

        <div class="form-group">
            <label th:text="#{price.list.abm.description}">Description </label>
            <input type="text" class="form-control" id="description" name="description" th:value="*{description}"/>
        </div>

        <div class="form-group">
            <label th:text="#{price.list.abm.validFrom}">Valid From</label>
            <input type="date" class="form-control form-control-sm" id="validFrom" name="validFrom" 
                   th:value="*{validFrom != null} ? *{#dates.format(validFrom, 'yyyy-MM-dd')} : ''"/>
        </div>

        <div class="form-group">
            <label th:text="#{price.list.abm.validTo}">Valid To</label>
            <input type="date" class="form-control form-control-sm" id="validTo" name="validTo"
                   th:value="*{validTo != null} ? *{#dates.format(validTo, 'yyyy-MM-dd')} : ''"/>
        </div>

        <div class="form-group">
            <label for="active">Activa</label>
            <input type="checkbox" id="active" name="active" th:checked="*{active}"/>
        </div>

        <div class="ln_solid"></div>
        <div class="form-group">
            <button class="btn btn-sm btn-danger" id="form-cancel" data-dismiss="modal" th:text="#{price.list.abm.cancel}">Cancel</button>
            <button class="btn btn-sm btn-success pull-right" id="form-submit-list-price" th:text="#{price.list.abm.saveList}">Save List</button>
        </div>
    </form>
</div>

