<script>
    var requireJS = [];
    loadJS(requireJS, '/js/common.js');
    loadCSS('css/flags/flags.min.css');
    loadJS(requireJS, '/js/views/pricelist.js');
</script>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h4 class="page-header" th:text="#{view.price.list.title}">Price List</h4>
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <div class="col-lg-1">
                    <h4 class="mb-0 text-gray-800" th:text="#{main.search.title}">Search</h4>
                </div>
                <div class="col-lg-10">
                    <!-- Topbar Search -->
                    <form class="form-inline" th:action="@{/views/servicesListPricesDestination}">
                        <input type="text" class="form-control form-control-sm" name="q" id="q" placeholder=""/>
                        &nbsp;
                        <label th:text="#{main.search.from}">From:</label>
                        &nbsp;
                        <input type="date" class="form-control form-control-sm" name="dateFrom" id="dateFrom"/>
                        &nbsp;
                        <label th:text="#{main.search.to}">To:</label>
                        &nbsp;
                        <input type="date" class="form-control form-control-sm" name="dateTo" id="dateTo"/>
                        &nbsp;
                        <button class="btn btn-sm btn-primary" id="search-button-destination" type="submit"><i
                                class="fas fa-search fa-sm"></i>
                        </button>
                    </form>
                </div>
                <div class="col-lg-1">
                    <div class="dropdown">
                        <button class="btn btn-sm dropdown-toggle" data-toggle="dropdown" th:text="#{main.actions}">Actions</button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item-text action-button" href="#" id="pricelist-add"
                               th:text="#{view.price.list.createPriceList}">Create Price List</a>
                        </div>
                    </div>

                </div>
            </nav>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead class="thead-light">
                                    <tr>
                                        <th th:text="#{view.list.id}">Id</th>
                                        <th th:text="#{view.price.list.name}">Name</th>
                                        <th th:text="#{view.price.list.description}">Description</th>
                                        <th th:text="#{view.price.list.validFrom}">Valid_From</th>
                                        <th th:text="#{view.price.list.validTo}">Valid_To</th>
                                        <th th:text="#{view.price.list.active}">Active</th>
                                        <th><i class="fas fa-cogs fa-sm fa-fw"></i></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="item : ${page.getContent()}">
                                        <td th:text="${item.id}"></td>
                                        <td th:text="${item.name}"></td>
                                        <td th:text="${item.description}"></td>
                                        <td th:text="${item.validFrom}"></td>
                                        <td th:text="${item.validTo}"></td>
                                        <td th:text="${item.active}"></td>
                                        <td>
                                            <div class="dropdown no-arrow">
                                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-cogs fa-sm fa-fw"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right shadow">
                                                    <a class="dropdown-item action-button" href="#" id="pricelist-edit"
                                                       th:value="${item.description}"
                                                       th:attr="data-id=${item.id},data-name=${item.name}"
                                                       th:text="#{list.price.edit}">Edit</a>

                                                    <a class="dropdown-item action-button" href="#"
                                                       id="delete-list-price"
                                                       th:attr="data-id=${item.id},data-name=${item.name}"
                                                       th:text="#{list.price.remove}" >Remove</a>
                                                    
                                                    <a class="dropdown-item action-button" href="#"
                                                       id="delete-prices"
                                                       th:attr="data-id=${item.id},data-name=${item.name}"
                                                       >Delete destinations</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div th:replace="html/frags/pagination :: paginationbar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>