<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Wings Mobile - Factura</title>
        <link rel="stylesheet" href="https://beta.wingsmobile.net/css/bootstrap.min.css"/>
        <style>
            @page {
                size: 7in 9.25in;
                margin: 0mm 0mm 0mm 0mm;
            }
            body{
                font-size: xx-small;
            }
        </style>
    </head>
    <body>

        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <h1>
                        <img src="/img/logo_full.png" width="150"/>                        
                    </h1>
                </div>
                <div class="col-xs-6 text-right">
                    <h6>Factura</h6>
                    <h4><small th:text="${invoice.invoiceNumber}"></small></h4>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-xs-5">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h6 th:text="${invoice.clientName}">Nombre Del Cliente</h6>
                            <p>
                                <span th:text="${invoice.clientAddress}"></span>  <br>
                                <span th:text="${invoice.clientCity}"></span>  <br>
                                <span th:text="${invoice.clientState}"></span>  <br>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-5 text-right">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h6 th:text="${officeName}">Wings Mobile SL</h6>
                            <p>
                                <span th:text="${officeAddress}"></span>  <br/>
                                <span th:text="${officeIdt}"></span>  <br/>
                                <span th:text="${officeCountry}"></span>  <br/>
                            </p>
                        </div>
                    </div>
                </div>
            </div> 

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th><h6 th:text="#{quantity}">Cantidad</h6></th>
                        <th><h6 th:text="#{bonus.comment}">Descripción</h6></th>
                        <th><h6 th:text="#{subtotal}">Sub Total</h6></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="item : ${invoice.items}">
                        <td>1</td>
                        <td>
                            <span th:utext="${item.concept}"></span><br/>                            
                            <span th:each="oitem :  ${orderItems}">
                                1 <span th:utext="${oitem.name}"></span><br/>                                
                            </span>                            
                        </td>
                        <td class="text-right">
                            <span th:text="${invoice.imponible}"></span>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="row text-right">
                <div class="col-xs-2 col-xs-offset-6">
                    <p>
                        <strong>
                            <span th:text="#{subtotal} + ' : '">Sub Total : </span><br/>
                            <span th:text="#{iva} + ' : '">IVA : </span><br/>
                            <span th:text="#{total} + ' : '">Total : </span><br/>
                        </strong>
                    </p>
                </div>
                <div class="col-xs-2">
                    <strong>
                        <span th:text="${invoice.imponible}"></span><br/>
                        <span th:text="${invoice.iva}"></span><br/>
                        <span th:text="${invoice.totalText}"></span><br/>
                    </strong>
                </div>
            </div>


        </div>

    </body>
</html>
