<div class="row">
    <h3 th:text="#{bacs.title}">Instrucciones para completar el pago.</h3>
    <div class="col-lg-12 col-md-12 col-sm-12 text-center">
        <h4 class="title">
            <span th:text="${req.title}">STARTER</span>
        </h4>
        <h4>
            <small class="text-muted" th:text="#{bacs.order.number}">Número de pedido: </small>
            <span th:text="${req.id} + '-' + ${req.orderNumber}"></span>
            <br/>
            <small class="text-muted" th:text="#{bacs.total.amount}">Total a pagar: </small>
            <span th:text="${req.getPaymentAmount()}">0</span>
        </h4>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12">
        <h4 class="title">
            <span th:text="${gi.name}"></span>
        </h4>
        <h6 class="title">
            <span class="text-muted" th:text="${gi.getPropertyByName('account_name')}"></span>
            <br/>                                    
            <span th:if="${gi.getPropertyByName('bank_name') != null}">
                <small class="text-muted" th:text="|#{bacs.bank.name}:|">Nombre del banco:</small>
                <span th:text="${gi.getPropertyByName('bank_name')}">Bank name</span>
                <br/>
            </span>
            <span th:if="${gi.getPropertyByName('account_number') != null}">
                <small class="text-muted" th:text="|#{bacs.account.number}:|">Número de cuenta:</small>
                <span th:text="${gi.getPropertyByName('account_number')}">XXXX</span>
                <br/>
            </span>
            <span th:if="${gi.getPropertyByName('account_iban') != null}">
                <small class="text-muted" th:text="|#{bacs.iban}:|">IBAN:</small>
                <span th:text="${gi.getPropertyByName('account_iban')}">XXXX</span>
                <br/>
            </span>
            <span th:if="${gi.getPropertyByName('account_swift') != null}">
                <small class="text-muted" th:text="|#{bacs.swift.code}:|">Código swift:</small>
                <span th:text="${gi.getPropertyByName('account_swift')}">XXXX</span>
                <br/>
            </span>
            <small class="text-muted" th:text="|#{bacs.transfer.total}:|">Total a transferir: </small>
            <span th:text="${req.getPaymentAmount()}">0</span>                                   
        </h6>
        <br/>
        <strong th:utext="${gi.getPropertyByName('extra_information')}"></strong>
        <br/>
        <br/>
        <hr/>
    </div>
</div>
<ul>
    <li>
        <a th:href="'/' + ${req.code}" th:text="#{bacs.change.payment.method}">Cambiar método de pago</a>
    </li>
    <li>
        <a th:href="${req.cancelUrl}" href="#" th:text="#{bacs.btn.return}">Volver</a>
    </li>
</ul>
<br/>
<br/>
<br/>
