<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="frags/head"></head>
    <body>
        <div th:replace="frags/header"></div>
        <section class="section-main bg padding-y-sm">
            <div class="container text-center">
                <div class="alert alert-dark">
                    <h4 class="text-muted" th:text="#{error.generic}">Ocurrió un error, por favor espere unos minutos y vuelva a intentar...</h4>
                </div>
            </div>
        </section>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <div th:replace="frags/suscribe"></div>
        <div th:replace="frags/footer"></div>
        <div th:replace="frags/scripts_index"></div>
    </body>
</html>