
<script>
    var requireJS = [];

    loadJS(requireJS, "js/common.js");
    loadJS(requireJS, "js/views/bonus.js");

</script>

<div class="page-title">
    <div class="title_left">
        <h3 th:text="#{bonusListing}">Listado Bonus</small></h3>
    </div>
</div>

<div class="clearfix"></div>

<div class="row">

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">

                <div class="well" style="overflow: auto">
                    <div class="col-md-12">
                        <input type="text" th:value="${q}" placeholder="Busca0r..." th:attr="placeholder=#{search} + '...'" name="q" id="q"/>
                        <span th:text="#{state}">Estado:</span>
                        <select name="status" id="status">
                            <option th:selected="${status == null || (status != null && status == 'all')}" value="all" th:text="#{all}">Todos</option>
                            <option th:selected="${status != null && status == 'created'}" value="created" th:text="#{created}">Creadas</option>
                            <option th:selected="${status != null && status == 'sended'}" value="sended" th:text="#{sent}">Enviadas</option>
                        </select>
                        <span th:text="#{confirmed}">Confirmado:</span>
                        <select name="confirmed" id="confirmed">
                            <option th:selected="${confirmed == null || (confirmed != null && confirmed == 'all')}" value="all" th:text="#{all}">Todos</option>
                            <option th:selected="${confirmed != null && confirmed == 'true'}" value="true" th:text="#{yes}">Si</option>
                            <option th:selected="${confirmed != null && confirmed == 'false'}" value="false" th:text="#{no}">No</option>
                        </select>
                        <span th:text="#{invMassive}">Inv. Masiva:</span>
                        <select name="mass" id="mass">
                            <option th:selected="${mass == null || (mass != null && mass == 'all')}" value="all" th:text="#{all}">Todos</option>
                            <option th:selected="${mass != null && mass == 'true'}" value="true" th:text="#{yes}">Si</option>
                            <option th:selected="${mass != null && mass == 'false'}" value="false" th:text="#{no}">No</option>
                        </select>
                        <span th:text="#{records}">Registros:</span>
                        <select name="size" id="size">
                            <option th:selected="${size == null || (size != null && size == '20')}" value="20">20</option>
                            <option th:selected="${size != null && size == '50'}" value="50">50</option>
                            <option th:selected="${size != null && size == '100'}" value="100">100</option>
                            <option th:selected="${size != null && size == '500'}" value="500">500</option>
                            <option th:selected="${size != null && size == '1000'}" value="1000">1000</option>
                        </select>
                        Presentes:
                        <select name="checked" id="checked">
                            <option th:selected="${checked == null || (checked != null && checked == 'all')}" value="all" th:text="#{all}">Todos</option>
                            <option th:selected="${checked != null && checked == 'true'}" value="true" th:text="#{yes}">Si</option>
                            <option th:selected="${checked != null && checked == 'false'}" value="false" th:text="#{no}">No</option>
                        </select>


                        <button class="btn btn-info btn-sm" id="search-button"><i class="fa fa-search"></i> Buscar</button>

                        <button class="btn btn-danger btn-sm action-button" id="event-import" data-action="/admin/events/import" ><i class="fa fa-gears"></i> Generar</button>
                        <button class="btn btn-danger btn-sm action-button" id="event-send" data-action="/admin/events/send" ><i class="fa fa-gears"></i> Enviar</button>

                        <button class="btn btn-info btn-sm action-button" id="add-inv" data-toggle="modal" data-target="#viewModal" th:attr="data-url='admin/events/add/one'"><i class="fa fa-plus"></i> Nueva</button>
                        <button class="btn btn-info btn-sm action-button" id="import-inv"><i class="fa fa-file-excel-o"></i> Importar</button>                        
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

            <div>
                <div class="table-responsive">
                    <table class="table table-condensed table-striped jambo_table">
                        <thead>
                            <tr class="headings">
                                <th>Nro</th>
                                <th th:text="#{name}">Nombre</th>
                                <th th:text="#{email}">Email</th>
                                <th th:text="#{state-}">Estado</th>
                                <th th:text="#{shipment.confirmed}">Confirmado</th>
                                <th th:text="#{massive}">Masiva</th>
                                <th th:text="#{present}">Presente</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="item : ${page.content}">
                                <td th:text="${item.id}"></td>
                                <td th:text="${item.getFullName()}"></td>
                                <td th:text="${item.email}"></td>
                                <td>
                                    <span th:if="${item.status != null}">
                                        <div th:switch="${item.status}" th:title="${item.status}">
                                            <span th:case="created" class="label label-warning" th:text="#{${item.status}}">Creada</span>   
                                            <span th:case="sended" class="label label-success" th:text="#{${item.status}}">Enviada</span>
                                            <span th:case="*" class="label label-default" th:text="#{${item.status}}"></span>
                                        </div>                                        
                                    </span>
                                </td>
                                <td>
                                    <span th:if="${item.confirmed != null && item.confirmed}" class="label label-success" th:text="#{yes}">si</span>                                       
                                    <span th:if="${item.confirmed == null || !item.confirmed}" class="label label-danger" th:text="#{no}">no</span>                                       
                                </td>
                                <td>
                                    <span th:if="${item.mass != null && item.mass}" class="label label-success" th:text="#{yes}">si</span>                                       
                                    <span th:if="${item.mass == null || !item.mass}" class="label label-danger" th:text="#{no}">no</span>                                       
                                </td>
                                <td>
                                    <span th:if="${item.checked != null && item.checked}" class="label label-success" th:text="#{yes}">si</span>                                       
                                    <span th:if="${item.checked == null || !item.checked}" class="label label-danger" th:text="#{no}">no</span>                                       
                                </td>
                                <td>
                                    <i th:if="${item.status != 'sended'}" class="fa fa-minus-circle action-button" id="invitation-delete" th:attr="data-id=${item.id}" title="Eliminar Invitación"></i>
                                    <i th:if="${item.status == 'created'}" class="fa fa-envelope action-button" id="invitation-send" th:attr="data-id=${item.id}" title="Enviar Invitación"></i>
                                    <i th:if="${item.status == 'review'}" class="fa fa-check-circle action-button" id="invitation-validate" th:attr="data-id=${item.id}" title="Validar Invitación"></i>
                                    <i th:if="${item.status == 'sended'}" class="fa fa-check action-button" id="invitation-check" th:attr="data-id=${item.id}" title="Confirmar Invitación"></i>
                                    <i th:if="${item.status == 'sended'}" class="fa fa-star-o action-button" id="invitation-present" th:attr="data-id=${item.id}" title="Marcar como presente"></i>                                    
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div th:replace="frags/pagination :: paginationbar"></div>

    </div>

</div>

<div th:replace="frags/empty-modal"></div>
