<script>
    var requireJS = [];
    loadJS(requireJS, 'js/common.js');
    loadCSS('css/bootstrap-colorpicker.min.css');
    loadJS(requireJS, 'js/bootstrap-colorpicker.min.js');
    loadJS(requireJS, 'js/views/event-edit.js');
</script>

<div class="page-title">
    <div class="title_left">
        <h4><a th:href="'/#admin/events/view/' + ${event.id}" title="Volver al listado"><i class="fa fa-arrow-circle-o-left"></i> Volver</a></h4>
    </div>
    <div class="title_left">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <h3>
                <span th:text="${event.shortName}"></span> 
            </h3>
        </div>
    </div>
</div>
<div class="clearfix"></div>

<div class="">
    <div class="row">
        <div th:replace="admin/events/frags/frag_general"></div>        
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div th:replace="admin/events/frags/frag_styles"></div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div th:replace="admin/events/frags/frag_extra_reg_info"></div>
            <div th:replace="admin/events/frags/frag_extra_show_info"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12">
        </div>
    </div>
</div>
