
<script>
    var requireJS = [];

    loadJS(requireJS, "js/common.js");
    loadJS(requireJS, "js/views/event-list.js");

</script>

<div class="page-title">
    <div class="title_left">
        <h3>Listado Eventos</small></h3>
    </div>
</div>

<div class="clearfix"></div>

<div class="row">

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">

                <div class="well" style="overflow: auto">
                    <div class="col-md-12">
                        <input type="text" th:value="${q}" placeholder="Buscar..." name="q" id="q"/>
                        Estado:
                        <select name="status" id="status">
                            <option th:selected="${status == null || (status != null && status == 'all')}" value="all">Creados y Publicados</option>
                            <option th:selected="${status != null && status == 'created'}" value="created">Creados</option>
                            <option th:selected="${status != null && status == 'published'}" value="published">Publicados</option>
                            <option th:selected="${status != null && status == 'finalized'}" value="finalized">Finalizados</option>
                        </select>
                        <button class="btn btn-info btn-sm" id="search-button"><i class="fa fa-search"></i> Buscar</button>
                        <button class="btn btn-success btn-sm action-button" id="add-event" th:attr="data-url='admin/events/add/one'">
                            <i class="fa fa-plus"></i> Nuevo
                        </button>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">

                <div class="row">

                    <div class="col-md-4 col-sm-4 col-xs-12 profile_details" th:each="item : ${page.content}" th:id="'event-' + ${item.id}">

                        <img class="ribbon" src="/img/agotado.png" style="position: absolute;top: 0;right: 10px;" width="100px" th:if="${item.soldOut}"/>

                        <div class="well profile_view">
                            <div class="col-sm-12">

                                <span>
                                    <div th:switch="${item.status}">
                                        <span th:case="created" class="label label-warning" th:text="#{${item.status}}">Creado</span>
                                        <span th:case="published" class="label label-success" th:text="#{${item.status}}">Publicado</span>
                                        <span th:case="finalized" class="label label-danger" th:text="#{${item.status}}">Finalizado</span>                                        
                                    </div>
                                </span>



                                <div class="left col-xs-7">
                                    <h2 th:text="${item.shortName}">Evento de ejemplo</h2>
                                    <p th:text="${item.name != null ? item.name : ''}">Lanzamiento de Wings Mobile en Uganda</p>
                                    <ul class="list-unstyled">
                                        <li><i class="fa fa-building"></i> Lugar: <span th:text="${item.place != null ? item.place : ''}"></span></li>
                                        <li><i class="fa fa-calendar"></i> Fecha: 
                                            <span th:text="${item.date != null ? item.date : ''}"></span>
                                            <span th:text="${item.hour != null ? item.hour : ''}"></span>
                                        </li>
                                        <li><i class="fa fa-ticket"></i> Tickets: <span th:text="${item.ticketNumbersFrom}"></span></li>                                        
                                    </ul>
                                </div>
                                <div class="right col-xs-5 text-center">
                                    <img th:src="'open/event/' + ${item.image}" width="150" height="150" onerror="this.src='/img/no_logo.png'" class="img-circle"/>
                                </div>
                            </div>
                            <div class="col-xs-12 bottom text-center">
                                <div class="col-xs-12 col-sm-6 emphasis">
                                    <!-- para despues hacer rating del evento-->
                                    <p class="ratings">
                                        <a>0.0</a>
                                        <a href="#"><span class="fa fa-star-o"></span></a>
                                        <a href="#"><span class="fa fa-star-o"></span></a>
                                        <a href="#"><span class="fa fa-star-o"></span></a>
                                        <a href="#"><span class="fa fa-star-o"></span></a>
                                        <a href="#"><span class="fa fa-star-o"></span></a>
                                    </p>
                                </div>
                                <div class="col-xs-12 col-sm-6 emphasis">
                                    <!--<button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user">
                                        </i> <i class="fa fa-comments-o"></i> 
                                    </button>-->
                                    <a type="button" class="btn btn-primary btn-xs" th:href="'/#admin/events/view/' + ${item.id}">
                                        <i class="fa fa-gears"> </i> Ver evento
                                    </a>
                                    <span th:if="${#authentication.getPrincipal().isMasterAdmin}">
                                        <button class="btn btn-danger btn-xs action-button" id="delete-event" th:attr="data-id=${item.id},data-name=${item.shortName}" th:if="${item.status == 'created'}">
                                            <i class="fa fa-remove"> </i> Eliminar
                                        </button>                                        
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>

        </div>
        <div th:replace="frags/pagination :: paginationbar"></div>
    </div>
</div>
