<script>
    var requireJS = [];
    loadJS(requireJS, 'js/common.js');
    loadJS(requireJS, 'js/views/event-products.js');
</script>


<div class="page-title">
    <div class="title_left">
        <h4><a th:href="'/#admin/events/view/' + ${event.id}" title="Volver al listado"><i class="fa fa-arrow-circle-o-left"></i> Volver</a></h4>
    </div>
</div>
<div class="clearfix"></div>


<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2 class="h4">Crear Productos</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>                    
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">            
                <h6>Todos los tickets se vende como un producto, al menos 1 producto de 1 ticket debe existir</h6>

                <form class="form-horizontal form-label-left" id="form-products">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Nombre corto:</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" class="form-control" name="productShortName">
                            <small class="text-muted">
                                Nombre corto, solo para identificación interna, no visible para el cliente, unico para este evento<br/>
                                Preferente sin espacios!<br/>
                            </small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Nombre:</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" class="form-control" name="productName">
                            <small class="text-muted">Nombre visible, como se muestra en la tienda</small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Precio:</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="number" class="form-control" name="productPrice">
                            <small class="text-muted">Precio de este producto, en €</small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Cantidad de tickets:</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="number" class="form-control" name="productQuantity">
                            <small class="text-muted">Cantidad de tickets para este producto</small>
                        </div>
                    </div>

                    <!--<div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">País:</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select class="form-control" name="productCountry">
                                <option value="EC">Ecuador</option>
                                <option value="PE">Perú</option>
                                <option value="ES">España</option>
                                <option value="CO">Colombia</option>
                                <option value="AR">Argentina</option>
                                <option value="MX">México</option>
                                <option value="BR">Brasil</option>
                            </select>
                            <small class="text-muted">País para el cual el producto va a estar disponible</small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">¿Descuento Afiliados?:</label>
                        <div class="col-md-1 col-sm-1 col-xs-1">
                            <input type="checkbox" class="form-control" name="productDiscount"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <small class="text-muted">Si aplica descuento cuando se paga con comisiones</small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Precio descuento:</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="number" class="form-control" name="productDiscountPrice">
                            <small class="text-muted">Precio de descuento</small>
                        </div>
                    </div>                -->

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">¿Permite seleccion de asientos?:</label>
                        <div class="col-md-1 col-sm-1 col-xs-1">
                            <input type="checkbox" class="form-control" name="productSeatsAvailable"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Si permite selección de asientos, tomar los asientos de este pool</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select class="form-control" name="poolId">
                                <option value="-1">Ninguno</option>
                                <option th:each="pool : ${pools}" th:value="${pool.id}" th:text="${pool.name}"></option>
                            </select>
                            <small class="text-muted">
                                Al momento de asignar asientos toma los asientos de este pool.<br/>                                                                
                            </small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <small class="text-muted">Si este tipo de producto permite selección de asientos, ej: platea, campo, etc.</small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Estado:</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select class="form-control" name="productStatus">
                                <!--<option value="pending">Pendiente (no disponible, no se muestra en tienda)</option>-->
                                <option value="published">Publicado (disponible, se muestra en tienda)</option>
                                <option value="internal">Interno (disponible, no se muestra en tienda)</option>
                            </select>
                            <small class="text-muted">
                                <!--stado pendiente, no se publica en tienda.<br/>-->
                                Estado publicado, se publica en tienda, los afiliados pueden comprar.<br/>
                                Estado Interno, esta disponible pero no se publica en tienda solo admin puede asignarlos.<br/>
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <button class="btn btn-success btne-save" th:attr="data-id=${event.id},data-section='products'">Guardar</button>
                        </div>
                    </div>                    

                    <table class="table table-bordered" id="table-products">
                        <thead>
                            <tr>
                                <th>Nombre corto</th>
                                <th>Nombre</th>
                                <!--<th>Pais</th>-->
                                <th>Cantidad de tickets</th>
                                <th>Precio</th>
                                <!--<th>Precio Descuento</th>-->
                                <th>Seleccion asiento</th>
                                <th>Estado</th>
                                <th>Store Item</th>                                
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="prod : ${page.content}" th:id="'prod-' + ${prod.id}">
                                <td th:text="${prod.shortName}">&nbsp;</td>
                                <td th:text="${prod.name}">&nbsp;</td>                                
                                <td th:text="${prod.quantity}">&nbsp;</td>
                                <td th:text="${prod.getPriceText()}">&nbsp;</td>
                                <td th:text="${prod.seatsAvailable} + ' (' + ${prod.seatsPool} + ')'">&nbsp;</td>
                                <td th:text="${prod.status}">&nbsp;</td>
                                <td>
                                    <a th:href="'admin#admin/store/item/' + ${prod.storeItemId}" target="_blank" th:text="${prod.storeItemId}"></a>
                                </td>
                                <td>
                                    <i th:attr="data-id=${prod.id}" class="fa fa-remove action-button" id="delete-prod"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>


                </form>
            </div>
        </div>
    </div>
</div>

<!-- /page content -->
