<script>
    var requireJS = [];
    loadJS(requireJS, "js/common.js");
    loadJS(requireJS, "js/views/event-gifts.js");
</script>

<div class="page-title">
    <div class="title_left">
        <h4><a th:href="'/#admin/events/view/' + ${event.id}" title="Volver al listado"><i class="fa fa-arrow-circle-o-left"></i> Volver</a></h4>
    </div>
</div>
<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Regalos</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <p>Regalar productos a los siguientes afiliados</p>

                <form class="form-horizontal form-label-left" id="form-gifts">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Listado de ids de afiliados:</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" class="form-control" name="membersIds">
                            <small class="text-muted">
                                Lista de ids de afiliados separados por comas.
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Producto:</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select class="form-control" name="product">
                                <option th:each="gift : ${gifts}" th:value="${gift.id}" th:text="${gift.name} + '(' + ${gift.shortName} + ')'"></option>
                            </select>
                            <small class="text-muted">Selecciones el producto disponible, solo internal</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <button class="btn btn-success btne-save" th:attr="data-id=${event.id},data-section='gifts'">Regalar</button>
                        </div>
                    </div>                    
                </form>
            </div>
        </div>
    </div>
</div>

