<script>
    var requireJS = [];
    loadJS(requireJS, "js/common.js");
    loadJS(requireJS, "js/views/event-users.js");
</script>

<div class="page-title">
    <div class="title_left">
        <h4><a th:href="'/#admin/events/view/' + ${event.id}" title="Volver al listado"><i class="fa fa-arrow-circle-o-left"></i> Volver</a></h4>
    </div>
</div>
<div class="clearfix"></div>

<div class="row">
    <div class="x_panel">
        <div class="x_title">
            <h4>Usuarios asignados a este evento</h4>

            <div class="col-md-12 form-inline">
                <div class="form-group">
                    <button class="btn btn-primary action-button" id="new-event-user" style="margin-bottom: 0px !important;" 
                            th:attr="data-id=${event.id}">
                        <i class="fa fa-plus"></i> Nuevo
                    </button>
                </div>
            </div>

            <div class="clearfix"></div>
        </div>
        <div class="x_panel">
            <div class="table-responsive-tall">
                <table class="table table-condensed table-striped jambo_table">
                    <thead>
                        <tr class="headings">
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Admin</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="item : ${hosts}">
                            <td th:text="${item.id}"></td>
                            <td th:text="${item.host.name}"></td>
                            <td th:text="${item.host.email}"></td>
                            <td th:text="${item.host.admin}"></td> 
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>