<script>
    var requireJS = [];
    loadJS(requireJS, 'js/common.js');
    loadCSS('css/flags/flags.min.css');
    loadJS(requireJS, 'vendors/bootstrap-progressbar/bootstrap-progressbar.min.js');
    loadJS(requireJS, 'js/views/event-view.js');
</script>

<div th:if="${event.soldOut}" class="corner-ribbon top-right sticky red" th:text="#{spent}">Agotado</div>

<div class="page-title">
    <div class="title_left">
        <h4><a href="/#admin/events/list" title="Volver al listado"><i class="fa fa-arrow-circle-o-left"></i> Volver al listado</a></h4>
    </div>
</div>
<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    <span th:text="${event.name != null? event.name : event.shortName}"></span>
                </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <div class="col-md-3 col-sm-12 col-xs-12 profile_left">
                    <div class="profile_img">
                        <div id="crop-avatar">
                            <img class="avatar-view" th:src="${event.image} != null ? 'open/event/' + ${event.image} : '/img/no_logo.png'" onerror="this.src='/img/no_logo.png'" width="220" height="220">
                        </div>
                    </div>

                    <h3>
                        <span th:text="${event.shortName}"></span>
                    </h3>

                    <ul class="list-unstyled user_data">
                        <li>
                            <i class="fa fa-map-marker user-profile-icon"></i> 
                            <span th:text="${event.place != null ? event.place : ' No definido'}"></span>
                            <span th:text="${event.placeAddress}"></span>
                        </li>
                        <li>
                            <i class="fa fa-calendar user-profile-icon"></i> 
                            <span th:text="${event.date != null ? event.date : ' No definido'}"></span>
                        </li>
                        <li class="m-top-xs">
                            <i class="fa fa-globe user-profile-icon"></i>&nbsp;
                            <img src="/css/flags/blank.gif" class="flag" th:classappend="'flag-'+ ${#strings.toLowerCase(item)}" th:each='item : ${countries}'/>
                        </li>
                    </ul>

                    <a th:href="'/#admin/events/edit/' + ${event.id}" class="btn btn-success">
                        <i class="fa fa-edit m-right-xs"></i> Configurar Evento
                    </a>
                    <br/>

                    <h4 th:text="#{statistics}">Estadisticas</h4>
                    <ul class="list-unstyled user_data">
                        <li>
                            <p th:text="#{timeLeft}">Tiempo restante</p>
                            <div class="progress progress_sm" th:title="${stats2.remainingDays}">
                                <div class="progress-bar bg-green" role="progressbar" th:attr="data-transitiongoal=${stats2.remaining}"></div>
                            </div>
                        </li>
                        <li>
                            <p th:text="#{ticketsSold}">Tickets vendidos</p>
                            <div class="progress progress_sm"  th:title="${stats2.sellsText}">
                                <div class="progress-bar bg-green" role="progressbar" th:attr="data-transitiongoal=${stats2.sells}"></div>
                            </div>
                        </li>
                        <li>
                            <p th:text="#{registeredTickets}">Tickets Registrados</p>
                            <div class="progress progress_sm" th:title="${stats2.regsText}">
                                <div class="progress-bar bg-green" role="progressbar" th:attr="data-transitiongoal=${stats2.regs}"></div>
                            </div>
                        </li>
                        <li>
                            <p th:text="#{assists}">Asistencias</p>
                            <div class="progress progress_sm" th:title="${stats2.assText}">
                                <div class="progress-bar bg-green" role="progressbar" th:attr="data-transitiongoal=${stats2.ass}"></div>
                            </div>
                        </li>
                    </ul>
                    <!-- end of skills -->
                </div>

                <div class="col-md-9 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2 th:text="#{eventStatus}">Estado del evento</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <span th:switch='${event.status}'>
                                <div th:case="created" class="alert alert-warning" id="event-status" th:text="#{eventCreated}">Evento Creado</div>
                                <div th:case="published" class="alert alert-success" id="event-status" th:text="#{eventPosted}">Evento Publicado</div>
                                <div th:case="finalized" class="alert alert-danger" id="event-status" th:text="#{eventFinished}">Evento Finalizado</div>                                
                            </span>
                            <button class="btn btn-success action-button" id="publish-event" th:if="${event.status =='created'}" th:attr="data-id=${event.id},data-name=${event.name}">Publicar</button>
                            <button class="btn btn-danger action-button" id="finalize-event" th:if="${event.status =='published'}" th:attr="data-id=${event.id},data-name=${event.name}">Finalizar</button>
                        </div>
                    </div>

                    <div class="x_panel">
                        <div class="x_title">
                            <h2 th:text="#{eventElements}">Elementos del evento</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <a class="btn btn-app" th:href="'/#admin/events/tickets/' + ${event.id}">
                                <span class="badge" th:classappend="${stats.tickets > 0} ? 'bg-green' : 'bg-red'" th:text="${stats.tickets}">0</span>
                                <i class="fa fa-ticket"></i> Tickets
                            </a>
                            <a class="btn btn-app" th:href="'/#admin/events/seats/' + ${event.id}">
                                <span class="badge" th:classappend="${stats.seats > 0} ? 'bg-green' : 'bg-red'" th:text="${stats.seats}">0</span>
                                <i class="fa fa-th-large"></i> Asientos
                            </a>
                            <a class="btn btn-app" th:href="'/#admin/events/products/' + ${event.id}">
                                <span class="badge" th:classappend="${stats.products > 0} ? 'bg-green' : 'bg-red'" th:text="${stats.products}">0</span>
                                <i class="fa fa-cubes"></i> Productos
                            </a>
                            <a class="btn btn-app" th:href="'/#admin/events/users/' + ${event.id}">
                                <span class="badge" th:classappend="${stats.users > 0} ? 'bg-green' : 'bg-red'" th:text="${stats.users}">0</span>
                                <i class="fa fa-users"></i> Usuarios
                            </a>
                            <a class="btn btn-app" th:href="'/#admin/events/store/' + ${event.id}">
                                <i class="fa fa-shopping-cart"></i> Tienda
                            </a>
                            <a class="btn btn-app" th:href="'/#admin/events/purchases/' + ${event.id}">
                                <span class="badge" th:classappend="${stats.purchases > 0} ? 'bg-green' : 'bg-red'" th:text="${stats.purchases}">0</span>
                                <i class="fa fa-inbox"></i> Compras
                            </a>
                            <a class="btn btn-app" th:href="'/#admin/events/gifts/' + ${event.id}">
                                <i class="fa fa-gift"></i> Regalos
                            </a>
                        </div>
                    </div>

                    <div class="x_panel">
                        <div class="x_title">
                            <h2 th:text="#{ticketPreview}">Vista previa del ticket</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="row">
                                <div class="col-12">
                                    <strong class="h4" th:text="#{desktopVersion}">Version desktop</strong>
                                    <a href="/open/events/tickets/print/example/desktop" target="_blank" class="btn btn-info btn-xs"><i class="fa fa-print"></i></a>
                                    <a href="/open/events/tickets/example/desktop" target="_blank" class="btn btn-info btn-xs"><i class="fa fa-link"></i></a>
                                </div>                                
                            </div>
                            <iframe style="border: none;" height="350" width="820" src="/open/events/tickets/example/desktop"></iframe>
                            <div class="col-12">
                                <strong class="h4" th:text="#{mobileVersion}">Version móvil</strong>
                                <a href="/open/events/tickets/print/example/mobile" target="_blank" class="btn btn-info btn-xs"><i class="fa fa-print"></i></a>
                                <a href="/open/events/tickets/example/mobile" target="_blank" class="btn btn-info btn-xs"><i class="fa fa-link"></i></a>
                            </div>
                            <iframe style="border: 1px solid #AAAAAA;" height="650" width="350" src="/open/events/tickets/example/mobile"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
