<script>
    var requireJS = [];
    loadJS(requireJS, 'js/common.js');
    loadJS(requireJS, 'js/views/event-seats.js');
</script>


<div class="page-title">
    <div class="title_left">
        <h4><a th:href="'/#admin/events/view/' + ${event.id}" title="Volver al listado"><i class="fa fa-arrow-circle-o-left"></i> Volver</a></h4>
    </div>
</div>
<div class="clearfix"></div>

<div class="row">
    <div class="x_panel">
        <div class="x_title">
            <h2>Asientos generados</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_panel">
            <div class="table-responsive-tall">
                <table class="table table-condensed table-striped jambo_table">
                    <thead>
                        <tr class="headings">
                            <th>#</th>
                            <th th:text="#{date}"></th>
                            <th>Pool</th>
                            <th>Número de asiento</th>
                            <th>Ocupado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="item : ${page.content}">                                
                            <td th:text="${item.id}"></td>
                            <td th:text="${#dates.format(item.creationDate, 'dd/MM/yyyy')}" th:title="${#dates.format(item.creationDate, 'dd/MM/yyyy HH:mm:ss')}"></td>
                            <td th:text="${item.pool}"></td>
                            <td th:text="${item.seatNumber}"></td>
                            <td th:text="${item.taken}"></td> 
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div th:replace="frags/pagination :: paginationbar"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2 class="h4">Generación de Asientos</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>                    
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">            
                <h6>Pool de asientos, permite generar los asientos en distintos bloques para poder rastrearlos, eliminar por bloques, etc.</h6>
                <form class="form-horizontal form-label-left" id="form-seats">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Nombre:</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" class="form-control" name="poolName">
                            <small class="text-muted">Nombre corto, solo para identificación interna, no visible para el cliente</small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Cantidad de asientos:</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" class="form-control" name="poolSeatsQty">
                            <small class="text-muted">Cantidad de asientos asignados a este bloque</small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Patron:</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" class="form-control" name="poolPattern"/>
                            <small class="text-muted">
                                Patrón para generar la numeracion de los asientos, ej: para 100 asientos<br/>
                                AA-### genera (AA-001,AA-002,AA-003,AA-004.....AA-100)<br/>
                                C###A genera (C001A,C002A,C003A,C004A.....C100A)<br/>
                                F1-### genera (F1001,F1002,F1003,F1004.....F1100)<br/>
                                1-#### genera (10001,10002,10003,10004.....10100)<br/>                            
                                La cantidad de ceros a añadir es en base a la cantidad de caracteres #
                            </small>
                        </div>
                    </div>                
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">¿Es privado?:</label>
                        <div class="col-md-1 col-sm-1 col-xs-1">
                            <input type="checkbox" class="form-control" name="poolPrivate"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <small class="text-muted">Si es privado, solo el admin puede asignar estos asientos</small>
                        </div>                        
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <button class="btn btn-success btne-save" th:attr="data-id=${event.id},data-section='seats'">Guardar</button>
                        </div>
                    </div>

                    <table class="table table-bordered" id="table-pools">
                        <thead>
                            <tr>
                                <th>Pool</th>
                                <th>Cantidad de asientos</th>
                                <th>Patrón</th>
                                <th>Privado</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="pool : ${pools}" th:id="'pool-' + ${pool.id}">
                                <td th:text="${pool.name}">&nbsp;</td>
                                <td th:text="${pool.seatsQuantity}">&nbsp;</td>
                                <td th:text="${pool.pattern}">&nbsp;</td>
                                <td th:text="${pool.privatePool}">&nbsp;</td>
                                <td>
                                    <i th:attr="data-id=${pool.id}" class="fa fa-remove action-button" id="delete-pool"></i>
                                </td>
                            </tr>                    
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
