<style>
    html {
        font-family: sans-serif;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
    }
    .ticket{        
        width: 800px;
        height: 300px;
        border: 1px #D3D3D3 solid;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        -webkit-print-color-adjust: exact;
    }
    .qr{                       
        background: white;
        padding: 6px;
        border-radius: 5px;
        position: relative;
        text-align: center;
        width: 200px;
        top: -40px;
    }
    .user-info{                       
        background: white;
        border-radius: 5px;
        padding: 5px;
        color: black;
        padding-left: 20px;
        top: -15px;
        height: 100%;
        width:70%;
        list-style-type: none;

    }
    .ticket-title{
        margin-left: 20px;
    }
    .ticket-data{
        padding-left: 15px;
        line-height: 1px;
    }
    .ticket-footer{                       
        margin-left: 10px;
    }
</style> 

<table class="ticket" th:style="${ticket.event.ticketBackground != null} ? 'background: url(' + @{'/open/event/' + ${ticket.event.ticketBackground}} + ') no-repeat center;' : 'background:' + ${ticket.event.ticketColor} + ';'">
    <tr style="height: 40px;">
        <td colspan="3" th:style="${ticket.event.textColor != null} ? 'color:' + ${ticket.event.textColor} + ';' : 'color:black;'">
            <h2 th:text="${ticket.event.name}" th:if="${ticket.event.showName}" class="ticket-title">Nombre del evento</h2>
        </td>
        <td rowspan="4" style="width: 230px;">
            <div class="qr text-center">
                <img th:src="'/open/events/media/' + ${ticket.ticketCode}" height="150"><br/>
                <span class="text-muted"># <span th:text="${ticket.ticketNumber}"></span> </span>
            </div>
        </td>
    </tr>
    <tr style="height: 25px;">
        <td colspan="3" class="ticket-data">
            <h4><span th:text="${ticket.event.date}" th:if="${ticket.event.showDate}"></span>  <span th:text="${ticket.event.hour}" th:if="${ticket.event.showHour}"></span></h4>
            <h5 th:text="${ticket.event.place}" th:if="${ticket.event.showPlace}">Lugar del Evento</h5>
            <h5 th:text="${ticket.event.placeAddress}" th:if="${ticket.event.showPlaceAddress}">Lugar del Evento</h5>
        </td>
    </tr>
    <tr>
        <td colspan="3" rowspan="2">
            <ul class="list-unstyled user-info">                
                <li><strong th:text="${ticket.getFullName()}">Maximiliano domingez sanchez perez</strong></li>
                <li th:if="${ticket.seatNumber != null}" th:text="${ticket.seatNumber}">Asiento: 25 - Fila: AA</li>
                <li th:each="extra : ${ticket.event.extras}" th:text="${extra.extra}"></li>
            </ul>
        </td>
    </tr>
    <tr>
    </tr>
    <tr style="height: 25px;">
        <td colspan="5" >
            <small class="ticket-footer" th:text="${ticket.event.disclaimer}">That's pretty simple, just do what he did for for box 1 and apply it to box 3/5. There should be 3 columns of equal size, the one's on the outside would contain just 1 row, the one on the inside two rows.</small>
        </td>
    </tr>
</table>        
